{% block _require_js_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _require_modules_widget %}
    {{ block_widget(block) }}
{% endblock %}

{% block _requirejs_scripts_widget %}
    {% set requirejs_config_extend %}
        {%- placeholder requirejs_config_extend -%}
    {% endset %}
    {% include 'OroRequireJSBundle::scripts.html.twig' with {
        compressed: not app.debug,
        config_extend: requirejs_config_extend,
        provider_alias: provider_alias
    } %}
    {{ block_widget(block) }}
{% endblock %}

{% block body_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' body ' ~ (isMobileVersion() ? 'mobile' : 'desktop') ~ '-version'
    }) %}

    <body {{ block('block_attributes') }}>
        <div {{ UI.renderPageComponentAttributes({
            module: 'oroui/js/app/components/app-loading-mask-component'
        }) }}></div>
        <div {{ UI.renderPageComponentAttributes({
            module: 'oroui/js/app/components/app-loading-bar-component'
        }) }}></div>
        {% if isMobileVersion() %}
            <div {{ UI.renderPageComponentAttributes({
                view: 'oroui/js/app/views/swipeable-view',
                options: {_sourceElement: 'body'}
            }) }}></div>
        {% endif %}
        <div id="container" data-layout="separate"
             {{ UI.renderPageComponentAttributes({view: 'oroui/js/app/views/page/content-view'}) }}>
            {{ block_widget(block) }}
        </div>
    </body>
{% endblock %}

{% block _wrapper_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' wrapper'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _page_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-container'
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _page_main_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-main'
    }) %}
    <main{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </main>
{% endblock %}

{% block _page_main_content_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-main__content'
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _page_main_header_widget %}
    {% if block.count > 0 %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' page-main__header'
        }) %}
        <div{{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </div>
    {% endif %}
{% endblock %}


{% block _page_content_widget %}
    {% set visibleSidebarChildren = [] %}
    {% if blocks.page_sidebar is defined %}
        {% for child in blocks.page_sidebar.children %}
            {% if child.vars.visible %}
                {% set visibleSidebarChildren  = visibleSidebarChildren|merge([child]) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' page-content' ~ (visibleSidebarChildren|length > 0 ? ' page-content--has-sidebar')
    }) %}

    <section {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </section>
{% endblock %}

{% block _page_sidebar_widget %}
    {% if block.count > 0 %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' page-sidebar'
        }) %}

        <aside {{ block('block_attributes') }}>
            {{ block_widget(block) }}
        </aside>
    {% endif %}
{% endblock %}

