{% block _middle_bar_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' middlebar'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _middle_bar_logo_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' middlebar__left'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _middle_bar_center_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' middlebar__center'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _middle_bar_right_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' middlebar__right'
    }) %}
    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
