{% if saved is defined and saved %}
    {% set widgetResponse = {
        widget: {
            message: 'oro.ui.jstree.move.success.label'|trans({'%nodes%': nodesName}),
            triggerSuccess: true,
            trigger: [{
                eventBroker: 'widget',
                name: 'formSave',
                args: [changed],
            }],
            remove: true
        }
    } %}

    {{ widgetResponse|json_encode|raw }}
{% else %}
    {% form_theme form with ['OroFormBundle:Form:fields.html.twig', _self] %}
    <div class="widget-content">
        <div class="form-container">
            {% set formAction = app.request.uri %}
            <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ formAction }}" method="post">
                <fieldset class="form form-horizontal">
                    {% set formErrors = form_errors(form) %}

                    {% if formErrors %}
                        <div class="alert alert-error alert-dismissible" role="alert">
                            <button class="close" type="button" data-dismiss="alert" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
                            {{ formErrors|raw }}
                        </div>
                    {% endif %}
                    <div class="span6">
                        <div class="control-group control-group-hidden">
                            <div class="control-label wrap">{{ 'oro.ui.jstree.move.source.label'|trans }}</div>
                            <div class="controls">
                                {% for source in form.vars.value.source %}
                                    {% for parent in source.parents %}
                                        {{ parent.label }}&nbsp;&gt;&nbsp;
                                    {% endfor %}
                                    {{ source.label }}
                                    <br />
                                {% endfor %}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </div>

                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                    </div>
                </fieldset>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
    </div>
{% endif %}
