{% block layout_subtree_update_widget %}
    {% set content = block_widget(block) %}
    {% if block.children is not empty and content|trim|length > 0 %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            blockId : block.vars.id,
            reloadEvents: reloadEvents,
            restoreFormState: restoreFormState,
            showLoading: showLoading,
            onLoadingCssClass: onLoadingCssClass,
            disableControls: disableControls
        },
    }) %}
    <div {{ block('block_attributes') }}>
        {{ content|raw }}
    </div>
    {% endif %}
{% endblock %}

{% block page_subtitle_widget %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    {% set attr = layout_attr_defaults(attr, {'~class': ' customer-profile__title'}) %}
    <h2 {{ block('block_attributes') }}>
        {% if icon %}
            {{ renderIcon.icon({name: icon, extraClass: 'theme-icon--lg'}) }}
        {% endif %}
        <span class="customer-profile__title--text">{{ text|block_text(translation_domain) }}</span>
        {{ block('container_widget') }}
    </h2>
{% endblock %}

{% block _page_subtitle_container_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': " customer-profile__title-wrapper"
    }) %}

    <div {{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block breadcrumbs_widget %}
    {% if breadcrumbs is empty %}
        {% set breadcrumbs = blocks.title.vars.value|split(' - ')|reverse %}
    {% endif %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' breadcrumbs scrollable-container start-scroll-from-end invisible-scrollbar horizontal-scrolling'
    }) %}
    {% import '@OroUI/layouts/renderIcon.html.twig' as renderIcon %}
    <nav aria-label="{{ 'oro.ui.breadcrumb.aria_label'|trans }}">
        <ol {{ block('block_attributes') }}
            data-page-component-view="orofrontend/js/app/views/scroll-shadow-view"
            data-scroll-target>
            {% if breadcrumbs is not iterable %}
                <li class="breadcrumbs__item">
                    <a href="" class="breadcrumbs__link" aria-current="location">{{ breadcrumbs }}</a>
                </li>
            {% else %}
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumbs__item">
                        {% if breadcrumb.label is defined %}
                            {% if breadcrumb.uri is defined %}
                                {% set url = breadcrumb.uri %}
                            {% else %}
                                {% set url = breadcrumb.url %}
                            {% endif %}

                            {% if url and not loop.last %}
                                <a href="{{ url  }}" class="breadcrumbs__link">{{ breadcrumb.label|trans }}</a>
                                <span aria-hidden="true" class="breadcrumbs-separator">{{ renderIcon.icon({name: 'chevron-right', extraClass: 'theme-icon--small'}) }}</span>
                            {% else %}
                                <a href="{{ url  }}" class="breadcrumbs__link" aria-current="location">{{ breadcrumb.label|trans }}</a>
                            {% endif %}
                        {%  else %}
                            {% if not loop.first %}
                                <span aria-hidden="true" class="breadcrumbs-separator">{{ renderIcon.icon({name: 'chevron-right', extraClass: 'theme-icon--small'}) }}</span>
                            {% endif %}
                            <a href="" class="breadcrumbs__link no-decoration" aria-current="location">{{ breadcrumb }}</a>
                        {%  endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ol>
        {{ block('container_widget') }}
    </nav>
{% endblock %}

{% block logo_widget %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% set searchType = oro_theme_configuration_value('header-search_on_smaller_screens') %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' logo'
    }) %}

    {% set src = src|default(asset('bundles/orofrontend/default/images/logo/demob2b-logo.svg')) %}
    {% set srcSmall = logo_small|default(asset('bundles/orofrontend/default/images/logo/demob2b-logo-small.svg')) %}

    {% set attr_img_small = attr_img|default({}) %}
    {% set attr_img_small = layout_attr_defaults(attr_img_small, {
        'srcset': srcSmall,
        'type': 'image/svg+xml',
        'media': '(max-width: 767px)'
    }) %}

    {% set attr_img = attr_img|default({}) %}
    {% set attr_img = layout_attr_defaults(attr_img, {
        'src': src,
        '~class': ' logo-img',
        'alt': 'oro_frontend.logo.alt.label'|trans
    }) %}

    {% if width is defined and width is not null %}
        {% set attr_img = layout_attr_defaults(attr_img, {
            'width': width
        }) %}
    {% endif %}

    {% if height is defined and height is not null %}
        {% set attr_img = layout_attr_defaults(attr_img, {
            'height': height
        }) %}
    {% endif %}

    {% if renderLink and app.request.attributes.get('_route') != route %}
        <a href="{{ path(route) }}" {{ block('block_attributes') }} aria-label="{{ 'oro_frontend.logo.aria_label'|trans }}">
            <picture>
                {% if searchType == 'integrated' %}
                    <source {{ UI.attributes(attr_img_small) }}>
                {% endif %}
                <img {{ UI.attributes(attr_img) }}>
            </picture>
        </a>
    {% else %}
        <div {{ block('block_attributes') }}>
            <picture>
                {% if searchType == 'integrated' %}
                    <source {{ UI.attributes(attr_img_small) }}>
                {% endif %}
                <img {{ UI.attributes(attr_img) }}>
            </picture>
        </div>
    {% endif %}
{% endblock %}
