{% if saved %}
    {% set widgetResponse = {
        widget: {
            trigger: [{
                eventBroker: 'widget',
                name: 'formSave',
                args: [form.vars.value.id],
            }],
        }
    } %}

    {{ widgetResponse|json_encode|raw }}
{% else %}
    {# Quick address update form template #}
    <div class="widget-content">
        <div class="form-container">
            {% if not form.vars.valid and form_errors(form) %}
                <div class="alert alert-error" role="alert" style="margin:0">
                    <div class="message">
                        {{ form_errors(form) }}
                    </div>
                </div>
            {% endif %}

            <form id="{{ form.vars.id }}" name="{{ form.vars.name }}"
                  action="{{ form.vars.value and form.vars.value.id > 0
                      ? addressUpdateUrl
                      : addressCreateUrl
                  }}"
                  method="post" class="form-register form-dialog">
                <fieldset class="form-horizontal">
                    {{ form_widget(form) }}
                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                    </div>
                </fieldset>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
    </div>
{% endif %}
