{% block oro_currency_price_widget %}
    <div class="currency-select-enabled">
        <div class="multicurrency-fields-wrapper value-field input-append">
            {{ form_widget(form.value) }}
            {{ form_widget(form.currency) }}
            {{ form_errors(form.value) }}
            {{ form_errors(form.currency) }}
        </div>
    </div>
{% endblock %}

{% block oro_multicurrency_row %}
    <div class="control-group{% if attr.class is defined %} {{ attr.class }}{% endif %}">
        <div class="control-label wrap">
            {{ form_label(form) }}
        </div>
        <div class="controls{% if errors|length > 0 %} validation-error{% endif %}">
            {% import 'OroUIBundle::macros.html.twig' as UI %}
            <div class="currency-select-enabled" {{ UI.renderPageComponentAttributes({
                module: 'oroui/js/app/components/view-component',
                options: {
                    view: 'orocurrency/js/app/views/multicurrency-control-view',
                    autoRender: true,
                    rates: currencyRates
                }
            }) }}>
                <div class="multicurrency-fields-wrapper value-field input-append">
                    {{ form_widget(form.value) }}
                    {% if form.currency.vars.hidden_field %}
                        <span class="add-on">{{ form.currency.vars.choices[0].label }}</span>
                        <input name="{{ form.currency.vars.full_name }}" type="hidden" value="{{ form.currency.vars.value }}">
                    {% else %}
                        {{ form_widget(form.currency) }}
                    {% endif %}
                </div>
                {% if form.baseCurrencyValue is defined %}
                    <div class="base-currency">
                        <div class="base-currency-field input-append">
                            {{ form_widget(form.baseCurrencyValue) }}
                            {% if defaultCurrency is defined %}
                                <span class="add-on">{{ defaultCurrency }}</span>
                            {% else %}
                                <span class="add-on">{{ form_widget(form.currency) }}</span>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                <div class="default-currency-equivalent" data-name="default-currency-equivalent"></div>
                {{ form_errors(form) }}
                {{ form_errors(form.currency) }}
                {{ form_errors(form.value) }}
                {% if form.baseCurrencyValue is defined %}
                    {{ form_errors(form.baseCurrencyValue) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

