{% import '@OroUI/macros.html.twig' as ui %}
{% import '@OroTag/macros.html.twig' as tag %}
{% import '@OroEntityConfig/macros.html.twig' as entityConfig %}
{% import _self as userInfo %}

{% macro renderEmail(emailAddress, isPrimary, entity) %}
    {% import '@OroEmail/macros.html.twig' as email %}
    {% if isPrimary %}<strong>{% endif %}
        {{ email.renderEmailWithActions(emailAddress, entity) }}
    {% if isPrimary %}</strong>{% endif %}
{% endmacro %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('oro.user.username.label'|trans, entity.username) }}
            {{ ui.renderProperty('oro.user.birthday.label'|trans, ui.render_birthday(entity.birthday)) }}

            {% set emails = [userInfo.renderEmail(entity.email, true, entity)] %}
            {% for emailEntity in entity.emails %}
                {% set emails = emails|merge([userInfo.renderEmail(emailEntity.email, false, entity)]) %}
            {% endfor %}
            {{ ui.renderHtmlProperty('oro.user.emails.label'|trans, emails|join('<br />')) }}

            {{ ui.renderHtmlProperty('oro.user.phone.label'|trans, entity.phone ? ui.renderPhoneWithActions(entity.phone, entity) : null) }}

            {% if is_granted('oro_user_role_view') %}
                {% set roles = [] %}
                {% for entityRole in entity.userRoles %}
                    {% set roles = roles|merge([entityRole.label]) %}
                {% endfor %}
                {{ ui.renderHtmlProperty('oro.user.roles.label'|trans, roles|join('\n')|escape|nl2br) }}
            {% endif %}

            {% if is_granted('oro_user_group_view') and feature_enabled('manage_user_groups') %}
                {{ ui.renderHtmlProperty('oro.user.groups.label'|trans, entity.groups|join('\n')|escape|nl2br) }}
            {% endif %}

            {% if is_granted('oro_business_unit_view') %}
                {{ ui.renderHtmlProperty('oro.user.business_units.label'|trans, entity.businessUnits|join('\n')|escape|nl2br) }}
            {% endif %}

            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
</div>

