{% set options = options|default([])|merge({
    view: 'oroui/js/app/views/content-sidebar-view'
}) %}
{% set class="content-with-sidebar--" %}
<div data-page-component-module="oroui/js/app/components/view-component"
     data-page-component-options="{{ options|json_encode }}"
     class="{{ class }}container">
    <div data-role="sidebar" class="{{ class }}sidebar">
        <div class="{{ class }}controls">
            <div data-role="sidebar-maximize" class="{{ class }}control {{ class }}maximize">
                <i class="fa-forward "></i>
            </div>
            <div data-role="sidebar-minimize" class="{{ class }}control {{ class }}minimize">
                <i class="fa-backward "></i>
            </div>
        </div>
        <div class="{{ class }}sidebar-content">
            {% block sidebar %}
            {% endblock sidebar %}
        </div>
    </div>
    <div data-role="content" class="{{ class }}content">
        {% block content %}
        {% endblock content %}
    </div>
</div>
