<div class="widget-content">
    <script>
        require([
            'jquery',
            'oroui/js/widget-manager'
        ], function(
                $,
                widgetManager
        ) {
            var response = {{ response|json_encode|raw }};
            var responseCode = {{ responseCode|json_encode|raw }};
            var responseMessage = {{ responseMessage|json_encode|raw }};
            var transitionSuccess = {{ transitionSuccess|json_encode|raw }};

            widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                if (transitionSuccess) {
                    widget.trigger('transitionSuccess', response);

                    return;
                }

                widget.trigger('transitionFailure', {status: responseCode, message: responseMessage});
            });
        });
    </script>
</div>
