@name = user_change_password
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = A new password was assigned to you
@isSystem = 1
@isEditable = 1

<!DOCTYPE html><html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <style>
        @media (max-width: 480pt) {
            .wrapper{
                width: 100% !important;
            }
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <table class="wrapper" style="border-collapse: collapse; width: 640px; width: 480pt; max-width: 100%; box-sizing: border-box">
        <tr>
            <td style="background-color: #ffffff; padding: 4pt">
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 14pt; line-height: 14pt; color: #444444">Hello, {{ entity|oro_format_name }}!</span>
                <div style="height: 10pt; line-height: 10pt">&nbsp;</div>
                <p style="color: #444444; font-size: 10pt; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 5pt 0 10pt 0;">
                    Your password was successfully reset. Here is your account information:
                </p>
                <table class="highlight" style="border-collapse:collapse; background: #FFF9E9; color: #827030; width: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 10pt;">
                    <tr>
                        <td style="width: 65pt; padding: 9pt 5pt 0 10.5pt; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top"><strong>Login:</strong></td>
                        <td style="padding: 9pt 9pt 0 0; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">{{ entity.username }}</td>
                    </tr>
                    <tr>
                        <td style="width: 65pt; padding: 0 5pt 9pt 10.5pt; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top"><strong>Password:</strong></td>
                        <td style="padding: 0 9pt 9pt 0; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-size: 10pt; vertical-align: top">{{ plainPassword }}</td>
                    </tr>
                </table>
                <div style="height: 10pt; line-height: 10pt">&nbsp;</div>
                <table style="width: 100%">
                    <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="padding: 5pt 0; background: #2ea63a; width: 180pt; text-align: center">
                            <a style="color: #ffffff; font-size: 11pt; text-transform: uppercase; text-decoration: none; line-height: 1em; font-family: Arial, Helvetica, sans-serif;" href="{{ oro_config_value('oro_ui.application_url') }}{{ path('oro_default') }}" target="_blank">
                                LOGIN&nbsp;AND&nbsp;START&nbsp;TO&nbsp;WORK
                            </a>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
