@name = user_change_password
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = A new password was assigned to you
@isSystem = 1
@isEditable = 1

<h1>Hello, {{ entity|oro_format_name }}!</h1>
<p>A new password was assigned to you.</p>
<p>Please visit <a href="{{ oro_config_value('oro_ui.application_url') }}{{ path('oro_default') }}">
        {{ oro_config_value('oro_ui.application_url') }}{{ path('oro_default') }}</a> and use the following credentials to log in:</p>
<p></p>
<p><strong>Login:</strong> {{ entity.username }}</p>
<p><strong>Password:</strong> {{ plainPassword }}</p>
