@name = user_change_password
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = A new password was assigned to you
@isSystem = 1
@isEditable = 1

<table style="width: 100%; background: #F1F1F1;" border="0">
        <tbody>
        <tr>
                <td>&nbsp;</td>
                <td style="padding: 30px 0 15px 0; text-align: center;"><img src="oro_config_value('oro_ui.application_url') }}/bundles/oroui/images/platform_logo.png" alt="OroCRM" /></td>
                <td>&nbsp;</td>
        </tr>
        <tr>
                <td>&nbsp;</td>
                <td style="width: 640px; background-color: #ffffff; padding: 25px;">
                        <table width="100%">
                                <tbody>
                                <tr>
                                        <td><span style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; line-height: 21.6px;"> Hello, {{ entity|oro_format_name }}! </span></td>
                                        <td  style="text-align: right; white-space: nowrap; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #aaaaaa">{{ system.currentDate }}</td>
                                </tr>
                                </tbody>
                        </table>
                        <p style="color: #888888; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: normal; margin: 10px 0px;">Your password was successfully reset. Here is your account information:</p>
                        <table style="background: #FFF9E9; color: #827030; width: 100%; margin: 10px 0 15px;">
                                <tbody>
                                <tr>
                                        <td style="width: 10px">&nbsp;</td>
                                        <td style="width: 85px; padding: 10px 0 12px">
                                                <p style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; padding: 0; margin: 0"><strong>Login:<br /></strong><strong>Password:</strong></p>
                                        </td>
                                        <td style="width: 200px; padding: 10px 0 12px">
                                                <table><tr><td style="border-right: solid 1px #eeeeee; width: 200px; height: 2em">
                                                                        <p style="font-size: 13px; padding: 0; margin: 0; color: #827030; font-family: Arial, Helvetica, sans-serif">{{ entity.username }}<br />{{ plainPassword }}</p>
                                                                </td></tr></table>
                                        </td>
                                        <td style="font-size: 13px; text-align: center; padding: 10px 10px 12px; color: #827030; font-family: Arial, Helvetica, sans-serif">Good luck and enjoy working!</td>
                                </tr>
                                </tbody>
                        </table>
                        <table style="width: 100%;">
                                <tbody>
                                <tr>
                                        <td>&nbsp;</td>
                                        <td style="padding: 7px; background: #2ea63a; width: 245px; text-align: center"><a style="color: #ffffff; font-size: 15px; text-transform: uppercase; text-decoration: none; line-height: 1em; font-family: Arial, Helvetica, sans-serif;" href="{{ oro_config_value('oro_ui.application_url') }}{{ path('oro_default') }}" target="_blank"> LOGIN&nbsp;AND&nbsp;START&nbsp;TO&nbsp;WORK </a></td>
                                        <td>&nbsp;</td>
                                </tr>
                                </tbody>
                        </table>
                </td>
                <td>&nbsp;</td>
        </tr>
        <tr>
                <td>&nbsp;</td>
                <td style="line-height: 1em; padding: 10px 0 35px 0; text-align: center;"><span style="color: #888888; font-size: 13px; font-family: Arial, Helvetica, sans-serif; font-weight: normal;"> @2015 Oro Ink, All Rights Reserved </span></td>
                <td>&nbsp;</td>
        </tr>
        </tbody>
</table>
