@name = user_change_password
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = The password has been changed
@isSystem = 1
@isEditable = 1

<h1>Hello, {{ entity|oro_format_name }}!</h1>
<p>A new password has been created for you
    at <a href="{{ url('oro_default') }}">{{ url('oro_default') }}</a>
</p>
<p>Please use the following credentials to log in:</p>
<p></p>
<p><strong>Login:</strong> {{ entity.username }}</p>
<p><strong>Password:</strong> {{ plainPassword }}</p>