{% if app.user %}
    <li class="dropdown">
        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">
            {% if isMobileVersion() %}
                <i class="icon-user"></i>
            {% else %}
                {% if app.user.imagePath %}
                    <img class="avatar" src="{{ app.user.imagePath | imagine_filter('avatar_med') }}" alt="{{ app.user|oro_format_name|escape }}"/>
                {%  endif %}
                {{ app.user|oro_format_name|escape }}
                <i class="icon-sort-down"></i>
            {% endif %}
        </a>
        {{ oro_menu_render('usermenu') }}
    </li>
{% else %}
    <li><a href="{{ path('oro_user_security_login') }}">{{ 'Login'|trans }}</a></li>
{% endif %}
