{% if app.user %}
    <li class="dropdown user-menu-dropdown" id="user-menu">
        <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">
            {% if isMobileVersion() %}
                <i class="fa-user-circle"></i>
            {% else %}
                {{ app.user|oro_format_name|escape }}
                {% if app.user.avatar %}
                    <img class="avatar" src="{{ filtered_image_url(app.user.avatar, 'avatar_med') }}" alt="{{ app.user|oro_format_name|escape }}"/>
                {%  endif %}
                <i class="fa-caret-down"></i>
            {% endif %}
        </a>
        {{ oro_menu_render('usermenu') }}
    </li>
{% else %}
    <li><a href="{{ path('oro_user_security_login') }}">{{ 'Login'|trans }}</a></li>
{% endif %}
