{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set containerExtraClass = containerExtraClass is defined ? containerExtraClass : '' %}

<div class="widget-content notes {{ containerExtraClass }}">
    {% block widget_content %}
        {% block widget_actions %}
            <div class="widget-actions">
                {{ UI.clientLink({
                    'aCss': 'collapse-all-button btn-mini',
                    'label' : 'Collapse All'|trans,
                    'dataAttributes': {'action-name': 'collapse_all'}
                }) }}
                {{ UI.clientLink({
                    'aCss': 'btn refresh-button icons-holder-text',
                    'iCss': 'icon-refresh',
                    'title' : 'Refresh'|trans,
                    'dataAttributes': {'action-name': 'refresh'}
                }) }}
                {{ UI.clientLink({
                    'aCss': 'btn sort-button icons-holder-text',
                    'iCss': 'icon-arrow-up',
                    'title' : 'Descending Order'|trans,
                    'dataAttributes': {
                        'action-name': 'toggle_sorting',
                        'title-alt': 'Ascending Order'|trans,
                        'icon-alt': 'icon-arrow-down'
                    }
                }) }}
            </div>
        {% endblock %}

        {% block items_container %}
            {% set options = {
                widgetId: app.request.get('_wid'),
                notesOptions: {
                    template: '#template-note-list',
                    itemTemplate: '#template-note-item',
                    urls: {
                        list: path('oro_note_notes', {
                            'entityClass': oro_class_name(entity, true), 'entityId': entity.id
                        }),
                        createItem: path('oro_note_create', {
                            'entityClass': oro_class_name(entity, true), 'entityId': entity.id
                        }),
                    },
                    routes: {
                        update: 'oro_note_update',
                        delete: 'oro_api_delete_note'
                    }
                },
                notesData: render(path('oro_note_notes', {
                    entityClass: oro_class_name(entity, true), entityId: entity.id
                }))
            } %}

            <div class="container-fluid accordion"
                data-page-component-module="oronote/js/app/components/notes-component"
                data-page-component-options="{{ options|json_encode }}"></div>

            {% include 'OroNoteBundle:Note:js/list.js.twig' with {'id': 'template-note-list'} %}
            {% include 'OroNoteBundle:Note:js/view.js.twig' with {'id': 'template-note-item'} %}
        {% endblock %}
    {% endblock %}
</div>
