{% import '@OroUI/macros.html.twig' as UI %}
{% import _self as organizationSelector %}

{% set curr_organization = get_current_organization() %}
{% set organizationsCount = get_user_organizations_count() %}

{% set organization_name %}
{% apply spaceless %}
    {% placeholder organization_name %}
{% endapply %}
{% endset %}

{% if isDesktopVersion() %}
    {% if organizationsCount > 1 %}
        <div class="nav logo-wrapper dropdown"
           {{ UI.renderPageComponentAttributes({
               module: 'orosecurity/js/app/components/switch-organization-component',
               options: {
                   currentOrganizationId: curr_organization.getId()
               }
           }) }}
        >

            {% set selectorForm = get_organization_selector_form() %}
            {{ form_widget(selectorForm.organization) }}
        </div>
    {% else %}{# if organizationsCount == 1 #}
        <div class="nav logo-wrapper">
            {{ UI.app_logo(organization_name) }}
            {{ organizationSelector.organization_name_and_logo(organization_name) }}
        </div>
    {% endif %}
{% else %}
    {# Mobile view #}
    {% if organizationsCount > 1 %}
        <div class="organization-switcher dropdown"
            {{ UI.renderPageComponentAttributes({
                module: 'orosecurity/js/app/components/switch-organization-component',
                options: {
                    currentOrganizationId: curr_organization.getId()
                }
            }) }}
        >
            {% set selectorForm = get_organization_selector_form() %}
            {{ form_widget(selectorForm.organization) }}
        </div>
    {% else %}{# if organizationsCount == 1 #}
        <h1 class="logo">
            <a href="{{ path('oro_default') }}" title="{{ organization_name|striptags|trim }}" class="organization-name">
                {{- organization_name -}}
            </a>
        </h1>
    {% endif %}
{% endif %}

{% macro organization_name_and_logo(organization_name) %}
    {% if organization_name|length %}
        <div class="logo logo-text">
            <a href="{{ path('oro_default') }}" title="{{ organization_name }}" class="organization-name">
                {{- organization_name -}}
            </a>
        </div>
    {% else %}
        <span class="logo-placeholder"></span>
    {% endif %}
{% endmacro %}
