{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set hasImportProcessor = importProcessor is defined and importProcessor is not empty %}
{% set hasExportProcessor = exportProcessor is defined and exportProcessor is not empty %}
{% set hasExportTemplateProcessor = exportTemplateProcessor is defined and exportTemplateProcessor is not empty %}
{% set hasExportPopupConfig = exportPopupConfig is defined %}
{% set hasExportTemplatePopupConfig = exportTemplatePopupConfig is defined %}
{% set exportAllowed = hasExportProcessor and resource_granted('oro_importexport_export') %}
{% set importAllowed = hasImportProcessor and resource_granted('oro_importexport_import') %}
{% set refreshPageOnSuccess = refreshPageOnSuccess is defined and refreshPageOnSuccess == true %}
{% set importLabel = importLabel|default('oro.importexport.import.label'|trans) %}
{% set exportLabel = exportPopupConfig.exportLabel|default('oro.importexport.export.label'|trans) %}
{% set exportTemplateLabel = hasExportTemplatePopupConfig.label|default('oro.importexport.export_template.label'|trans) %}

{% if exportAllowed or importAllowed %}
    {% if options is not defined %}
        {% set options = {} %}
    {% endif %}

    {% set defaultRouteParams = {'options': options} %}

    {% if importJob is defined %}
        {% set defaultRouteParams = defaultRouteParams|merge({'importJob': importJob}) %}
    {% endif %}
    {% if importValidateJob is defined %}
        {% set defaultRouteParams = defaultRouteParams|merge({'importValidateJob': importValidateJob}) %}
    {% endif %}
    {% if exportJob is defined %}
        {% set defaultRouteParams = defaultRouteParams|merge({'exportJob': exportJob}) %}
    {% endif %}
    {% if exportTemplateJob is defined %}
        {% set defaultRouteParams = defaultRouteParams|merge({'exportTemplateJob': exportTemplateJob}) %}
    {% endif %}

    {% if exportAllowed %}
        {% set exportRoute = hasExportPopupConfig ? 'oro_importexport_export_config' : 'oro_importexport_export_instant' %}
        <div class="btn-group">
            <a type="button"
               class="btn export-btn icons-holder-text no-hash"
               href="{{ path(exportRoute, defaultRouteParams|merge({'processorAlias': exportProcessor, 'entity': entity_class})) }}">
                <i class="icon-upload-alt hide-text">{{ 'oro.importexport.export.label'|trans }}</i>{{ 'oro.importexport.export.label'|trans }}
            </a>
        </div>
    {% endif %}

    {% if importAllowed %}
        <div class="btn-group">
            {% set buttonsHtml %}
                <a type="button"
                   class="btn import-btn icons-holder-text no-hash"
                   href="{{ path('oro_importexport_import_form', defaultRouteParams|merge({'entity': entity_class})) }}">
                    <i class="icon-download-alt hide-text">{{ importLabel }}</i>{{ importLabel }}
                </a>
                {% if hasExportTemplateProcessor %}
                    {% set exportTemplateRoute = hasExportTemplatePopupConfig ? 'oro_importexport_export_template_config' : 'oro_importexport_export_template' %}
                    <a type="button"
                       class="btn template-btn icons-holder-text no-hash"
                       {% if not hasExportTemplatePopupConfig %}target="_blank" {% endif %}
                       href="{{ path(exportTemplateRoute, defaultRouteParams|merge({'processorAlias': exportTemplateProcessor, 'entity': entity_class})) }}">
                        <i class="icon-file-alt hide-text"></i>{{ 'oro.importexport.import.tempate'|trans }}
                    </a>
                {% endif %}
            {% endset %}

            {% set parameters = {
                'html': buttonsHtml
            } %}
            {{ UI.pinnedDropdownButton(parameters) }}
        </div>
    {% endif %}

    <script type="text/javascript">
        require(['jquery', 'orotranslation/js/translator', 'oro/dialog-widget', 'oroui/js/mediator', 'oroimportexport/js/export-handler', 'ready!app'],
        function($, __, DialogWidget, mediator, exportHandler) {
            {% if hasImportProcessor %}
            $('.import-btn').on('click', function(e) {
                e.preventDefault();

                var widget = new DialogWidget({
                    'url': this.href,
                    'title': {{ importTitle|default(importLabel)|json_encode|raw }},
                    'stateEnabled': false,
                    'incrementalPosition': false,
                    'dialogOptions': {
                        'width': 650,
                        'autoResize': true,
                        'modal': true,
                        'minHeight': 100
                    }
                });
                widget.render();

                {% if dataGridName is defined or refreshPageOnSuccess %}
                widget.on('importComplete', function (data) {
                    if (data.success) {
                        {% if refreshPageOnSuccess %}
                            {% if afterRefreshPageMessage is defined and afterRefreshPageMessage is not empty %}
                                mediator.once('page:afterChange', function() {
                                    mediator.execute('showFlashMessage', 'warning', {{ afterRefreshPageMessage|json_encode|raw }});
                                });
                            {% endif %}
                            mediator.execute('refreshPage');
                        {% elseif dataGridName is defined %}
                            mediator.trigger('datagrid:doReset:' + {{ dataGridName|json_encode|raw }});
                        {% endif %}
                    }
                });
                {% endif %}
            });
            {% endif %}

            {% if hasExportTemplateProcessor and hasExportTemplatePopupConfig %}
                $('.template-btn').on('click', function(e) {
                    e.preventDefault();

                    var widget = new DialogWidget({
                        'url': this.href,
                        'title': {{ exportTemplateLabel|default(exportLabel)|json_encode|raw }},
                        'stateEnabled': false,
                        'incrementalPosition': false,
                        'dialogOptions': {
                            'width': 650,
                            'autoResize': true,
                            'modal': true,
                            'minHeight': 100
                        }
                    });
                    widget.render();
                });
            {% endif %}

            {% if hasExportProcessor %}
            $('.export-btn').on('click', function(e) {
                e.preventDefault();

                {% if hasExportPopupConfig %}
                    var widget = new DialogWidget({
                        'url': this.href,
                        'title': {{ exportTitle|default(exportLabel)|json_encode|raw }},
                        'stateEnabled': false,
                        'incrementalPosition': false,
                        'dialogOptions': {
                            'width': 650,
                            'autoResize': true,
                            'modal': true,
                            'minHeight': 100
                        }
                    });
                    widget.render();
                {% else %}
                    var exportStartedMessage = exportHandler.startExportNotificationMessage();
                    $.getJSON(this.href, function(data) {
                        exportStartedMessage.close();
                        exportHandler.handleExportResponse(data);
                    });
                {% endif %}
            });
            {% endif %}
        });
    </script>
{% endif %}
