{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set hasImportProcessor = importProcessor is defined and importProcessor is not empty %}
{% set importAllowed = hasImportProcessor and is_granted('oro_importexport_import') %}
{% set importLabel = importLabel|default('oro.importexport.import.label'|trans) %}
{% set importValidationLabel = importValidationLabel|default('oro.importexport.import.validation_label'|trans) %}

{% set hasExportProcessor = exportProcessor is defined and exportProcessor is not empty %}
{% set exportAllowed = hasExportProcessor and is_granted('oro_importexport_export') %}
{% if exportAllowed %}
    {% set isExportPopupRequired = exportProcessor is iterable and exportProcessor|length > 1 %}
{% endif %}
{% set exportLabel = exportLabel|default('oro.importexport.export.label'|trans) %}

{% set hasExportTemplateProcessor = exportTemplateProcessor is defined and exportTemplateProcessor is not empty %}
{% if hasExportTemplateProcessor %}
    {% set isExportTemplatePopupRequired = exportTemplateProcessor is iterable %}
    {% set exportTemplateProcessor = exportTemplateProcessor is iterable ? exportTemplateProcessor[0] : exportTemplateProcessor %}
{% endif %}

{% set exportTemplateLabel = exportTemplateLabel|default('oro.importexport.export_template.label'|trans) %}

{% if exportAllowed or importAllowed %}
    <span class="pull-left"
        data-page-component-module="oroui/js/app/components/view-component"
        data-page-component-options="{{ {
            view: 'oroimportexport/js/app/views/import-export-buttons-view',
            data: {
                entity: entity_class,
                routeOptions: options|default({}),

                importTitle: importTitle|default(importLabel),
                importJob: importJob|default(null),
                importValidateJob: importValidateJob|default(null),

                exportTitle: exportTitle|default(exportLabel),
                exportJob: exportJob|default(null),
                exportProcessor: exportProcessor|default(null),
                isExportPopupRequired: isExportPopupRequired|default(false),

                exportTemplateTitle: exportTemplateTitle|default(exportLabel),
                exportTemplateJob: exportTemplateJob|default(null),
                exportTemplateProcessor: exportTemplateProcessor|default(null),
                isExportTemplatePopupRequired: isExportTemplatePopupRequired|default(false),

                filePrefix: filePrefix|default(null),
                datagridName: datagridName|default(null),
                afterRefreshPageMessage: afterRefreshPageMessage|default(null),
                refreshPageOnSuccess: refreshPageOnSuccess|default(false),
            }
        }|json_encode }}"
    >
    {% if exportAllowed %}
        <div class="btn-group">
            <a href="#" role="button" class="btn export-btn icons-holder-text no-hash">
                <span class="fa-upload hide-text">{{ 'oro.importexport.export.label'|trans }}</span>{{ 'oro.importexport.export.label'|trans }}
            </a>
        </div>
    {% endif %}

    {% if importAllowed %}
        <div class="btn-group">
            {% set buttonsHtml %}
                <a href="#" role="button" class="btn import-btn icons-holder-text no-hash">
                    <span class="fa-download hide-text">{{ importLabel }}</span>{{ importLabel }}
                </a>
                <a href="#" role="button" class="btn import-validation-btn icons-holder-text no-hash">
                    <span class="icon-download-alt hide-text">{{ importValidationLabel }}</span>{{ importValidationLabel }}
                </a>
                {% if hasExportTemplateProcessor %}
                    <a href="#" role="button" class="btn template-btn icons-holder-text no-hash">
                        <span class="fa-file-o hide-text"></span>{{ 'oro.importexport.import.tempate'|trans }}
                    </a>
                {% endif %}
            {% endset %}

            {% set parameters = {
                'html': buttonsHtml
            } %}
            {{ UI.pinnedDropdownButton(parameters) }}
        </div>
    {% endif %}
    </span>
{% endif %}
