{% if isDesktopVersion() %}
{% set togglerId = 'dropdown-'|uniqid %}
<div class="list-bar-wrapper" id="pinbar">
    <div class="list-bar">
        <ul></ul>
        <div class="pin-bar-empty" ><a href="{{ path('oro_pinbar_help') }}" title="{{ 'oro.navigation.menu.how_to_use_pinbar'|trans }}">{{ 'oro.navigation.menu.how_to_use_pinbar'|trans }}</a></div>
    </div>
    <div class="show-more dropdown"><span role="button" id="{{ togglerId }}" class="dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false" aria-label="{{ 'oro.navigation.pins.more_tabs.label'|trans }}"
        ><span class="fa-ellipsis-v" aria-hidden="true"></span></span><ul class="dropdown-menu" role="menu" aria-labelledby="{{ togglerId }}"></ul></div>
    {{ oro_menu_render('pinbar') }}
</div>
{% endif %}
