{% if isDesktopVersion() %}
{% set pinHelpTogglerId = 'pin-help-dropdown-'|uniqid %}
{% set showMoreTogglerId = 'show-more-dropdown-'|uniqid %}
<div class="list-bar-wrapper" id="pinbar">
    {% set item = oro_menu_get('pinbar') %}
    {% set pinbarItems = [] %}
    {% if item.hasChildren and item.displayChildren %}
        {% for pinbarItem in item.children %}
            {% if pinbarItem.extras.isAllowed %}
                {% set pinbarItems = pinbarItems|merge([{'id': pinbarItem.extras.id, 'title': pinbarItem.label, 'title_rendered': oro_title_render(pinbarItem.label), 'title_rendered_short': oro_title_render_short(pinbarItem.label), 'url': pinbarItem.uri, 'type': pinbarItem.extras.type}]) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% import _self as pinbar %}
    <div class="hide" data-data="{{ pinbarItems|json_encode }}"></div>
    <div class="pin-bar-empty dropdown">
        <a href="#" id="{{ pinHelpTogglerId }}" role="button"
           title="{{ 'oro.navigation.menu.how_to_use_pinbar'|trans }}"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false"
        >{{ 'oro.navigation.menu.how_to_use_pinbar'|trans }}</a>
        <div class="dropdown-menu" aria-labelledby="{{ pinHelpTogglerId }}">
            <button class="btn-link btn-close fa-close" type="button" data-role="close" aria-hidden="true"></button>
            <div class="dropdown-content">{{ 'oro.navigation.pins.help_message'|trans({'%pinIcon%': '<span class="fa-thumb-tack"></span>'})|raw }}</div>
            <button class="btn btn-success no-hash" type="button" title="{{ 'Ok, got it'|trans }}" ><span class="fa-check"></span>{{ 'Ok, got it'|trans }}
            </button>
        </div>
    </div>
    <div class="list-bar">
        <ul></ul>
    </div>
    <div class="show-more dropdown"><span role="button" id="{{ showMoreTogglerId }}" class="dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown"
                                          aria-haspopup="true" aria-expanded="false" aria-label="{{ 'oro.navigation.pins.more_tabs.label'|trans }}"
        ><span class="fa-ellipsis-v" aria-hidden="true"></span></span><div class="dropdown-menu" role="menu" aria-labelledby="{{ showMoreTogglerId }}"
        ><ul class="dropdown-menu-items" data-role="pin-bar-dropdown-items"></ul></div></div>
</div>
{% endif %}
