{% block oro_acl_access_level_selector_widget %}
    {% set additionalClass = '' %}
    {% if form.parent.parent.vars.privileges_config.view_type is defined and form.parent.parent.vars.privileges_config.view_type != 'grid' %}
        {% set additionalClass = 'span2' %}
    {% endif %}
    {% set label = level_label is not defined or level_label is empty ?
        translation_prefix ~ 'NONE' :
        translation_prefix ~ level_label
    %}
    <div class="access_level_value {{ additionalClass }}"
         data-identity="{{ identity }}"
         data-selector-id="{{ id }}"
         data-selector-name="{{ full_name }}"
         data-value="{{ value }}"
    >
        <input type="hidden" data-value-text="{{ label|trans({}, translation_domain) }}" name="{{ full_name }}" value="{{ value }}">
    </div>
{% endblock %}

{% block oro_acl_privilege_identity_widget %}
    {% set class = '' %}
    {% if form.parent.vars.privileges_config.view_type is defined and form.parent.vars.privileges_config.view_type != 'grid' %}
        {% set class = 'span8' %}
    {% endif %}

    {{ form_widget(form, {'attr': {'class': class}}) }}
{% endblock %}

{% block oro_acl_label_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <strong>
        {% if form.vars.isPlatformRole is defined
            and form.vars.isPlatformRole
            and form.vars.roleId|default(false)
            and oro_entity_config_value(form.vars.className, 'field_acl_supported', 'security')
            and oro_entity_config_value(form.vars.className, 'field_acl_enabled', 'security')
        %}
        <a href="{{ url('oro_field_acl_update', {id: form.vars.roleId, className: form.vars.urlSafeClassName}) }}">{{ value|trans }}</a>
        {% else %}
        {{ value|trans }}
        {% endif %}
    </strong>
    {% if form.parent.parent.vars.value.description %}
        {{ UI.tooltip(form.parent.parent.vars.value.description|trans) }}
    {% endif %}
    {% set type = type|default('hidden') %}
    {{ block('form_widget_simple') }}
{% endblock %}

{% block oro_acl_object_name_widget %}
    {{ form_widget(form.oid) }}
    {{ form_widget(form.name) }}
{% endblock %}

{% block oro_acl_collection_widget %}
    <div data-page-component-module="{{ page_component_module|escape }}" data-page-component-options="{{ page_component_options|json_encode|escape }}">
        {% if privileges_config.view_type == 'grid' %}
            <table class="table acl-table">
                <tbody>
                <tr>
                    <th class="span6">&nbsp;</th>
                    <th>{{'oro.security.permissions'|trans }}</th>
                </tr>
                {% for child in form %}
                    {{ form_widget(child) }}
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            {% for child in form %}
                <div class="security-row row-fluid">
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block oro_acl_privilege_widget %}
    {% spaceless %}
        <tr {% if form.vars.value.identity.name == "(default)" %}class="default-field"{% endif %}>
            <td>
                {{ form_widget(form.identity) }}
            </td>
            {% if privileges_config.view_type == 'grid' %}
                <td>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <tbody>
                                {{ form_widget(form.permissions) }}
                            </tbody>
                        </table>
                    </div>
                </td>
            {% else %}
                {{ form_widget(form.permissions) }}
            {% endif %}
        </tr>
    {% endspaceless %}
{% endblock %}

{% block oro_acl_permission_widget %}
    {{ form_widget(form.accessLevel) }}
    {{ form_widget(form.name) }}
{% endblock %}

{% block oro_acl_permission_collection_widget %}
    {% for field in privileges_config['permissions'] %}
        <tr {% if form.parent.vars.value.identity.name == "(default)" %}class="default-field"{% endif %}>
            {% for permission in form %}
                {% if permission.vars.value.name == field %}
                    <td class="span8">
                        {% if privileges_config.view_type == 'grid' %}
                            {% set aclPermission = acl_permission(permission.vars.value) %}

                            {{ aclPermission.label|default(field)|trans }}
                            {% if aclPermission.description %} ({{ aclPermission.description|trans }}){% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {{ form_widget(permission) }}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}
