{# --------------------------- Schedule Intervals ------------------------------------------------------ #}

{% macro schedule_interval_prototype(widget) %}
    {% if 'collection' in widget.vars.block_prefixes %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    {% set hasErrors = (form.activeAt.vars.errors|length or form.deactivateAt.vars.errors|length) %}

    <tr data-content="{{ name }}" data-validation-optional-group class="schedule-interval__row {% if hasErrors %}has-row-error{% endif %}" data-role="schedule-interval-row">
        <td>{{ form_widget(form.activeAt) }}</td>
        <td>{{ form_widget(form.deactivateAt) }}</td>
        <td>
            <button type="button" class="removeRow btn btn-icon btn-square-lighter"><span class="fa-close"></span></button>
        </td>
    </tr>
    <tr {% if not hasErrors %}style="display: none"{% endif %} class="schedule-interval__error-row" data-role="schedule-interval-row-error">
        <td colspan="3">
            {{ form_errors(form) }}
            {{ form_errors(form.activeAt) }}
            {{ form_errors(form.deactivateAt) }}
        </td>
    </tr>
{% endmacro %}

{% block oro_cron_schedule_intervals_collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set prototype_html = _self.schedule_interval_prototype(form) %}
        {% endif %}
        {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-item-collection collection-fields-list' }) %}
        {% set id = id ~ '_collection' %}
        <div class="row-oro schedule-intervals"
             data-page-component-module="oroui/js/app/components/view-component"
             data-page-component-options="{{ {
                 view: 'orocron/js/app/views/schedule-intervals-view',
             }|json_encode }}">
            {% set prototype_name = form.vars.prototype_name %}
            <div {{ block('widget_container_attributes') }}>
                <table class="grid table-hover table table-bordered table-condensed">
                    <thead>
                    <tr>
                        <th><span>{{ 'oro.cron.schedule_interval.active_at.label'|trans }}</span></th>
                        <th><span>{{ 'oro.cron.schedule_interval.deactivate_at.label'|trans }}</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody data-last-index="{{ form.children|length }}" data-row-count-add="{{ form.vars.row_count_add }}" data-prototype-name="{{ prototype_name }}"{% if prototype_html is defined %} data-prototype="{{ prototype_html|escape }}"{% endif %}>
                    {% if form.children|length %}
                        {% for child in form.children %}
                            {{ _self.schedule_interval_prototype(child) }}
                        {% endfor %}
                    {% elseif show_form_when_empty and prototype_html is defined %}
                        {% for i in 0..(form.vars.row_count_initial - 1) %}
                            {{ prototype_html|replace({(prototype_name): i})|raw }}
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
            <a class="btn add-list-item" data-container=".oro-item-collection tbody" href="javascript: void(0);"><i class="fa-plus"></i>{{ 'oro.cron.schedule_interval.add'|trans }}</a>
        </div>
        {% if handle_primary and (prototype is not defined or prototype.primary is defined) %}
            {{ _self.oro_collection_validate_primary_js(_context) }}
        {% endif %}
    {% endspaceless %}
{% endblock %}
