{% extends 'OroActionBundle:Operation:form.html.twig' %}

{% block form_widget %}
    {% set translationCompleteness = context.stat.translationStatus|default(null) %}

    <div>
        <div class="pull-left">
            <span class="fa-info-circle tooltip-icon"
               data-toggle="popover"
               data-content="<div class='oro-popover-content'>{{ 'oro.translation.form.tooltip.translation_completeness'|trans }}</div>"
            ></span>
            {{ 'oro.translation.action.translation_completeness.label'|trans }}&nbsp;</div>
        <div class="pull-right">
            {% if translationCompleteness is not null %}
                <div class="oro-translation-languages">
                    <div class="translation-completeness">
                        <div class="progress">
                            <div class="progress-bar success" style="width: {{ translationCompleteness }}%;"></div>
                        </div>
                        <b class="progress-label">{{ (translationCompleteness / 100)|oro_format_percent }}</b>
                    </div>
                </div>
            {% else %}
                <span class="badge badge-disabled">{{ 'N/A'|trans }}</span>
            {% endif %}
        </div>
    </div>
    {{ form_widget(form) }}
{% endblock %}
