{% extends 'OroConfigBundle::configPage.html.twig' %}

{% import 'OroEmailBundle::macros.html.twig' as emailUI %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set pageTitle = [
        UI.link({
            'path': path('oro_user_index'),
            'label': 'oro.user.entity_plural_label'|trans
        }),
        UI.link({
            'path': path('oro_user_view', {id: entity.id}),
            'label': entity|oro_format_name|default('N/A')
        }),
        UI.link({
            'path': path(routeName, routeParameters),
            'label': 'oro.email.system_configuration.email_configuration'|trans
        }),
        'oro.user.imap_configuration.label'|trans
    ]
%}

{% set routeName = routeName %}
{% set routeParameters = routeParameters %}

{% import 'OroNavigationBundle:Include:contentTags.html.twig' as navigationMacro %}
{% import 'OroConfigBundle::macros.html.twig' as configUI %}

{% form_theme form with ['OroFormBundle:Form:fields.html.twig', 'OroLocaleBundle:Form:fields.html.twig'] %}

{% oro_title_set({params : {"%user%": entity.name }}) %}

{% block content %}
    {% set buttons = '' %}
    {% set html = '' %}
    {% set html = html ~ UI.saveAndCloseButton() %}
    {% set buttons = buttons ~ UI.dropdownSaveButton({'html': html}) %}

    <form
        id="{{ form.vars.id }}"
        name="{{ form.vars.name }}"
        {{ form_enctype(form) }}
        action="{{ formAction }}"
        method="post"
        data-collect="true"
        data-page-component-module="oroconfig/js/form/config-form"
    >
        {{ emailUI.renderMailboxConfigTitleAndButtons(pageTitle, buttons) }}
        <div class="system-configuration-container left-panel-container">
            <div class="placeholder">
                <div class="scrollable-container">
                    {{ configUI.renderTabs(data, activeGroup, activeSubGroup, routeName, routeParameters) }}
                    <div class="system-configuration-content content form-container" id="configuration-options-block">
                        {% set fromErrors = form_errors(form) %}
                        {% if formErrors is defined and formErrors | length %}
                            <div class="customer-info-actions container-fluid well-small alert-wrap">
                                <div class="alert alert-error">
                                    <button class="close" type="button" data-dismiss="alert" data-target=".alert-wrap">×</button>
                                    {{ formErrors|raw }}
                                </div>
                            </div>
                        {% endif %}
                        {% set accordionId = 'system-configuration-collapse' %}
                        <div class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div class="pull-right">
                                        {{ configUI.renderCollapseExpandActions('#configuration-options-block') }}
                                    </div>
                                    <a href="#{{ accordionId }}" data-toggle="collapse" class="accordion-toggle">
                                        {{ 'oro.user.imap_configuration.label'|trans }}
                                    </a>
                                </div>
                                <div class="accordion-body in collapse" id="{{ accordionId }}" >
                                    <div class="accordion-inner">
                                        <fieldset class="form-horizontal form-horizontal-large">
                                            {{ form(form) }}
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{ oro_form_js_validation(form) }}
    {{ navigationMacro.navigationContentTags({name: 'system_configuration', params: [activeGroup, activeSubGroup]}) }}
{% endblock content %}
