{% for item in value %}
    {% spaceless %}
        <span class="cell-context-item">
            <span class="{{ item.icon }}"></span>
            {% if item.link %}
                <a href="{{ item.link }}" class="context-label">{{ item.title }}</a>
            {% else %}
                <span class="context-label">{{ item.title }}</span>
            {% endif %}
        </span>
    {% endspaceless %}
    {{- not loop.last ? ', ' }}
{% endfor %}
