{%- for item in value -%}
    <span class="context-item">
        <span class="{{- item.icon -}}"></span>
        {%- if item.link -%}
            <a href="{{- item.link -}}"><span class="context-label">{{- item.title -}}</span></a>
        {%- else -%}
            <span class="context-label">{{- item.title -}}</span>
        {%- endif -%}
        {{- not loop.last ? ', <br/>' -}}
    </span>
{%- endfor -%}
