{% for item in value %}
    {% spaceless %}
        <span class="cell-context-item">
            <span class="context-icon {{ item.icon }}" aria-hidden="true"></span>
            {% if item.link %}
                <a href="{{ item.link }}" class="context-label" title="{{ item.title }}">{{ item.title }}</a>
            {% else %}
                <span class="context-label" title="{{ item.title }}">{{ item.title }}</span>
            {% endif %}
        </span>
    {% endspaceless %}
{% endfor %}
