<div class="widget-content">
    <table class="table table-hover table-bordered">
        <colgroup>
            <col width="150">
            <col width="250">
            <col width="150">
            <col width="100">
        </colgroup>
        <thead>
            <tr>
                <th>{% trans %}Language{% endtrans %}</th>
                <th>{% trans %}Translation coverage{% endtrans %}<sup>&nbsp;1&nbsp;</sup></th>
                <th>{% trans %}Translation status{% endtrans %}</th>
                <th>{% trans %}Action{% endtrans %}</th>
            </tr>
        </thead>
        {% for language in statistic if language.code != defaultLanguage %}
            {%
                set status = config[language.code] is defined
                    ? config[language.code]
                    : constant('Oro\\Bundle\\TranslationBundle\\Translation\\TranslationStatusInterface::STATUS_NEW')
            %}
            <tr>
                <td>
                    {% if locale[language.code] is defined %}
                        {{ locale[language.code]|trans }}
                    {% else %}
                        {{ language.code|trans }}
                    {% endif %}
                </td>
                <td class="translation-coverage">
                    <div class="progress">
                        <div class="bar bar-success" style="width: {{ language.translationStatus }}%;"></div>
                    </div>
                    <b>{{ (language.translationStatus / 100)|oro_format_percent }}</b>
                </td>
                <td class="translation-status">
                    {% set installedStatus = metaConfig[language.code] is defined ? metaConfig[language.code].translationStatus : 0 %}
                    {% if status != constant('Oro\\Bundle\\TranslationBundle\\Translation\\TranslationStatusInterface::STATUS_NEW') %}
                        {% if (language.translationStatus == installedStatus) %}
                            <span class="status-up-to-date">{% trans %}Up to date{% endtrans %}</span>
                        {% else %}
                            <span class="status-needs-update">{% trans %}Needs update{% endtrans %}</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if status == constant('Oro\\Bundle\\TranslationBundle\\Translation\\TranslationStatusInterface::STATUS_NEW') %}
                        <button class="btn btn-mini" data-lang="{{ language.code }}"
                                data-action="download"
                                data-translation-status="{{ language.translationStatus }}">
                            {{ 'Download'|trans }}
                        </button>
                    {% elseif status == constant('Oro\\Bundle\\TranslationBundle\\Translation\\TranslationStatusInterface::STATUS_DOWNLOADED') %}
                        <button class="btn btn-mini" data-lang="{{ language.code }}" data-action="enable">{{ 'Enable'|trans }}</button>
                    {% elseif status == constant('Oro\\Bundle\\TranslationBundle\\Translation\\TranslationStatusInterface::STATUS_ENABLED') %}
                        <button class="btn btn-mini" data-lang="{{ language.code }}" data-action="disable">{{ 'Disable'|trans }}</button>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="no-statistic">
                    {% trans %}Sorry, but translation statistic is not available.{% endtrans %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

