{% block _root_widget %}
    {{ block('container_widget') }}
{% endblock %}

{% block _widget_content_widget %}
    {% set pageComponentOptions = {
        '_wid': app.request.get('_wid')
    } %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ "widget-content " ~ (class_prefix ? class_prefix),
        'data-page-component-options': pageComponentOptions|merge(attr['data-page-component-options']|default([]))|json_encode
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}

{% block _widget_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ "widget-actions",
    }) %}
    <div{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </div>
{% endblock %}
