{% extends 'OroActivityBundle:js:activityItemTemplate.js.twig' %}
{% set entityClass = 'Oro\\Bundle\\NoteBundle\\Entity\\Note' %}
{% set entityName = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityDetails %}
    {{ entityName|raw }}
    <% var template = (verb == 'create')
        ? {{ 'oro.note.note_added_by'|trans|json_encode|raw }}
        : {{ 'oro.note.note_updated_by'|trans|json_encode|raw }};
    %>
    <%= _.template(template, { interpolate: /\{\{(.+?)\}\}/g })({
        user: '<a class="user" href="' + owner_url + '">' +  _.escape(owner) + '</a>',
        editor: '<a class="user" href="' + editor_url + '">' +  _.escape(editor) + '</a>',
    }) %>
{% endblock %}

{% block activityActions %}
    <div class="more-bar-holder">
        <div class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle activity-item" href="javascript:void(0);">...</a>
            <ul class="dropdown-menu activity-item pull-right launchers-dropdown-menu">
                <li>
                    <ul class="nav nav-pills icons-holder launchers-list">
                        <li class="launcher-item">
                            <a href="javascript:void(0);" class="action item-edit-button" title="{{ 'oro.note.note_update'|trans({'{{ entity }}': entityName})|raw }}">
                                <i class="icon-edit hide-text">{{ 'oro.note.note_update'|trans({'{{ entity }}': entityName})|raw }}</i>
                            </a>
                        </li>
                        <li class="launcher-item">
                            <a href="javascript:void(0);" class="action item-remove-button" title="{{ 'oro.note.note_delete'|trans({'{{ entity }}': entityName})|raw }}">
                                <i class="icon-trash hide-text">{{ 'oro.note.note_delete'|trans({'{{ entity }}': entityName})|raw }}</i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
