{% import 'OroUIBundle::macros.html.twig' as ui %}
{% set entityClass = 'Oro\\Bundle\\NoteBundle\\Entity\\Note' %}
{% set entityName  = oro_entity_config_value(entityClass, 'label')|trans %}
<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="accordion-group">
        <div class="accordion-heading collapse<% if (!collapsed) { %> in<% } %>">
            <div class="title-item">
                <a href="#accordion-item<%= id %>" class="no-hash accordion-toggle<% if (collapsed) { %> collapsed<% } %>"></a>
                <span class="visual">
                    <i class="{{ oro_entity_config_value(entityClass, 'icon')|raw }}"></i>
                    <span>{{ entityName }}</span>
                    <span>
                        <% var template = (verb == 'create')
                            ? {{ 'oro.note.added_by'|trans|lower|json_encode|raw }}
                        : {{ 'oro.note.updated_by'|trans|lower|json_encode|raw }};
                        %>
                        <%= _.template(
                            template,
                            {
                                user: '<a class="user" href="' + actor_url + '">' +  _.escape(owner) + '</a>',
                                date: '<i class="date">' + updatedAt + '</i>'
                            },
                            { interpolate: /\{\{(.+?)\}\}/g }
                        ) %>
                    </span>
                </span>
            </div>
            <div class="actions">
                <button class="btn item-edit-button<% if (!editable) { %> disabled<% } %>" <% if (!editable) { %> disabled="disabled"<% } %>
                title="{{ 'oro.activitylist.widget.update'|trans({'{{ entity }}': entityName})|trans|e('html_attr')|raw }}">
                <i class="icon-edit hide-text">{{ 'oro.activitylist.widget.update'|trans({'{{ entity }}': entityName})|e('html')|raw }}</i>
                </button>
                <button class="btn item-remove-button<% if (!removable) { %> disabled<% } %>" <% if (!removable) { %> disabled="disabled"<% } %>
                title="{{ 'oro.activitylist.widget.delete'|trans|e('html_attr')|raw }}">
                <i class="icon-trash hide-text">{{ 'oro.activitylist.widget.delete'|trans|e('html')|raw }}</i>
                </button>
            </div>
            <div class="message-item">
                <div class="message"><%= subject %></div>
            </div>
        </div>
        <div class="accordion-body collapse<% if (!collapsed) { %> in<% } %>" id="accordion-item<%= id %>">
            <div class="message">
                <% if (data != null) { %>
                    <div class="control-group">
                        <%= data['message'] %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</script>
