<script type="text/html" id="{{ id|e('html_attr')|raw }}">
    <div class="accordion-group">
        <div class="accordion-heading collapse<% if (!collapsed) { %> show<% } %>">
            <div class="title-item">
                <a href="#accordion-item<%= id %>" class="no-hash accordion-toggle<% if (collapsed) { %> collapsed<% } %>"></a>
                <span class="visual">
                    <% if (createdBy_avatar) { %>
                        <span class="avatar">
                            <img src="<%- createdBy_avatar %>" />
                        </span>
                    <% } else { %>
                        <span class="avatar-placeholder fa-user-circle" aria-hidden="true"></span>
                    <% } %>

                    <% if (createdBy_url) { %>
                        <a class="user" href="<%= createdBy_url %>"><%- createdBy %></a>
                    <% } else if (createdBy) { %>
                        <span class="user"><%- createdBy %></span>
                    <% } %>
                </span>
                <span class="details">
                    <i class="date"><%= createdAt %></i>
                </span>
            </div>
            <div class="message-item">
                <div class="message"><%= brief_message %></div>
            </div>
            <div class="actions">
                <button class="btn btn-icon btn-lighter item-edit-button<% if (!editable) { %> disabled<% } %>"
                    <% if (!editable) { %> disabled="disabled"<% } %> title="{{ 'oro.note.action.edit'|trans|e('html_attr')|raw }}">
                        <span class="fa-pencil-square-o" aria-label="{{ 'oro.note.action.edit'|trans|e('html')|raw }}"></span>
                {# Deleted extra space between elements #}
                </button><button
                    class="btn btn-icon btn-lighter item-remove-button<% if (!removable) { %> disabled<% } %>"
                    <% if (!removable) { %> disabled="disabled"<% } %> title="{{ 'oro.note.action.remove'|trans|e('html_attr')|raw }}">
                        <span class="fa-trash-o" aria-label="{{ 'oro.note.action.remove'|trans|e('html')|raw }}"></span>
                </button>
            </div>
        </div>
        <div class="accordion-body collapse<% if (!collapsed) { %> in<% } %>" id="accordion-item<%= id %>">
            <div class="message">
                <%= message %>
            </div>
            <% if (hasUpdate) { %>
            <div class="details">
                <div>
                    <%= _.template(
                        {{ 'oro.note.widget_updated_by'|trans|json_encode|raw }},
                        { interpolate: /\{\{(.+?)\}\}/g }
                    )({
                        user: updatedBy_url
                            ? '<a class="user" href="' + updatedBy_url + '">' +  _.escape(updatedBy) + '</a>'
                            : '<i class="user">' +  _.escape(updatedBy) + '</i>',
                        date: '<i class="date">' + updatedAt + '</i>'
                    }) %>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</script>
