{% block oro_entity_merge_widget %}
    {{ form_javascript(form) }}
    <table class="table table-striped acl-table">
        <thead>
            <tr>
                <td>&nbsp;</td>
                {% for entity in form.vars.value.entities %}
                    <td>
                        {{ oro_entity_merge_render_entity_label(form.vars.value, loop.index - 1) }}
                    </td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr class="default-field">
                <td>
                    <strong>{{ form.masterEntity.vars.label }}</strong>
                </td>
                {% for child in form.masterEntity %}
                    <td>
                        {{ form_widget(child) }}
                    </td>
                {% endfor %}
            </tr>
            {% for child in form.children.fields %}
                {{ form_widget(child) }}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block oro_entity_merge_field_widget %}
    <tr>
        <td>
            {{ form_label(form) }}
        </td>
        {% for child in form.children.sourceEntity %}
            <td>
                {{ form_widget(child) }}
                <label for="{{ child.vars.id }}" {% for attrname, attrvalue in child.vars.label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                    {{ oro_entity_merge_render_field_value(value, loop.index - 1) }}
                </label>
            </td>
        {% endfor %}
    </tr>
{% endblock %}

{% block oro_entity_merge_field_label %}
    {% if label is not sameas(false) %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <strong {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</strong>
    {% endif %}
{% endblock %}
