{% block oro_entity_merge_widget %}
    {{ form_javascript(form) }}
    <table class="table table-striped acl-table table-bordered entity-merge-table">
        <thead>
        <tr class="default-field row-click-action">
            <td class="merge-first-column">
                <strong>{{ form.masterEntity.vars.label|trans|upper }}</strong>
            </td>
            {% for child in form.masterEntity %}
                <td>
                    <div class="entity-merge-blocks-wrapper">
                        <label class="entity-merge-uppercase entity-merge-inline-label">
                            {{ form_widget(child) }}
                            <strong class="merge-entity-representative">
                                {{ (oro_entity_merge_render_entity_label(form.vars.value, loop.index - 1)) }}
                            </strong>
                        </label>
                        <a class="entity-merge-inline entity-merge-select-all" href="javascript:void(0);">
                            Select all
                        </a>
                    </div>
                </td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for child in form.children.fields %}
            {{ form_widget(child) }}
        {% endfor %}
        </tbody>
    </table>

<script type="text/javascript">
    require(['jquery', 'oro/entity-merge/merge-view'],function(){
        mergeView.init();
    });
</script>
{% endblock %}

{% block oro_entity_merge_field_widget %}
    <tr class="row-click-action">
        <td class="merge-first-column">
            <strong>
                {{ form_label(form) }}
            </strong>
            {% if form.children.mode.vars.choices is defined %}
                <div class="entity-merge-strategy-wrapper">

                    <span class="entity-merge-inline entity-merge-strategy-label">
                        {{ form.children.mode.vars.label|trans }}
                    </span>

                    <div class="entity-merge-inline">
                        {{ form_widget(form.children.mode) }}
                    </div>
                </div>
            {% else %}
                {{ form_widget(form.children.mode) }}
            {% endif %}

        </td>
        {% for child in form.children.sourceEntity %}
            <td>
                {{ form_widget(child, {entityOffset: loop.index - 1}) }}
            </td>
        {% endfor %}
    </tr>
{% endblock %}

{% block oro_entity_merge_choice_value_widget %}
    <div class="entity-merge-blocks-wrapper">
        <div class="entity-merge-inline">{{ form_widget(form) }}</div>
        <label class="entity-merge-inline-label merge-entity-representative"
               for="{{ id }}" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ oro_entity_merge_render_field_value(merge_field_data, merge_entity_offset) }}
        </label>
    </div>
{% endblock %}

{% block oro_entity_merge_field_label %}
    {% if label is not sameas(false) %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <strong {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}</strong>
    {% endif %}
{% endblock %}
