{#
    Available variables:
    * entity       - Oro\Bundle\EmailBundle\Model\Email
    * form         - Oro\Bundle\EmailBundle\Form\type\EmailType
    * saved        - bool
#}
{% form_theme form with ['OroFormBundle:Form:fields.html.twig'] %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block page_container %}
<div class="widget-content email-form">
    {% if saved %}
        <script type="text/javascript">
            require(['underscore', 'orotranslation/js/translator', 'oroui/js/widget-manager', 'oroui/js/messenger', 'oroui/js/mediator'],
            function(_, __, widgetManager, messenger, mediator) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    messenger.notificationFlashMessage('success', __('The email was sent'));
                    mediator.trigger('widget_success:' + widget.getAlias());
                    mediator.trigger('widget_success:' + widget.getWid());
                    widget.remove(true);
                });
            });
        </script>
    {% else %}
        {% if not form.vars.valid and form.vars.errors|length %}
            <div class="alert alert-error">
                <div class="message">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}
        <div class="form-container">
            <form id="{{ form.vars.name }}" action="{{ path('oro_email_email_create') }}" method="post">
                <fieldset class="form-horizontal">
                    {{ form_row(form.gridName) }}
                    {{ form_row(form.from) }}
                    {{ form_row(form.to) }}
                    {{ form_row(form.subject) }}
                    {{ form_row(form.template) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.body, {'attr': {'class': 'email-body'} }) }}
                    {{ form_rest(form) }}
                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'Send'|trans }}</button>
                    </div>
                </fieldset>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
        <script type="text/javascript">
            require(['jquery', 'orotranslation/js/translator', 'routing', 'oroui/js/messenger', 'oroui/js/mediator'],
                    function ($, __, routing, messenger, mediator) {
                        $(function () {
                            $('#{{ form.template.vars.id }}').change(function (e) {
                                if (!$(this).val()) {
                                    return;
                                }
                                var url = routing.generate(
                                    'oro_api_get_emailtemplate_compiled',
                                    {'id': $(this).val(), 'entityId': Number('{{ entity.entityId }}')}
                                );

                                mediator.execute('showLoading');

                                $.ajax(url, {
                                    success: function (res) {
                                        $('#{{ form.subject.vars.id }}').val(res.subject);
                                        $('#{{ form.body.vars.id }}').val(res.body);
                                        $('#{{ form.type.vars.id }}')
                                            .find('input[value='+res.type+']')
                                            .prop('checked', true);
                                    },
                                    error: function () {
                                        messenger.notificationMessage('error', __('oro.email.emailtemplate.load_failed'));
                                    },
                                    dataType: 'json'
                                }).always(function () {
                                    mediator.execute('hideLoading');
                                });
                            });
                        });
                    });
        </script>
    {% endif %}
</div>
{% endblock %}
