{#
    Available variables:
    * entity       - email entity Oro\Bundle\EmailBundle\Entity\Email
#}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::macros.html.twig' as EA %}

{% block page_container %}
<div class="container-fluid email-body-holder widget-content">
    {% block content %}
    <div class="form-horizontal">
        <div class="control-group">
            {{ UI.attibuteRow('oro.email.sent_at.label'|trans, entity.sentAt|oro_format_datetime) }}
            {{ UI.attibuteRow('oro.email.from_name.label'|trans, EA.email_address(entity.fromEmailAddress, entity.fromName, true)) }}
            {{ UI.attibuteRow('To'|trans, EA.recipient_email_addresses(entity.recipients('to'), true)) }}
            {{ UI.attibuteRow('Cc'|trans, EA.recipient_email_addresses(entity.recipients('cc'), true)) }}
            {{ UI.attibuteRow('Bcc'|trans, EA.recipient_email_addresses(entity.recipients('bcc'), true)) }}
            {{ UI.attibuteRow('oro.email.subject.label'|trans, entity.subject) }}
            {% if noBodyFound %}
                {% set notFoundMessage %}<strong>{{ 'oro.email.unable_to_load_body'|trans}}</strong>{% endset %}
                {{ UI.attibuteRow('', notFoundMessage) }}
            {% else %}
                {% if entity.emailBody.hasAttachments %}
                    {{ UI.attibuteRow('Attachments'|trans, EA.attachments(entity.emailBody.attachments)) }}
                {% endif %}
                {% if entity.emailBody.bodyContent is empty %}
                    {{ UI.attibuteRow('', 'oro.email.empty_body'|trans) }}
                {% else %}
                    {{ EA.body(entity.emailBody, 'scrollable-container') }}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}
