{% extends 'OroActivityListBundle:ActivityList/js:activityItemTemplate.js.twig' %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}

{% set entityClass = 'Oro\\Bundle\\CalendarBundle\\Entity\\CalendarEvent' %}
{% set entityName  = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityDetails %}
    {{ entityName|raw }}
    <% var template = (verb == 'create')
        ? {{ 'oro.calendar.calendarevent.added_by'|trans|json_encode|raw }}
        : {{ 'oro.calendar.calendarevent.updated_by'|trans|json_encode|raw }};
    %>
    <%= _.template(template, { interpolate: /\{\{(.+?)\}\}/g })({
        user: owner_url ? '<a class="user" href="' + owner_url + '">' +  _.escape(owner) + '</a>' :  '<span class="user">' + _.escape(owner) + '</span>',
        date: '<i class="date">' + createdAt + '</i>',
        editor: editor_url ? '<a class="user" href="' + editor_url + '">' +  _.escape(editor) + '</a>' : _.escape(editor),
        editor_date: '<i class="date">' + updatedAt + '</i>'
    }) %>
{% endblock %}

{% block activityActions %}
    {% set action %}
        {# Add button for add context in the activity list item #}
        {% if resource_granted('oro_calendar_event_update') %}
            {{ AC.activity_context_link() }}
        {% endif %}
    {% endset %}
    {% set actions = [action] %}

    {% set action %}
        <a href="<%= routing.generate('oro_calendar_event_view', {'id': relatedActivityId}) %>"
           title="{{ 'oro.calendar.view'|trans|raw }}"><i
                class="icon-eye-open hide-text">{{ 'oro.calendar.view'|trans|raw }}</i></a>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {% set action %}
        <% if (editable) { %>
        <a href="#" class="action item-edit-button"
           title="{{ 'oro.calendar.calendarevent.update_event'|trans({'{{ entity }}': entityName})|raw }}">
            <i class="icon-edit hide-text">{{ 'oro.calendar.calendarevent.update_event'|trans({'{{ entity }}': entityName})|raw }}</i>
        </a>
        <% } %>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {% set action %}
        <% if (removable) { %>
        <a href="#" class="action item-remove-button"
           title="{{ 'oro.calendar.calendarevent.delete_event'|trans({'{{ entity }}': entityName})|raw }}">
            <i class="icon-trash hide-text">{{ 'oro.calendar.calendarevent.delete_event'|trans({'{{ entity }}': entityName})|raw }}</i>
        </a>
        <% } %>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {{ parent() }}
{% endblock %}
