<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{{ oro_title_render() }}</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">

    {% if oro_theme_icon() %}
        <link rel="shortcut icon" href="{{ asset(oro_theme_icon()) }}" />
    {% endif %}

    {% placeholder head_style %}

    {% include 'OroRequireJSBundle::scripts.html.twig' with {compressed: not app.debug} %}
    <script type="text/javascript">
        require(['jquery', 'oroui/js/init-layout', 'orouser/js/init-signin'],
        function($) {
            $(function() {
                // emulates 'document ready state' for selenium tests
                document['page-rendered'] = true;
            });
        });
    </script>
    {% endblock %}
    {% placeholder scripts_after %}
</head>
<body class="{% if isMobileVersion() %}mobile{% else %}desktop{% endif %}-version {% block bodyClass %}{% endblock %}">
    <div id="page">
        <div id="top-page">
            {% set messagesContent %}
            {% if app.session.flashbag.peekAll|length > 0 %}
                {% for type, messages in app.session.flashbag.all %}
                    {% for message in messages %}
                    <div class="alert{{ type ? ' alert-'~type : '' }}">
                    {{ message|trans|raw }}
                    </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% endset %}

            {% block messages %}
                {{ messagesContent }}
            {% endblock %}

            {% block header %}
            {% endblock header %}

            {% block main %}
                {% block content %}
                {% endblock content %}
            {% endblock main %}
        </div>
    </div>
</body>
</html>
