{% block workflow_view_attribute_row %}
    <div class="control-group">
        <label class="control-label">{{ label|trans }}</label>
        <div class="controls">
            <p class="control-label">
                {% if value is not empty %}
                    {{ oro_workflow_render_view_attribute_value(workflow_item, _context) }}
                {% elseif default is defined and default %}
                    <span class="default-value">{{ default|trans }}</span>
                {% else %}
                    <span class="unknown-value">{{ 'N/A'|trans }}</span>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}

{% block workflow_view_attribute_value %}
    {{ value }}
{% endblock %}

{% block string_workflow_view_attribute_value %}
    {{ value }}
{% endblock %}

{% block text_workflow_view_attribute_value %}
    {{ value|nl2br }}
{% endblock %}

{% block date_workflow_view_attribute_value %}
    {{ value|oro_format_date }}
{% endblock %}

{% block datetime_workflow_view_attribute_value %}
    {{ value|oro_format_datetime }}
{% endblock %}

{% block time_workflow_view_attribute_value %}
    {{ value|oro_format_time }}
{% endblock %}

{% block currency_workflow_view_attribute_value %}
    {% if currency_path is defined %}
        {% set currency = oro_workflow_get_value_by_path(workflow_item, currency_path) %}
    {% endif %}
    {{ value|oro_format_currency({currency: currency|default(null)}) }}
{% endblock %}

{% block decimal_workflow_view_attribute_value %}
    {{ value|oro_format_decimal }}
{% endblock %}

{% block percent_workflow_view_attribute_value %}
    {{ value|oro_format_percent }}
{% endblock %}

{% block spellout_workflow_view_attribute_value %}
    {{ value|oro_format_spellout }}
{% endblock %}

{% block duration_workflow_view_attribute_value %}
    {{ value|oro_format_duration }}
{% endblock %}

{% block datetime_duration_workflow_view_attribute_value %}
    {{ value.format('H:i:s') }}
{% endblock %}

{% block ordinal_workflow_view_attribute_value %}
    {{ value|oro_format_ordinal }}
{% endblock %}

{% block address_workflow_view_attribute_value %}
    {{ value|oro_format_address }}
{% endblock %}

{% block name_workflow_view_attribute_value %}
    {{ value|oro_format_name }}
{% endblock %}
