{% extends 'OroDistributionBundle::base.html.twig' %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('bundles/components/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/orodistribution/js/loader.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/orodistribution/js/util.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/orodistribution/js/package.manager.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/npmassets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/npmassets/bootbox/bootbox.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/bowerassets/jquery-cookie/jquery.cookie.js') }}"></script>

        <script type="text/javascript">

            $(function () {
                $(document).ajaxError(function (event, jqxhr, settings) {
                    loader.displayOriginalElement();
                    if (jqxhr.status === 500) {
                        var message;
                        if (settings.url.substr(0, Urls.install.length) === Urls.install) {
                            message = "{{ 'oro.distribution.messages.ajax_500error'|trans({
                                '{{ action }}': 'oro.distribution.action.install'|trans|lower
                            }) }}";
                        } else if (settings.url.substr(0, Urls.update.length) === Urls.update) {
                            message = "{{ 'oro.distribution.messages.ajax_500error'|trans({
                                '{{ action }}': 'oro.distribution.action.update'|trans|lower
                            }) }}";
                        } else {
                            message = "{{ 'oro.distribution.messages.ajax_500error'|trans({
                                '{{ action }}': 'oro.distribution.messages.perform_the_action_to'|trans|lower
                            }) }}";
                        }
                        util.error(message);
                    } else {
                        util.error("{{ 'oro.distribution.messages.ajax_error'|trans }}");
                    }
                });

                var Urls = {
                    install: "{{ path('oro_distribution_package_install') }}",
                    update: "{{ path('oro_distribution_package_update') }}",
                    available: "{{ path('oro_distribution_package_listavailable') }}",
                    installed: "{{ path('oro_distribution_package_listinstalled') }}"
                };

                var loader = new Loader($('.ajax-loading'));
                var util = new Util($('#alerts'));
                var pm = new PackageManager(Urls, util);
                var ajaxButtons = $('.ajax');
                ajaxButtons.on('click', function () {
                    var me = $(this);
                    if (me.hasClass('disabled')) {
                        return;
                    }

                    var action = me.data('action');
                    var params = me.data('params');
                    var actionParams = {};
                    for (var key in params) {
                        if (params.hasOwnProperty(key)) {
                            if (params[key].indexOf('#') === 0) {
                                var $el = $(params[key]);
                                var val = $el.val();
                                if ($el.attr('required') && (!val || /^\s*$/.test(val))) {
                                    util.error($el.data('required-message'));
                                    return;
                                }
                                actionParams[key] = val;
                            } else {
                                actionParams[key] = params[key];
                            }
                        }
                    }

                    ajaxButtons.addClass('disabled');
                    loader.setClickedElement(me);
                    loader.displayLoadingProgress();
                    pm[action](actionParams, function () {
                        loader.displayOriginalElement();
                        ajaxButtons.removeClass('disabled');
                    });

                    return false;
                });

                util.displayCookieMessage();
            });
        </script>
    {% endblock %}

    {% block page %}
        <div class="wrapper">
            <div id="alerts">
                {% if errors is defined and errors|length > 0 %}
                    <div class="alert fade in alert-error" role="alert">
                        <i class="fa-error"></i>
                        {{ 'oro.distribution.messages.unexpected_error'|trans }}:
                        <ul>
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if notWritableSystemPaths|length > 0 %}
                    <div class="alert fade in alert-notice" role="alert">
                        <i class="fa-info-circle"></i>
                        {{ 'oro.distribution.messages.not_writable'|trans }}:
                        <ul>
                            {% for path in notWritableSystemPaths %}
                                <li>{{ path }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                {% endif %}
            </div>
            <div class="content">
                <img src="{{ asset('bundles/oroinstaller/img/icon/wait.png') }}" alt="" class="ajax-loading"/>

                <div class="title clearfix">
                    <h2 class="pull-left">{{ block('title') }}</h2>

                    <div class="menu pull-right ">
                        {% block menu %} {% endblock %}
                    </div>
                </div>
                <div class="alert alert-warning" role="alert">
                    {{ 'oro.distribution.settings.recommendation'|trans|raw }}
                </div>
                <div class="body">
                    {% block body %} {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
