{% block oro_type_widget_datetime_range_widget %}
    <div class="datetime-range-filter filter-criteria datetime-range-filter-{{ form.vars.name }}">
        <!-- datetime range filter placeholder -->
        <input type="hidden" name="{{ form.vars.full_name }}[part]" value="value"/>
    </div>
    <script type="text/javascript">
        require(
            ['jquery', 'underscore', 'oro/filter/datetime-filter', 'oroui/js/tools', 'orodashboard/js/widget/datetime-range'],
            function ($, _, DateTimeFilter, tools, WidgetConfigDateTimeRangeFilter) {
                $(function () {
                    {% set encodeBitmask = constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_APOS') %}
                    var metadata = JSON.parse('{{ form.vars.datetime_range_metadata|json_encode(encodeBitmask)|raw }}');
                    var DatetimeFilterWithMeta = WidgetConfigDateTimeRangeFilter.extend(metadata);
                    var dateRangeFilter = new DatetimeFilterWithMeta();

                    var valueConfig = {start: '', end: ''};
                    {% if form.vars.value.value != null %}
                        valueConfig = JSON.parse('{{ form.vars.value.value|json_encode|raw }}');
                    {% endif %}

                    valueConfig.startEndPrefix = '{{ form.vars.full_name }}';

                    var value = {
                        part: 'value',
                        type: {{ (form.vars.value.type != '') ? form.vars.value.type : 1 }},
                        value: valueConfig
                    };
                    dateRangeFilter.updateValue(value);
                    dateRangeFilter.render();

                    $('.datetime-range-filter-' + '{{ form.vars.name }}').append(dateRangeFilter.$el);
                    $('div.widget-configuration').parent().not('.ui-widget-content').css('overflow', 'inherit');
                    $('div.widget-configuration').closest('.ui-widget-content').trigger('dialogresize');
                });
            }
        );
    </script>
{% endblock %}

{% block oro_type_widget_date_range_widget %}
    <div class="date-range-filter filter-criteria date-range-filter-{{ form.vars.name }}">
        <!-- datetime range filter placeholder -->
        <input type="hidden" name="{{ form.vars.full_name }}[part]" value="value"/>
    </div>
    <script type="text/javascript">
        require(
            ['jquery', 'underscore', 'orodashboard/js/widget/date-range'],
            function ($, _, WidgetConfigDateRangeFilter) {
                $(function () {
                    {% set encodeBitmask = constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_APOS') %}
                    var metadata = JSON.parse('{{ form.vars.datetime_range_metadata|json_encode(encodeBitmask)|raw }}');
                    var DatetimeFilterWithMeta = WidgetConfigDateRangeFilter.extend(metadata);
                    var dateRangeFilter = new DatetimeFilterWithMeta();

                    var valueConfig = {start: '', end: ''};
                    {% if form.vars.value.value != null %}
                        valueConfig = JSON.parse('{{ form.vars.value.value|json_encode|raw }}');
                    {% endif %}

                    valueConfig.startEndPrefix = '{{ form.vars.full_name }}';

                    var value = {
                        part: 'value',
                        type: {{ (form.vars.value.type != '') ? form.vars.value.type : 1 }},
                        value: valueConfig
                    };
                    dateRangeFilter.updateValue(value);
                    dateRangeFilter.render();

                    $('.date-range-filter-' + '{{ form.vars.name }}').append(dateRangeFilter.$el);
                    $('div.widget-configuration').parent().not('.ui-widget-content').css('overflow', 'inherit');
                    $('div.widget-configuration').closest('.ui-widget-content').trigger('dialogresize');
                });
            }
        )
    </script>
{% endblock oro_type_widget_date_range_widget %}

{% block oro_type_widget_title_widget %}
    <div class="widget-title-widget">
        {{ form_widget(form.title) }}
    </div>
    {{ form_row(form.useDefault) }}
    <script type="text/javascript">
        require(['jquery'], function ($) {
            $(function () {
                var title     = $('input#{{ form.title.vars.id }}');
                var isDefault = $('input#{{ form.useDefault.vars.id }}');

                if (isDefault.prop('checked') == true) {
                    $(title).prop('readonly', 'readonly');
                }
                $(isDefault).change(function() {
                    if ($(this).is(':checked')) {
                        $(title).prop('readonly', 'readonly');
                    } else {
                        $(title).removeAttr('readonly');
                    }
                });
            });
        })
    </script>
{% endblock oro_type_widget_title_widget %}

{% block oro_type_widget_items_row %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set rowId = form.vars.id ~ 'Row' %}

    <div id="{{ rowId }}" class="dashboard-widget-items">
        <div class="control-group">
            <label class="control-label">{{ label|trans }}</label>
            <div class="controls">
                <div class="">
                    {{ UI.clientButton({
                        'aCss': 'no-hash add-button',
                        'label': 'oro.dashboard.datagrid.actions.add.label'|trans
                    }) }}
                    {{ UI.clientButton({
                        'aCss': 'no-hash btn-primary add-all-button',
                        'label': 'oro.dashboard.datagrid.actions.add_all.label'|trans
                    }) }}
                </div>
            </div>
        </div>
        <div class="grid-container">
            <table id="{{ form.vars.id }}" class="grid table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th><span>{{ form.vars.item_label|trans }}</span></th>
                        <th class="action-column"><span>{{ 'oro.dashboard.datagrid.columns.actions'|trans }}</span></th>
                    </tr>
                </thead>
                <tbody class="item-container"></tbody>
            </table>
        </div>
    </div>
    {{ form_javascript(form) }}
{% endblock %}

{% block oro_type_widget_items_javascript %}
    {% set options = {
        itemsData: form.children.items.vars.value,
        baseName: form.children.items.vars.full_name,
        el: '#' ~ form.vars.id ~ 'Row'
    } %}
    {% if form.vars.attr is not empty and form.vars.attr.placeholder is defined %}
        {% set options = options|merge({
            placeholder: form.vars.attr.placeholder|trans
        }) %}
    {% endif %}

    <script>
        require([
            'orodashboard/js/items/view'
        ], function (ItemsView) {
            'use strict';

            new ItemsView({{ options|json_encode|raw }});
        });
    </script>
{% endblock %}

{% block oro_type_widget_date_widget %}
    <div class="widget-date-widget">
        {{ form_widget(form.useDate) }}
    </div>
    <div class="widget-date-input-widget">
        {{ form_widget(form.date) }}
    </div>
    <script type="text/javascript">
        require(['jquery'], function ($) {
            $(function () {
                var useDate = $('input#{{ form.useDate.vars.id }}');

                if (useDate.prop('checked') !== true) {
                    $('input#{{ form.date.vars.id }}').attr('readonly', 'readonly');
                }

                $(useDate).change(function() {
                    var date    = $('input#date_selector_{{ form.date.vars.id }}');
                    if ($(this).is(':checked')) {
                        $(date).datepicker('enable');
                    } else {
                        $(date).datepicker('disable');
                    }
                });
            });
        })
    </script>
{% endblock oro_type_widget_date_widget %}

{% block oro_dashboard_query_filter_widget %}
    {{ form_row(form.entity) }}
    {{ form_row(form.definition) }}
    {% import 'OroSegmentBundle::macros.html.twig' as segmentQD %}
    {{ segmentQD.query_designer_condition_builder({
        'id': name ~ '-condition-builder',
        'criteria_list_id': 'filter-criteria-list',
        'entity_choice_id': widgetType ~ '_' ~ name ~ '_entity'
        })
    }}

    {% set fieldsData = {} %}
    {% if not form.entity.vars.value is empty %}
        {% set encodedEntityName = form.entity.vars.value|replace({'\\': '_'}) %}
        {% set routeParams       = {}|merge({'entityName': encodedEntityName}) %}

        {% set fieldsData = render(path('oro_api_querydesigner_fields_entity', routeParams)) %}
    {% endif %}

    {% set widgetOptions = {
        valueSource: '[data-ftid=' ~ widgetType ~ '_' ~ name ~ '_definition]',
        fieldsLoader: {
            entityChoice:      '[data-ftid=' ~ widgetType ~ '_' ~ name ~ '_entity]',
            loadingMaskParent: '#' ~ form.vars.id,
            router:            'oro_api_querydesigner_fields_entity',
            routingParams:     {},
            fieldsData:        fieldsData,
            confirmMessage:    name|replace('_', '.') ~ '.change_entity_confirmation',
        },
        filters: {
            criteriaList:     '#filter-criteria-list',
            conditionBuilder: '#' ~ name ~ '-condition-builder'
        },
        entities:                     oro_query_filter_entities(),
        metadata:                     oro_query_filter_metadata(),
        initEntityChangeEvents: false
    } %}
    {% set widgetOptions = update_segment_widget_options(widgetOptions, name) %}
        <div data-page-component-module="orosegment/js/app/components/segment-component"
             data-page-component-options="{{ widgetOptions|json_encode }}"></div>
{% endblock oro_dashboard_query_filter_widget %}
