{% block layout_subtree_update_widget %}
    {% set content = block_widget(block) %}
    {% if block.children is not empty and content|trim|length > 0 %}
    {% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'oroui/js/app/components/view-component',
        '~data-page-component-options': {
            view: 'oroui/js/app/views/layout-subtree-view',
            blockId : block.vars.id,
            reloadEvents: reloadEvents,
            restoreFormState: restoreFormState,
            showLoading: showLoading
        },
    }) %}
    <div {{ block('block_attributes') }}>
        {{ content|raw }}
    </div>
    {% endif %}
{% endblock %}

{% block page_subtitle_widget %}
    {% set attr = layout_attr_defaults(attr, {'~class': ' page-subtitle'}) %}
    <h2 {{ block('block_attributes') }}>
        {% if icon %}<span class="badge {{ badge ? 'badge--' ~ badge }}"><i class="fa-{{ icon }}"></i></span>{% endif %}
        <span class="page-subtitle__text">{{ text|block_text(translation_domain) }}</span>
        {{ block('container_widget') }}
    </h2>
{% endblock %}

{% block breadcrumbs_widget %}
    {% if breadcrumbs is empty %}
        {% set breadcrumbs = blocks.title.vars.value|split(' - ')|reverse %}
    {% endif %}

    {% set attr = layout_attr_defaults(attr, {
        '~class': ' breadcrumbs'
    }) %}
    <div {{ block('block_attributes') }}>
        <span class="breadcrumbs__item">
            {% if breadcrumbs is not iterable %}
                {{ breadcrumbs }}
            {% else %}
                {% for breadcrumb in breadcrumbs %}
                    {{ not loop.first ? ' / ' }}
                    {% if breadcrumb.label is defined %}
                        {% if breadcrumb.uri is defined %}
                            {% set url = breadcrumb.uri %}
                        {% else %}
                            {% set url = breadcrumb.url %}
                        {% endif %}

                        {% if url and not loop.last %}
                            <a href="{{ url  }}" class="breadcrumbs__link">{{ breadcrumb.label|trans }}</a>
                        {% else %}
                            {{ breadcrumb.label|trans }}
                        {% endif %}
                    {%  else %}
                        {{ breadcrumb }}
                    {%  endif %}
                {% endfor %}
            {% endif %}
        </span>
        {{ block('container_widget') }}
    </div>
{% endblock %}

{% block logo_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' logo'
    }) %}
    
    {% set attr_img = attr_img|default({}) %}
    {% set attr_img = layout_attr_defaults(attr_img, {
        'src': asset('bundles/orofrontend/blank/images/logo/logo-oroacem.svg'),
        '~class': ' logo-img',
        'alt': 'oro_frontend.logo.alt.label'|trans
    }) %}

    {% if renderLink and app.request.attributes.get('_route') != route %}
        <a href="{{ path(route) }}" {{ block('block_attributes') }}>
            <img {{ UI.attributes(attr_img) }}>
        </a>
    {% else %}
        <div {{ block('block_attributes') }}>
            <img {{ UI.attributes(attr_img) }}>
        </div>
    {% endif %}
{% endblock %}
