{% block oro_config_form_field_type_widget %}
    {% set additionalOptions = {} %}
    {% if form.use_parent_scope_value is defined %}
        {% set additionalOptions = {disabled: form.use_parent_scope_value.vars.data == true} %}
    {% endif %}
    {% set valueContainerId = form.value.vars.id ~ '_container' %}

    {% set valueContainerClass = form.value.vars.attr.class|default('oro-clearfix controls control-subgroup') %}
    {% if form.value.vars.errors|length > 0 %}
        {% set valueContainerClass = valueContainerClass ~ ' validation-error' %}
    {% endif %}

    <div id="{{ valueContainerId }}" class="{{ valueContainerClass }}">
        {{ form_widget(form.value, additionalOptions) }}
        {{ form_errors(form.value) }}
    </div>

    {% if form.use_parent_scope_value is defined %}
        <div class="horizontal parent-scope-checkbox">
            <div class="oro-clearfix">
                {{ form_row(form.use_parent_scope_value) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block oro_config_form_field_type_row %}
    {% if form.vars.label is not defined or not form.vars.label %}
        {{ form_row(form.value) }}
    {% else %}
        {{ form_row(form) }}
    {% endif %}
{% endblock %}

{% block oro_config_parent_scope_checkbox_type_row %}
    {{ form_widget(form) }}
    {{ form_label(form) }}
{% endblock %}
