{% block oro_entity_create_or_select_inline_js_acl_user_autocomplete %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% if form.vars.configs.async_dialogs|default(false) is sameas(true) %}
        {% set asyncNameSegment = 'async-' %}
    {% endif %}
    {% set gridParameters = form.vars.grid_parameters|merge({
        'permission': configs.permission,
        'entity':     configs.entity_name,
        'entity_id':  configs.entity_id
    }) %}

    {% set urlParts = {
        grid: {
            route: 'oro_datagrid_widget',
            parameters: {
                gridName     : form.vars.grid_name,
                params       : gridParameters,
                renderParams : form.vars.grid_render_parameters
            }
        }
    } %}

    {% if form.vars.create_enabled|default(false) is sameas(true) %}
    {% set urlParts = urlParts|merge({
        create: {
            route:      form.vars.create_form_route,
            parameters: form.vars.create_form_route_parameters
        }
    }) %}
    {% endif %}
    <div {{ UI.renderPageComponentAttributes({
        module: 'orocrmchannel/js/app/components/select-create-inline-type-' ~ asyncNameSegment|default('') ~ 'component',
        options: {
            _sourceElement: '#'~id~'-el',
            inputSelector: '#'~id,
            entityLabel: label|trans,
            urlParts: urlParts,
            existingEntityGridId: form.vars.existing_entity_grid_id|default('id'),
            createEnabled: form.vars.create_enabled|default(false)
        }
    }) }} style="display: none"></div>
{% endblock %}

{% block oro_type_widget_owners_row %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block oro_user_apikey_gen_row %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.apiKey, {'apiKeyElementId': apiKeyElementId}) }}
    <button class="btn btn-sm no-hash" id="btn-apigen" title="{{ 'Generate key'|trans }}" type="submit">{{ 'Generate key'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block oro_user_apikey_gen_key_row %}
    <span class="api-key" id="{{ apiKeyElementId }}">{{ value|escape|default('N/A'|trans) }}</span>
{% endblock %}

{% block _user_settings_oro_user___case_insensitive_email_addresses_enabled_value_errors %}
    {%- spaceless -%}
        {% if errors|length > 0 %}
            {% set combinedError = '' %}
            {% for error in errors %}
                {% set combinedError = (combinedError != '') ? combinedError ~ '; ' ~ error.message : error.message %}
            {% endfor %}
            <span class="validation-failed"><span><span>{{ combinedError|raw }}</span></span></span>
        {% endif %}
    {% endspaceless %}
{% endblock %}
