{% block oro_entity_create_or_select_inline_js_acl_user_autocomplete %}
    {% import '@OroUI/macros.html.twig' as UI %}
    {% if form.vars.configs.async_dialogs|default(false) is same as(true) %}
        {% set asyncNameSegment = 'async-' %}
    {% endif %}
    {% set gridParameters = form.vars.grid_parameters|merge({
        'permission': configs.permission,
        'entity':     configs.entity_name,
        'entity_id':  configs.entity_id
    }) %}

    {% set urlParts = {
        grid: {
            route: 'oro_datagrid_widget',
            parameters: {
                gridName     : form.vars.grid_name,
                params       : gridParameters,
                renderParams : form.vars.grid_render_parameters
            }
        }
    } %}

    {% if form.vars.create_enabled|default(false) is same as(true) %}
    {% set urlParts = urlParts|merge({
        create: {
            route:      form.vars.create_form_route,
            parameters: form.vars.create_form_route_parameters
        }
    }) %}
    {% endif %}
    <div {{ UI.renderPageComponentAttributes({
        module: 'orocrmchannel/js/app/components/select-create-inline-type-' ~ asyncNameSegment|default('') ~ 'component',
        options: {
            _sourceElement: '#'~id~'-el',
            inputSelector: '#'~id,
            entityLabel: label|trans,
            urlParts: urlParts,
            existingEntityGridId: form.vars.existing_entity_grid_id|default('id'),
            createEnabled: form.vars.create_enabled|default(false)
        }
    }) }} style="display: none"></div>
{% endblock %}

{% block oro_type_widget_owners_row %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endblock %}

{% block _user_settings_oro_user___case_insensitive_email_addresses_enabled_value_errors %}
    {%- apply spaceless -%}
        {% if errors|length > 0 %}
            {% set combinedError = '' %}
            {% for error in errors %}
                {% set combinedError = (combinedError != '') ? combinedError ~ '; ' ~ error.message : error.message %}
            {% endfor %}
            <div><span class="validation-failed"><span><span>{{ combinedError|raw }}</span></span></span></div>
        {% endif %}
    {% endapply %}
{% endblock %}

{% block oro_user_emailsettings_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{% endblock %}

{% block oro_user_user_organizations_select_widget %}
    <div class="alert alert-info" role="alert">
        <strong>{{ 'oro.user.form.importance'|trans }}</strong>:
        {{ 'oro.user.form.organization.notice'|trans }}
    </div>
    {{ block('oro_organizations_select_widget') }}
{% endblock %}
