{% block oro_business_unit_tree_widget %}
    {% if expanded %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' horizontal' : 'horizontal'}) %}
        {% set attr = attr|merge({'class': attr.class ~ ' validate-group'}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for id, child in form %}
                <div class="oro-clearfix">
                    {{ form_widget(child) }}
                    {{ form_label(child, null , {'raw_label': true}) }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endblock %}

{% block oro_organizations_select_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' horizontal' : 'horizontal'}) %}
        {% set attr = attr|merge({'class': attr.class ~ ' validate-group'}) %}
        <div {{ block('widget_container_attributes') }}>
        {% if form.vars.show_organizations_selector is defined %}
            {% for org in form.vars.organization_tree_ids %}
                <div class="oro-clearfix">
                    <input type="checkbox"
                           id="{{ form.vars.id }}_organizations_{{ org.id }}"
                           name="{{ form.vars.full_name }}[organizations][]" value="{{ org.id }}"
                           {% if org.id in form.vars.selected_organizations %} checked="checked" {% endif %}
                           class="org org-id-{{ org.id }}"
                    />
                    <label for="{{ form.vars.id }}_organizations_{{ org.id }}"><b>{{ org.name }}</b></label>
                </div>
                {% if org.children %}
                    {{ _self.renderOrganizationChildren(form, org.id, org.children, form.vars.selected_business_units) }}
                {% endif %}
            {% endfor %}
        {% else %}
            <input type="hidden" name="{{ form.vars.full_name }}[organizations][]" value="{{ form.default_organization.vars.value }}" />
            {{ _self.renderOrganizationChildren(
                form,
                form.vars.organization_tree_ids[0].organization,
                form.vars.organization_tree_ids,
                form.vars.selected_business_units,
                0
            ) }}
        {% endif %}
        </div>
        {% if form.vars.show_organizations_selector is defined %}
        <script type="text/javascript">
            require(['jquery'],
            function($) {
                'use strict';
                $(function() {
                    $(document).on('change', 'input.bu:checkbox', function (e) {
                        var org_id = $(this).data('organization');
                        $('input.org-id-' + org_id + ':checkbox').prop('checked', true);
                    });
                    $(document).on('change', 'input.org:checkbox', function (e) {
                        if($(this).prop('checked') == false) {
                            $('input.bu:checkbox[data-organization="' + $(this).val() + '"]')
                                .each(function(index, el){
                                    $(el).prop('checked', false);
                                });
                        }
                    });
                });
            });
        </script>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% macro renderOrganizationChildren(form, org_id, children = {}, selected = {}, level = 1) %}
    {% for child in children %}
        <div class="oro-clearfix">
            <span style="float:left;">
            {% if level != 0 %}
                {% for i in 1..level %}
                    {% for si in 0..5 %}{{ '&nbsp;' }}{% endfor %}
                {% endfor %}
            {% endif %}
            </span>
            <input type="checkbox"
                   id="{{ form.vars.id }}_businessUnits_{{ child.id }}"
                   name="{{ form.vars.full_name }}[businessUnits][]"
                   value="{{ child.id }}"
                   {% if child.id in selected %} checked="checked" {% endif %}
                   class="bu"
                   data-organization="{{ org_id }}"
            />
            <label for="{{ form.vars.id }}_businessUnits_{{ child.id }}">{{ child.name }}</label>
        </div>
        {% if child.children is defined %}
            {% set sublevel = level + 1 %}
            {{ _self.renderOrganizationChildren(form, org_id, child.children, selected, sublevel) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block oro_type_choice_ownership_type_widget %}
    {% spaceless %}
        {% if value or disabled %}
            {% for choice in choices %}
                {% if choice.value == value|default('NONE') %}
                    <div class="control-label">{{ choice.label }}</div>
                {% endif %}
            {% endfor %}
            {{ block('hidden_widget') }}
        {% else %}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block oro_business_unit_tree_select_widget %}
    {% set entityId = false %}
    {% if "oro_business_unit_form" == form.parent.vars.name%}
        {% set entityId = form.parent.vars.value.id %}
    {% endif %}
    {% if expanded %}
        {# prevent escaping label because it's done in form type "oro_business_unit_tree" #}
        {% set raw_label = true %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_bu_widget_collapsed') }}
    {% endif %}
{% endblock %}

{% block choice_bu_widget_collapsed %}
    {% spaceless %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_bu_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_bu_widget_collapsed %}

{% block choice_bu_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                {% set disable = '' %}
                {% if forbidden_business_unit_ids is defined  %}
                    {% if choice.value in forbidden_business_unit_ids %}
                        {% set disable = 'disabled="disabled"' %}
                    {% endif %}
                {% else %}
                    {% if not (choice.value in business_unit_ids) or (entityId and entityId == choice.value) %}
                        {% set disable = 'disabled="disabled"' %}
                    {% endif %}
                {% endif %}
                <option {{ disable }} value="{{ choice.value }}"
                {% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                    {%- spaceless -%}
                        {# output is not escaped because it's done form in type "oro_business_unit_tree" #}
                        {{ choice.label|trans({}, translation_domain)|raw }}
                    {%- endspaceless -%}
                </option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_bu_widget_options %}
