{% block oro_business_unit_tree_widget %}
    {% if expanded %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' horizontal' : 'horizontal'}) %}
        {% set attr = attr|merge({'class': attr.class ~ ' validate-group'}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for id, child in form %}
                <div class="oro-clearfix">
                    {{ form_widget(child) }}
                    {{ form_label(child, null , {'raw_label': true}) }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ block('choice_widget_collapsed') }}
    {% endif %}
{% endblock %}

{% block oro_organizations_select_widget %}
    {% spaceless %}
        <input type="hidden" name="{{ form.organizations.vars.full_name }}"
               value="{{ {organizations: form.vars.selected_organizations}|json_encode }}">
        {{ form_widget(form.businessUnits) }}
    {% endspaceless %}
{% endblock %}

{% block oro_type_choice_ownership_type_widget %}
    {% spaceless %}
        {% if value or disabled %}
            {% for choice in choices %}
                {% if choice.value == value|default('NONE') %}
                    <div class="control-label">{{ choice.label }}</div>
                {% endif %}
            {% endfor %}
            {{ block('hidden_widget') }}
        {% else %}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block oro_business_unit_tree_select_widget %}
    {% set entityId = false %}
    {% if "oro_business_unit_form" == form.parent.vars.name%}
        {% set entityId = form.parent.vars.value.id %}
    {% endif %}
    {% if expanded %}
        {# prevent escaping label because it's done in form type "oro_business_unit_tree" #}
        {% set raw_label = true %}
        {{ block('choice_widget_expanded') }}
    {% else %}
        {{ block('choice_bu_widget_collapsed') }}
    {% endif %}
{% endblock %}

{% block choice_bu_widget_collapsed %}
    {% spaceless %}
        <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_bu_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_bu_widget_collapsed %}

{% block choice_bu_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                {% set disable = '' %}
                {% if forbidden_business_unit_ids is defined and forbidden_business_unit_ids|length %}
                    {% if choice.value in forbidden_business_unit_ids %}
                        {% set disable = 'disabled="disabled"' %}
                    {% endif %}
                {% else %}
                    {% if not (business_unit_ids[choice.value] is defined) or (entityId and entityId == choice.value) %}
                        {% set disable = 'disabled="disabled"' %}
                    {% endif %}
                {% endif %}
                <option {{ disable }} value="{{ choice.value }}"
                {% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                    {%- spaceless -%}
                        {% set label = translatable_options is defined and not translatable_options ? choice.label : choice.label|trans({}, translation_domain) %}
                        {# output is not escaped because it's done form in type "oro_business_unit_tree" #}
                        {{ label|raw }}
                    {%- endspaceless -%}
                </option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_bu_widget_options %}
