{% block _oro_digital_asset_sourceFile_widget %}
    {{ block('oro_file_widget') }}

    {%- if value is not empty and value.id and oro_type_is_image(value.mimeType) -%}
        <div class="preview">
            <a class="view-image no-hash"
               tabindex="-1"
               data-gallery="image{{ value.id }}"
               href="{{ filtered_image_url(value, 'digital_asset_large') }}"
            >
                <img class="thumbnail"
                     src="{{ filtered_image_url(value, 'digital_asset_medium') }}"
                     alt="{{ value.originalFilename }}"
                />
            </a>
        </div>
    {%- endif -%}
{% endblock %}

{% block _oro_digital_asset_sourceFile_file_errors %}
    {%- spaceless -%}
        {% if errors|length > 0 %}
            {% set combinedError = '' %}
            {% set newErrors = [] %}
            {% for error in errors %}
                {% if error.message not in newErrors %}
                    {% set newErrors = newErrors|merge([error.message]) %}
                {% endif %}
            {% endfor %}
            {% set combinedError = newErrors|join('; ') %}
            <span class="validation-failed"><span><span>{{ combinedError|oro_html_sanitize }}</span></span></span>
        {% endif %}
    {% endspaceless %}
{% endblock %}
