{% block _oro_digital_asset_sourceFile_widget %}
    {{ block('oro_file_widget') }}

    {%- if value is not empty and value.id and oro_type_is_image(value.mimeType) -%}
        <div class="preview">
            <a class="view-image no-hash"
               tabindex="-1"
               data-gallery="image{{ value.id }}"
               href="{{ filtered_image_url(value, 'digital_asset_large') }}"
            >
                <img class="thumbnail"
                     src="{{ filtered_image_url(value, 'digital_asset_medium') }}"
                     alt="{{ value.originalFilename }}"
                />
            </a>
        </div>
    {%- endif -%}
{% endblock %}

{% block _oro_digital_asset_sourceFile_file_errors %}
    {%- spaceless -%}
        {% if errors|length > 0 %}
            {% set combinedError = '' %}
            {% set newErrors = [] %}
            {% for error in errors %}
                {% if error.message not in newErrors %}
                    {% set newErrors = newErrors|merge([error.message]) %}
                {% endif %}
            {% endfor %}
            {% set combinedError = newErrors|join('; ') %}
            <span class="validation-failed"><span><span>{{ combinedError|oro_html_sanitize }}</span></span></span>
        {% endif %}
    {%- endspaceless -%}
{% endblock %}

{% block oro_file_with_digital_asset_widget %}
    {%- spaceless -%}
        {% import 'OroUIBundle::macros.html.twig' as UI %}

        <div class="digital-asset-item fields-row"
            {{ UI.renderPageComponentAttributes({
                module: 'oroui/js/app/components/view-component',
                options: {
                    view: 'orodigitalasset/js/app/views/digital-asset-choose-form-view',
                    isImageType: dam_widget.is_image_type,
                    isSet: (value is not empty and value.id) or form.digitalAsset.vars.data is not empty,
                    widgetOptions: {
                        title: (dam_widget.is_image_type
                            ? 'oro.digitalasset.dam.dialog.select_image'
                            : 'oro.digitalasset.dam.dialog.select_file')|trans,
                        url: path(dam_widget.route|default('oro_digital_asset_widget_choose'), dam_widget.parameters),
                        dialogOptions: {
                            modal: true,
                            dialogClass: 'digital-asset-dialog'
                        }
                    },
                    selectors: {
                        digitalAssetInput: '#' ~ form.digitalAsset.vars.id,
                        emptyFileInput: (form.emptyFile is defined ? '#' ~ form.emptyFile.vars.id : null),
                    }
                }
            }) }}
        >
            {% if dam_widget.is_valid_digital_asset %}
                {% if dam_widget.preview_metadata %}
                    <a href="{{ dam_widget.preview_metadata.download }}" class="no-hash digital-asset-filename"
                       title="{{ dam_widget.preview_metadata.title }}" data-role="digital-asset-filename">
                        {% if dam_widget.is_image_type and dam_widget.preview_metadata.preview %}
                            <img src="{{ dam_widget.preview_metadata.preview }}"
                                 alt="{{ dam_widget.preview_metadata.title }}"/>
                        {% else %}
                            <i class="{{ dam_widget.preview_metadata.icon }}"></i>
                        {% endif %}
                        {{ dam_widget.preview_metadata.filename }}
                    </a>
                {% endif %}
            {% else %}
                <a href="#" class="no-hash digital-asset-filename" data-role="digital-asset-filename">
                    <i class="fa-file-o"></i>
                    {{ 'oro.digitalasset.dam.form.invalid_digital_asset'|trans }}
                </a>
            {% endif %}

            <div class="digital-asset-controls hide" data-role="digital-asset-controls">
                <a href="#" role="button" data-role="digital-asset-update" class="btn-square-lighter fa-edit"
                   title="{{ 'oro.digitalasset.dam.form.choose_another.label'|trans }}"></a>

                {% if form.emptyFile is defined %}
                    {{ form_row(form.emptyFile) }}

                    <a href="#" role="button" data-role="digital-asset-remove" class="btn-square-lighter fa-close"
                       title="{{ 'oro.digitalasset.dam.form.remove.label'|trans }}"></a>
                {% endif %}
            </div>

            <a href="#" class="btn digital-asset-choose hide" role="button" data-role="digital-asset-choose">
                {{ (dam_widget.is_image_type
                    ? 'oro.digitalasset.dam.form.choose_image.label'
                    : 'oro.digitalasset.dam.form.choose_file.label')|trans }}
            </a>

            {{ form_row(form.digitalAsset) }}
        </div>

        {{ form_errors(form.file) }}
        {{ form_errors(form.digitalAsset) }}
    {%- endspaceless -%}
{% endblock %}
