<div class="widget-content" id="import-validation">
    <style type="text/css">
        #import-validation {
            padding-bottom: 1px;
        }

        .import-errors ol {
            height: 198px;
            overflow: auto;
            padding-left: 25px;
        }

        .import-errors {
            display: none;
        }

        .errors-visible .validation-info {
            display: none;
        }

        .errors-visible .import-errors {
            display: block;
        }

        .errors-visible .error-toggle-head {
            display: block;
            padding: 2px;
            width: 100%;
            margin: 0 0 5px 0;
            background-color: #fafafa;
            border-bottom: 1px solid #e5e5e5;
        }
    </style>

    <div class="validation-info">
        <strong>
        {% if showStrategy %}
            {{ 'Import validation results with strategy "%strategy%"'|trans({'%strategy%': ('oro.importexport.import.' ~ processorAlias)|trans}) }}
        {% else %}
            {{ 'Import validation results'|trans }}
        {% endif %}
        </strong>

        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <div class="pull-right">
                            {{ 'Number of items'|trans }}
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ 'Total number of records'|trans }}</td>
                <td>
                    <div class="pull-right">
                        {{ counts.read|default(0) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{ 'Records to add'|trans }}</td>
                <td>
                    <div class="pull-right">
                        {{ counts.add|default(0) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{ 'Records to replace'|trans }}</td>
                <td>
                    <div class="pull-right">
                        {{ counts.replace|default(0) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{ 'Records to update'|trans }}</td>
                <td>
                    <div class="pull-right">
                        {{ counts.update|default(0) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>{{ 'Records to delete'|trans }}</td>
                <td>
                    <div class="pull-right">
                        {{ counts.delete|default(0) }}
                    </div>
                </td>
            </tr>

            <tr {% if counts.error_entries %}class="error"{% endif %}>
                <td>
                    {% if counts.error_entries > 0 %}
                    <a href="javascript: void(0)" class="error-toggle">
                        {{ 'Records with errors '|trans }}
                    </a>
                    {% else %}
                        {{ 'Records with errors '|trans }}
                    {% endif %}
                </td>
                <td>
                    <div class="pull-right">
                        {{ counts.error_entries|default(0) }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {% if errors|length > 0 %}
    <a href="javascript: void(0)" class="error-toggle error-toggle-head"><i class="icon-chevron-right"></i>{{ 'oro.importexport.import.errors_found'|trans({'%errors%': errors|length}) }}</a>
    <div class="import-errors">
        <ol>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ol>
        <div class="clearfix">
            <div class="pull-right">
                <a href="javascript:void(0);" class="error-toggle">{{ 'Hide'|trans }}</a>
                <a href="{{ errorsUrl }}" target="_blank" class="btn btn-small no-hash"><i class="icon-download-alt"></i>{{ 'Download log'|trans }}</a>
            </div>
        </div>
    </div>
    {% endif %}

    <script type="text/javascript">
        require(['jquery', 'orotranslation/js/translator', 'oroui/js/widget-manager', 'oroui/js/messenger'],
        function($, __, WidgetManager, Messenger) {
            var container = $('#import-validation');
            var toggleErrors = function(e) {
                e.preventDefault();

                container.toggleClass('errors-visible');
                var icon = container.find('.error-toggle-head').find('i');
                if (icon.hasClass('icon-chevron-right')) {
                    icon.removeClass('icon-chevron-right');
                    icon.addClass('icon-chevron-down');
                } else {
                    icon.removeClass('icon-chevron-down');
                    icon.addClass('icon-chevron-right');
                }
            };
            container.find('.error-toggle').on('click', toggleErrors);

            WidgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                var backAction = $('<button type="button" class="btn">{{ 'Back'|trans }}</button>');
                backAction.on('click', function(e) {
                    widget.setUrl({{ path('oro_importexport_import_form', {entity: entityName, importJob: importJob, options: options})|json_encode|raw }});
                    widget.loadContent();
                });
                widget.addAction('back', 'adopted', backAction);

                {% if success %}
                    var importAction = $('<button type="button" class="btn btn-primary">{{ 'Import'|trans }}</button>');
                    importAction.on('click', function(e) {
                        Messenger.notificationFlashMessage(
                            'info',
                            {{ 'Import started, please wait...'|trans|json_encode|raw }}
                        );

                        widget.trigger('beforeContentLoad', widget);
                        $.getJSON({{ path('oro_importexport_import_process', {processorAlias: processorAlias, importJob: importJob, options: options})|json_encode|raw }}, function(data) {
                            widget.trigger('contentLoad', '', widget);
                            widget.trigger('importComplete', data);
                            var message = data.message;
                            if (!data.success && data.errorsUrl) {
                                var link = '<a href="' + data.errorsUrl + '" class="no-hash" target="_blank">' + __('Download error log') + '</a>';
                                message += ' ' + link;
                            }
                            Messenger.notificationFlashMessage(data.success ? 'success' : 'error', data.message);
                            if (data.importInfo !== undefined) {
                                Messenger.notificationMessage('info', data.importInfo);
                            }
                            widget.remove();
                        }).fail(function() {
                            Messenger.notificationFlashMessage('error', {{ 'Import process failed'|trans|json_encode|raw }});
                            widget.trigger('contentLoad', '', widget);
                        });

                    });
                    widget.addAction('import', 'adopted', importAction);
                {% endif %}
            });
        });
    </script>
</div>
