@name = calendar_reminder
@entityName = Oro\Bundle\CalendarBundle\Entity\CalendarEvent
@subject = {{ entity.title }} is starting at {{ entity.start|oro_format_datetime_organization({'organization': entity.calendar.organization}) }}
@isSystem = 1
@isEditable = 1

<h1>{{ entity.title }}</h1>
<div>
    <p>
        <i>When:</i> {{ calendar_date_range_organization(entity.start, entity.end, entity.allDay, 1, null, null, null, entity.calendar.organization) }}
    </p>
    <p><i>Calendar:</i> {{ entity.calendar }}</p>
    <p>{{ entity.description }}</p>
</div>
