{% block oro_quarter_widget -%}
    {% set attr = attr|merge({'class': (attr.class is defined ? attr.class ~ ' ' : '') ~ 'oro-quarter' }) %}
    {% set options = {'disabled': disabled} %}
    <div {{ block('widget_container_attributes') }}>
        {{ date_pattern|replace({
        '{{ year }}':  '',
        '{{ month }}': form_widget(form.month, options),
        '{{ day }}':   form_widget(form.day, options),
        })|raw }}
    </div>
{%- endblock %}

{% block oro_locale_fallback_value_widget %}
    {% if form.vars.group_fallback_fields %}
        <div class="fallback-item-fallback-line">
            <div nowrap="true" class="fallback-item-use-fallback">
                {{ form_widget(form.use_fallback) }}{{ form.use_fallback.vars.label|trans }}
            </div>
            <div class="fallback-item-fallback">
                {{ form_widget(form.fallback, {'attr': {'class': 'fallback'}}) }}
            </div>
        </div>
    {% endif %}
    <div>
        <div class="fallback-item-value{% if form.vars.group_fallback_fields %} fallback-item-value-top{% endif %}">
            {{ form_widget(form.value, {'attr': {'class' : 'fallback-item-value-input'}}) }}
        </div>
        {% if not form.vars.group_fallback_fields %}
            <div class="fallback-item-fallback-line">
                <div nowrap="true" class="fallback-item-use-fallback">
                    {{ form_widget(form.use_fallback) }}{{ form.use_fallback.vars.label|trans }}
                </div>
                <div class="fallback-item-fallback {% if form.vars.exclude_parent_localization %}hide{% endif %}">
                    {{ form_widget(form.fallback, {'attr': {'class': 'fallback'}}) }}
                </div>
            </div>
        {% endif %}
    </div>

    {{ form_errors(form.value) }}
    {{ form_errors(form.fallback) }}
{% endblock %}

{% block oro_locale_localized_property_widget %}
    <div class="fallback-container"
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {view: 'orolocale/js/app/views/fallback-view'}|json_encode }}"
            data-layout="separate"
            >
        <div class="fallback-item">
            <div class="fallback-item-value fallback-item-value--first">
                <div class="input-append">
                    <div class="input-group">
                        {{ form_widget(form.default) }}
                        {{ form_errors(form.default) }}
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-icon btn-square-default fallback-status"></button>
                    </div>
                </div>
            </div>
            <div class="fallback-item-label">{{ form.default.vars.label|trans }}</div>
        </div>
        {% for localization in form.localizations %}
            <div class="fallback-item" style="display: none;">
                <div class="fallback-item-label {% if localization.vars.group_fallback_fields %}fallback-item-top{% endif %}">{{ localization.vars.label|trans }}</div>
                <div {% if localization.vars.group_fallback_fields %}class="fallback-item-top"{% endif %}>
                    {{ form_widget(localization) }}
                    {{ form_errors(localization) }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block oro_locale_localized_fallback_value_collection_widget %}
    <div class="control-group">
        {{ form_widget(form.values) }}
        {{ form_errors(form.values) }}
        {{ form_widget(form.ids) }}
        {{ form_errors(form.ids) }}
    </div>
{% endblock %}

{% block _language_settings_oro_locale___language_value_widget %}
    <span data-page-component-module="oroui/js/app/components/view-component"
       data-page-component-options="{{ {view: 'orolocale/js/app/views/language-select-view'}|json_encode }}"
    >
        {{ form_widget(form) }}
    </span>
{% endblock %}

{% block _language_settings_oro_locale___languages_value_widget %}
    <span data-page-component-module="oroui/js/app/components/view-component"
          data-page-component-options="{{ {view: 'orolocale/js/app/views/languages-select-view'}|json_encode }}"
    >
        {{ form_widget(form) }}
    </span>
{% endblock %}

{% block _localization_oro_locale___default_localization_value_widget %}
    <span data-page-component-module="oroui/js/app/components/view-component"
          data-page-component-options="{{ {view: 'orolocale/js/app/views/localization-select-view'}|json_encode }}"
    >
        {{ form_widget(form) }}
    </span>
{% endblock %}

{% block _localization_oro_locale___enabled_localizations_value_widget %}
    <span data-page-component-module="oroui/js/app/components/view-component"
          data-page-component-options="{{ {view: 'orolocale/js/app/views/localizations-select-view'}|json_encode }}"
    >
        {{ form_widget(form) }}
    </span>
{% endblock %}
