{% block oro_file_widget %}
    {% spaceless %}
        <div class="control-group" style="margin-bottom: 0">
            {{ form_widget(form.file) }}
            {% if form_errors(form.file) %}
                <div style="clear:both; float:left">
                    {{ form_errors(form.file) }}
                </div>
            {% endif %}
        </div>
        {% if value is not empty %}
            {% if value.originalFilename is not empty %}
                {% set parentEntity = form.parent.vars.value %}
                {% set fieldName = form.vars.name %}

                {% if form.emptyFile is defined%}
                {% set inputId = form.emptyFile.vars.id %}
                {% set buttonId = inputId ~ 'btn' %}
                {% set divId = inputId ~ 'div' %}
                <div id="{{ divId }}" class="well well-small oro_attachment_file">
                    {{ oro_file_view(parentEntity, fieldName, value) }}
                    {{ form_row(form.emptyFile) }}
                    <button id = "{{ buttonId }}" class="btn btn-action btn-link" type="button" data-related="{{ form.emptyFile.vars.name }}"></button>
                </div>
                <script type="text/javascript">
                    require(['jquery'],
                    function($){
                        $(function() {
                            $(document).on('click', '#{{ buttonId }}', function() {
                                $('#{{ divId }}').hide();
                                $('#{{ inputId }}').val('true');
                                return false;
                            });
                        });
                    });
                </script>
                {% else %}
                    <div class="well well-small oro_attachment_file">
                        {{ oro_file_view(parentEntity, fieldName, value) }}
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block oro_image_widget %}
    {% spaceless %}
        <div class="control-group" style="margin-bottom: 0">
            {%  if form.vars.name == 'attachment'  %}
                <div class="attachment-file">
                    {% set jsonParams = '{"initializeOptions":{"fileDefaultHtml":"' ~ "Attach file:"|trans  ~ '" ,"fileButtonHtml":"' ~ "Upload"|trans  ~ '"}}' %}
                    {{ form_widget(form.file,
                        {'attr': {'data-input-widget-options': jsonParams }
                        })
                    }}
                </div>
            {%  else %}
                {{ form_widget(form.file) }}
            {% endif %}
            {% if form_errors(form.file) %}
                <div style="clear:both; float:left">
                    {{ form_errors(form.file) }}
                </div>
            {% endif %}
        </div>
        {% if value is not empty %}
            {% if value.originalFilename is not empty %}
                {% set parentEntity = form.parent.vars.value %}
                {% set fieldName = form.vars.name %}

                {% if form.emptyFile is defined%}
                {% set inputId = form.emptyFile.vars.id %}
                {% set buttonId = inputId ~ 'btn' %}
                {% set divId = inputId ~ 'div' %}
                <div id="{{ divId }}" class="attachment_item">
                    <i class="icon-paper-clip"></i>
                    <a href="{{ file_url(parentEntity, fieldName, value, 'download', true) }}" class="no-hash filename" title="{{ value.originalFilename }}">
                        {{  value.originalFilename }}
                    </a>
                    ({{ file_size(value.fileSize) }})
                    {{ form_row(form.emptyFile) }}
                    <i id = "{{ buttonId }}" class="btn btn-link icon-remove remove-attachment" type="button" data-related="{{ form.emptyFile.vars.name }}"></i>
                    <script type="text/javascript">
                        require(['jquery'],
                            function($){
                                $(function() {
                                    $(document).on('click', '#{{ buttonId }}', function() {
                                        $('#{{ divId }}').hide();
                                        $('#{{ inputId }}').val('true');
                                        return false;
                                    });
                                });
                            });
                    </script>
                </div>
                {% else %}
                    <div class="well well-small oro_attachment_file">
                        <a href="{{ file_url(parentEntity, fieldName, value, 'download', true) }}" class="no-hash filename" title="{{ value.originalFilename }}">
                            <img src="{{ resized_image_url(value) }}" alt="{{ value.originalFilename }}" />
                            {{ value.originalFilename }}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}
