{% block oro_file_widget %}
    {% spaceless %}
        <div class="control-group">
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
        </div>
        {% if value is not empty %}
            {% if form.emptyFile is defined %}
                {{ form_row(form.emptyFile) }}
            {% endif %}
            {% if value.originalFilename is not empty %}
                {{ oro_file_view(value) }}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block oro_image_widget %}
    {% spaceless %}
        <div class="control-group">
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
        </div>
        {% if value is not empty %}
            {% if form.emptyFile is defined %}
                {{ form_row(form.emptyFile) }}
            {% endif %}
            {% if value.originalFilename is not empty %}
                {{ oro_image_view(value) }}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}
