{% block oro_file_widget %}
    {% spaceless %}
        <div class="control-group" style="margin-bottom: 0">
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
        </div>
        {% if value is not empty %}
            {% if value.originalFilename is not empty %}
                {% set parentEntity = form.parent.vars.value %}
                {% set fieldName = form.vars.name %}

                {% set inputId = form.emptyFile.vars.id %}
                {% set buttonId = inputId ~ 'btn' %}
                {% set divId = inputId ~ 'div' %}
                <div id="{{ divId }}" class="oro_attachment_file">
                    {{ oro_file_view(parentEntity, fieldName, value) }}
                    {{ form_row(form.emptyFile) }}
                    <button id = "{{ buttonId }}" class="removeFile btn btn-action btn-link" type="button" data-related="{{ form.emptyFile.vars.name }}">
                        <i class="icon-remove"></i>
                    </button>
                </div>
                <script type="text/javascript">
                    require(['jquery'],
                        function($){
                            $(function() {
                                $(document).on('click', '#{{ buttonId }}', function() {
                                    $('#{{ divId }}').hide();
                                    $('#{{ inputId }}').val('true');
                                    return false;
                                });
                            });
                        });
                </script>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block oro_image_widget %}
    {% spaceless %}
        <div class="control-group" style="margin-bottom: 0">
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
        </div>
        {% if value is not empty %}
            {% if value.originalFilename is not empty %}
                {% set parentEntity = form.parent.vars.value %}
                {% set fieldName = form.vars.name %}
                {% set inputId = form.emptyFile.vars.id %}
                {% set buttonId = inputId ~ 'btn' %}
                {% set divId = inputId ~ 'div' %}
                <div id="{{ divId }}" class="oro_attachment_file">
                    <a href="{{ oro_attachment_url(parentEntity, fieldName, value, 'download', true) }}" class="no-hash">
                        <img src="{{ oro_resized_attachment_url(value) }}" alt="{{ value.originalFilename }}" />
                        {{ value.originalFilename }}
                    </a>
                    {{ form_row(form.emptyFile) }}
                    <button id = "{{ buttonId }}" class="removeFile btn btn-action btn-link" type="button" data-related="{{ form.emptyFile.vars.name }}">
                        <i class="icon-remove"></i>
                    </button>
                    <script type="text/javascript">
                        require(['jquery'],
                            function($){
                                $(function() {
                                    $(document).on('click', '#{{ buttonId }}', function() {
                                        $('#{{ divId }}').hide();
                                        $('#{{ inputId }}').val('true');
                                        return false;
                                    });
                                });
                            });
                    </script>
                </div>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock %}
