{# TODO: add row actions #}

{% block datagrid_row_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " grid-row"
    }) %}

    <tr{{ block('block_attributes') }}>
        {% for child in block if child.vars.visible -%}
            {{ block_widget(child, {'datagrid_row': datagrid_row}) }}
        {%- endfor %}
    </tr>
{% endblock %}

{% block datagrid_cell_widget %}
    {# TODO: inject `datagrid` for getting datagrid metadata (need for rendering column) #}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " string-cell grid-cell grid-body-cell grid-body-cell-" ~ column_name
    }) %}

    <td{{ block('block_attributes') }}>
        {% for child in block if child.vars.visible -%}
            {{ block_widget(child, {'datagrid_row': datagrid_row}) }}
        {%- endfor %}
    </td>
{% endblock %}

{%- block datagrid_cell_value_widget -%}
    {{ datagrid_row[column_name] }}
{%- endblock -%}
