{% block datagrid_header_row_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " grid-header-row"
    }) %}

    <tr{{ block('block_attributes') }}>
        {% for child in block if child.vars.visible -%}
            {% do child|merge_context({'datagrid': datagrid}) %}
            {{ block_widget(child) }}
        {%- endfor %}
    </tr>
{% endblock %}

{% block datagrid_header_cell_widget %}
    {% set columnAttributes = oro_datagrid_column_attributes(datagrid, column_name) %}

    {% set columnClass = " grid-cell grid-header-cell grid-header-cell-" ~ column_name ~ " " ~columnAttributes.type ~ "-cell" %}
    {% if columnAttributes.sortable is defined and columnAttributes.sortable %}
        {% set columnClass = columnClass ~ " sortable" %}
    {% endif %}

    {% if columnAttributes.renderable is defined and columnAttributes.renderable %}
        {% set columnClass = columnClass ~ " renderable" %}
    {% endif %}

    {% set attr = attr|merge({
        class: attr.class|default('') ~ columnClass
    }) %}

    <th{{ block('block_attributes') }}>
        {% if columnAttributes.sortable is defined and columnAttributes.sortable %}
            <a class="grid-header-cell__link" href="#">
                <span class="grid-header-cell__label">{{ columnAttributes.label }}</span>
                <span class="caret"></span>
            </a>
        {% else %}
            <span class="grid-header-cell__label">
                {{ columnAttributes.label }}
            </span>
        {% endif %}
    </th>
{% endblock %}
