{% block oro_workflow_transition_row %}
    <fieldset class="form-horizontal">
        {{ form_rest(form) }}
    </fieldset>

    <div class="widget-actions">
        <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
        <button type="submit" class="btn btn-success">{{ 'Submit'|trans }}</button>
    </div>
{% endblock %}

{% block _oro_workflow_definition_form_label_widget %}
    {{ form_widget(form) }}
    <span id="workflow_translate_link_label"></span>
{% endblock %}

{% block oro_workflow_replacement_row %}
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-error" role="alert">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="alert alert-warning workflow-deactivation-message" role="alert">
        <div class="message">
            {% if workflowsToDeactivation %}
                <p>
                    {{ 'oro.workflow.workflowdefinition.form.workflow_to_deactivation_message'|trans }}
                    <ul>
                        {% for workflowToDeactivation in workflowsToDeactivation %}
                            <li>
                                <a href="{{ path('oro_workflow_definition_view', {name: workflowToDeactivation.name}) }}">{{ workflowToDeactivation.label|trans({},'workflows') }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
            <p>{{ 'oro.workflow.workflowdefinition.form.replace_message'|trans }}</p>
        </div>
    </div>

    {{ form_start(form, {
        'action': app.request.uri,
        'attr': {
            'id': form.vars.id,
            'class': 'form-dialog',
            'data-collect': 'true'
        }
    }) }}
        <fieldset class="form-horizontal">
            {{ form_widget(form) }}
        </fieldset>

        <div class="hidden">
            {{ form_rest(form) }}
        </div>

        <div class="widget-actions">
            <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
            <button type="button" data-action-name="activate" class="btn btn-success">{{ 'oro.workflow.workflowdefinition.datagrid.activate'|trans }}</button>
        </div>
    {{ form_end(form) }}
    {{ oro_form_js_validation(form) }}
{% endblock %}
