{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroCalendarBundle::invitations.html.twig' as invitations %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroActivityBundle::macros.html.twig' as AC %}

{% oro_title_set({params : {"%entity.title%": entity.title|default('N/A') }}) %}

{% block navButtons %}
    {% if app.user and entity.relatedAttendee and entity.relatedAttendee.user and app.user.id == entity.relatedAttendee.user.id  %}
        {% include 'OroCalendarBundle:CalendarEvent:invitationButtons.html.twig' with {'entity': entity} %}
    {% endif %}

    {% if entity.parent is empty and resource_granted('EDIT', entity) %}
        {# Button for add context on the activity list item view page #}
        {{ AC.addContextButton(entity) }}
        {{ UI.editButton({
            'path' : path('oro_calendar_event_update', { id: entity.id }),
            'entity_label': 'oro.calendar.calendarevent.entity_label'|trans
        })  }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl':      path('oro_calendar_event_delete', {'id': entity.id, 'notifyInvitedUsers': true}),
            'dataRedirect': path('oro_calendar_event_index'),
            'aCss':         'no-hash remove-button',
            'dataId':       entity.id,
            'entity_label': 'oro.calendar.calendarevent.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block stats %}
    {# Display contexts targets in the activity view page #}
    <li class="context-data activity-context-activity-block">
        {{ AC.activity_contexts(entity) }}
    </li>
{% endblock %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_calendar_event_index'),
        'indexLabel':  'oro.calendar.calendarevent.entity_plural_label'|trans,
        'entityTitle': entity.title|default('N/A'),
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% set relatedAttendee = entity.relatedAttendee %}
        {% if relatedAttendee and relatedAttendee.status %}
            {% set invitationClass = invitations.get_invitatition_badge_class(relatedAttendee.status.id) %}
            {% if entity.relatedAttendee.status and invitationClass %}
                <div class="invitation-status badge badge-{{ invitationClass }} status-{{ invitationClass }}">
                    <i class="icon-status-{{ invitationClass }} icon-circle"></i>
                    {{ entity.relatedAttendee.status.name }}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block content_data %}
    {%- set calendarEventInformation -%}
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('oro.calendar.calendarevent.title.label'|trans, entity.title) }}
                {{ UI.renderHtmlProperty('oro.calendar.calendarevent.description.label'|trans, entity.description|raw|nl2br) }}
                {{ UI.renderProperty('oro.calendar.calendarevent.start.label'|trans, entity.start|oro_format_datetime) }}
                {{ UI.renderProperty('oro.calendar.calendarevent.end.label'|trans, entity.end|oro_format_datetime) }}
                {{ UI.renderProperty('oro.calendar.calendarevent.all_day.label'|trans, entity.allDay ? 'Yes'|trans : 'No'|trans) }}
                {% set invitationEvent = entity.parent ?: entity %}
                {% if invitationEvent and invitationEvent.attendees is not empty %}
                    {{ UI.renderHtmlProperty('oro.calendar.calendarevent.attendees.label'|trans, invitations.calendar_event_invitation(invitationEvent)) }}
                {% endif %}
                {% if entity.recurrence %}
                    {{ UI.renderProperty('oro.calendar.calendarevent.recurrence.label'|trans, get_recurrence_text_value(entity.recurrence)) }}
                {% endif %}
                {% if entity.recurringEvent %}
                    {{ UI.renderProperty('oro.calendar.calendarevent.recurrence.exception.label'|trans, get_recurrence_text_value(entity.recurringEvent.recurrence)) }}
                {% endif %}
            </div>
            <div class="responsive-block">
                {{ entityConfig.renderDynamicFields(entity) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [calendarEventInformation]}
            ]
        }
    ] %}

    {% set id = 'calendarEventView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
