{% import '@OroUI/macros.html.twig' as UI %}

{% if isDesktopVersion() %}

{% set contentProviderContent = oro_get_content(null, ['navigationElements'])|first %}
<div id="bookmark-buttons">
    <div class="navigation clearfix">
        <div class="top-action-box">
            {% apply spaceless %}
            <button class="btn btn-icon btn-light-custom favorite-button{% if contentProviderContent['favoriteButton'] == false %} hide{% endif %}"
                    type="button"
                    data-title="{{ oro_title_render_serialized() }}"
                    data-title-rendered="{{ oro_title_render() }}"
                    data-title-rendered-short="{{ oro_title_render_short() }}"
                    title="{{ 'oro.navigation.favorites.button.title'|trans }}"
                    {{ UI.renderPageComponentAttributes({
                        module: 'oronavigation/js/app/components/favorite-component',
                        options: {
                            dataSource: '#favorite-content [data-data]',
                            buttonOptions: {
                                navigationElementType: 'favoriteButton'
                            },
                            tabOptions: {
                                el: '#favorite-content',
                                listSelector: '.extra-list',
                                fallbackSelector: '.no-data'
                            }
                        }
                    }) }}>
                        <span class="fa-star-o"></span>
                        {{- 'oro.navigation.favorites.button'|trans -}}
            </button>
            <button class="btn btn-icon btn-light-custom minimize-button{% if contentProviderContent['pinButton'] == false %} hide{% endif %}"
                    type="button"
                    data-title="{{ oro_title_render_serialized() }}"
                    data-title-rendered="{{ oro_title_render() }}"
                    data-title-rendered-short="{{ oro_title_render_short() }}"
                    title="{{ 'oro.navigation.pins.button.title'|trans }}"
                    {{ UI.renderPageComponentAttributes({
                        module: 'oronavigation/js/app/components/pin-component',
                        options: {
                            dataSource: '#pinbar [data-data]',
                            buttonOptions: {
                                navigationElementType: 'pinButton'
                            },
                            dropdownOptions: {
                                el: '#pinbar .show-more',
                                listSelector: '[data-role="pin-bar-dropdown-items"]'
                            },
                            barOptions: {
                                el: '#pinbar',
                                listSelector: '.list-bar ul',
                                fallbackSelector: '.pin-bar-empty'
                            }
                        }
                    }) }}>
                        <span class="fa-thumb-tack"></span>
                        {{- 'oro.navigation.pins.button'|trans -}}
            </button>
            {% endapply %}
        </div>
    </div>
</div>

{% endif %}
<script {{ UI.renderPageComponentAttributes({
    view: 'oronavigation/js/app/views/page-state-view',
    name: 'page-state-component',
    options: {
        el: '#container',
        keepElement: true
    }
}) }}></script>
