{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set contentProviderContent = oro_ui_content_provider_manager.getContent(['navigationElements'])|first %}
<div id="bookmark-buttons">
    <div class="navigation clearfix">
        <div class="top-action-box">
            {% spaceless %}
            <button class="btn btn-icon btn-light-custom favorite-button" {% if contentProviderContent['favoriteButton'] == false %}style="display: none"{% endif %}
                    data-title="{{ oro_title_render_serialized() }}"
                    data-title-rendered="{{ oro_title_render() }}"
                    data-title-rendered-short="{{ oro_title_render_short() }}"
                    title="{{ 'oro.navigation.favorites.button.title'|trans }}"
                    {{ UI.renderPageComponentAttributes({
                        module: 'oronavigation/js/app/components/favorite-component',
                        options: {
                            dataSource: '#favorite-content [data-data]',
                            buttonOptions: {
                                navigationElementType: 'favoriteButton'
                            },
                            tabOptions: {
                                el: '#favorite-content',
                                listSelector: '.extra-list',
                                fallbackSelector: '.no-data'
                            }
                        }
                    }) }}>
                        <span class="fa-star-o"></span>
                        {{- 'oro.navigation.favorites.button'|trans -}}
            </button>
            <button class="btn btn-icon btn-light-custom minimize-button" {% if contentProviderContent['pinButton'] == false %}style="display: none"{% endif %}
                    data-title="{{ oro_title_render_serialized() }}"
                    data-title-rendered="{{ oro_title_render() }}"
                    data-title-rendered-short="{{ oro_title_render_short() }}"
                    title="{{ 'oro.navigation.pins.button.title'|trans }}"
                    {{ UI.renderPageComponentAttributes({
                        module: 'oronavigation/js/app/components/pin-component',
                        options: {
                            dataSource: '#pinbar [data-data]',
                            buttonOptions: {
                                navigationElementType: 'pinButton'
                            },
                            dropdownOptions: {
                                el: '#pinbar .show-more',
                                listSelector: '.dropdown-menu'
                            },
                            barOptions: {
                                el: '#pinbar .list-bar',
                                listSelector: 'ul',
                                fallbackSelector: '.pin-bar-empty'
                            },
                            pageStateOptions: {
                                el: '#container',
                                keepElement: true
                            }
                        }
                    }) }}>
                        <span class="fa-thumb-tack"></span>
                        {{- 'oro.navigation.pins.button'|trans -}}
            </button>
            {% endspaceless %}
        </div>
    </div>
</div>
