{% extends '@OroUser/layout.html.twig' %}

{% block bodyClass %}login-page{% endblock %}

{% block content %}
<div class="container">
    <div class="form-wrapper">
        <div class="form-wrapper__inner">
            <form action="" class="form-signin">
                <div class="title-box">
                    <h2 class="title">{{ resetUnavailable|default(false)
                        ? 'oro.user.password.reset_password.unavailable.title'|trans
                        : 'oro.user.password.reset_password.title'|trans
                        }}</h2>
                </div>
                <fieldset>
                    {% set isUnavailable = resetUnavailable|default(false) %}
                    <div class="alert {{ isUnavailable ? 'alert-error' : 'alert-success' }}" role="alert">
                        {% if isUnavailable %}
                            {{ resetUnavailableMessage|default('oro.user.password.reset_password.unavailable.message'|trans) }}
                        {% else %}
                            {{ 'oro.user.password.reset_password.message'|trans({ '%email%': email }) }}
                        {% endif %}
                    </div>
                    <a href="{{ path('oro_user_security_login') }}">&laquo; {{ 'Return to Login'|trans }}</a>
                </fieldset>
            </form>
        </div>
        <div class="login-copyright">{{ 'oro.copyright'|trans({ '{{year}}': 'now'|date('Y') }) }}</div>
    </div>
</div>
{% endblock %}
