{% extends 'OroUserBundle::layout.html.twig' %}

{% block bodyClass %}login-page{% endblock %}

{% block content %}
<div class="container">
    <div class="form-wrapper">
        <div class="form-wrapper__inner">
            <form action="" class="form-signin">
                <div class="title-box">
                    <h2 class="title">{{ 'Check Email'|trans }}</h2>
                </div>
                <fieldset>
                    <div class="alert alert-success" role="alert">
                        {{ 'An email has been sent to %email%. It contains a link you must click to reset your password.'|trans({ '%email%': email }) }}
                    </div>
                    <a href="{{ path('oro_default') }}">{{ 'Go to homepage'|trans }}</a>
                </fieldset>
            </form>
        </div>
        <div class="login-copyright">{{ 'oro.auth.copy'|trans }}</div>
    </div>
</div>
{% endblock %}
