{% extends 'OroUserBundle::layout.html.twig' %}
{% form_theme form with 'OroUIBundle:Form:login.html.twig' %}

{% block bodyClass %}login-page{% endblock %}

{% block content %}
<div class="container">
    <form action="{{ path('oro_user_reset_reset', { token: token }) }}" {{ form_enctype(form) }} method="post" class="form-signin form-reset">
        <div class="title-box">
            <h2 class="title">{{ 'Password Reset'|trans }}</h2>
        </div>
        <fieldset>
            {% if form.vars.errors|length > 0 %}
                <div class="alert alert-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            {{ form_rest(form) }}
            <div class="form-buttons">
                <button class="btn btn-large extra-submit btn-primary" type="submit">{{ 'Reset'|trans }}</button>
                <a href="{{ path('oro_user_security_login') }}" class="btn btn-large extra-btn-large">{{ 'Cancel'|trans }}</a>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
