{% set entity = null %}
{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as macros %}

{% set pageParams = transition.frontendOptions.page is defined ? transition.frontendOptions.page : null  %}
{% if pageParams.title is defined %}
    {% set pageTitle = pageParams.title|trans %}
{% else %}
    {% set pageTitle = transition.buttonLabel|trans({},'workflows') %}
    {% if pageTitle is empty or pageTitle == transition.buttonLabel %}
        {% set pageTitle = transition.label|trans({},'workflows') %}
    {% endif %}
{% endif %}

{% if pageParams.parent_label is defined %}
    {% set indexLabel = pageParams.parent_label|trans %}
{% else %}
    {% set indexLabel = workflow.label|trans({},'workflows') %}
{% endif %}

{% if pageParams.parent_route is defined %}
    {% set indexPath = path(pageParams.parent_route, pageParams.parent_route_parameters is defined ? pageParams.parent_route_parameters : []) %}
{% else %}
    {% set indexPath = app.request.query.get('originalUrl') %}
{% endif %}

{% oro_title_set({params : {"%workflow_title%": pageTitle ~ ' - ' ~ indexLabel} }) %}

{% block pin_button %}
{% endblock pin_button %}

{% set saveAndTransitButtonId = 'save-and-transit' %}

{% block navButtons %}
    {% if indexPath %}
        {{ UI.cancelButton(indexPath) }}
    {% endif %}

    <div class="btn-group">
        <button
            type="button"
            class="btn btn-success"
            id="{{ saveAndTransitButtonId }}"
            data-transition-url="{{ transitionUrl }}"
        >{{ 'Submit'|trans }}</button>
    </div>
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'indexPath': indexPath,
        'indexLabel': indexLabel|trans,
        'entityTitle': pageTitle|trans
    } %}

    {% block stats %}{% endblock %}

    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>{{ indexLabel|trans }}</li>
    </ul>
{% endblock %}

{% block content_data %}
    {% set transitionFormWidget %}
        {% set widgetAlias = 'transition-form' %}
        {% set workflowFormWidgetViewOptions = {
            view: {
                view: 'oroworkflow/js/app/views/workflow-form-widget-view',
                widgetAlias: widgetAlias,
                saveAndTransitButtonSelector: '#' ~ saveAndTransitButtonId
            }
        } %}
        <div class="form-container" {{ macros.renderPageComponentAttributes(workflowFormWidgetViewOptions) }}>
            {{ oro_widget_render({
                'widgetType': 'block',
                'url': transitionFormUrl,
                'alias': widgetAlias,
                'loadingMaskEnabled': false
            }) }}
        </div>
    {% endset %}
    {% if transition.hasFormConfiguration() %}
        {{ transitionFormWidget }}
    {% else %}
        {% set dataBlocks = [
            {
                'title': 'General Information'|trans,
                'subblocks': [{'data' : [transitionFormWidget] }]
            }
        ] %}
    
        {% set id = 'transitionPage' %}
        {% set data = {'dataBlocks': dataBlocks} %}
        {{ parent() }}
    {% endif %}
{% endblock content_data %}
