{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="widget-content">
    {% if saved is defined and saved %}
        <script type="text/javascript">
            require(['oroui/js/widget-manager', 'oroui/js/messenger', 'oroui/js/mediator'],
            function(widgetManager, messenger, mediator) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    messenger.notificationFlashMessage('success', {{ 'oro.calendar.controller.event.saved.message'|trans|json_encode|raw }});
                    mediator.trigger('widget_success:' + widget.getAlias());
                    mediator.trigger('widget_success:' + widget.getWid());
                    widget.remove();
                });
            });
        </script>
    {% else %}

        {% if not form.vars.valid and form.vars.errors|length %}
            <div class="alert alert-error">
                <div class="message">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}
        {% set recurrencePattern = '' %}
        {% if form.vars.value.recurrence is not null %}
            {% set recurrencePattern = UI.renderProperty(
                'oro.calendar.calendarevent.recurrence.label'|trans,
                get_recurrence_text_value(form.vars.value.recurrence)
            ) %}
        {% elseif form.vars.value.recurringEvent is not null %}
            {% set recurrencePattern = UI.renderProperty(
                'oro.calendar.calendarevent.recurrence.exception.label'|trans,
                get_recurrence_text_value(form.vars.value.recurringEvent.recurrence)
            ) %}
        {% endif %}
        <div class="form-container">
            <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ formAction }}" method="post">
                <fieldset class="form form-horizontal">
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.start) }}
                    {{ form_row(form.end) }}
                    {{ form_row(form.allDay) }}
                    {{ recurrencePattern }}
                    {{ form_row(form.backgroundColor) }}
                    {% if form.calendarUid is defined %}
                        {{ form_row(form.calendarUid) }}
                    {% endif %}
                    {{ form_row(form.attendees) }}
                    {% if form.vars.value.recurrence is null %}
                        {{ form_row(form.reminders) }}
                    {% else %}
                        {% do form.reminders.setRendered %}
                    {% endif %}
                    {{ form_rest(form) }}
                    <div class="widget-actions form-actions">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                    </div>
                </fieldset>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
    {% endif %}
</div>
