{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroCalendarBundle::templates.html.twig' as calendarTemplates %}

{% set name = entity.owner|oro_format_name|default('N/A') %}
{% oro_title_set({params : {"%username%": name, "%calendarname%": entity.name|default(name) }}) %}

{% block navButtons %}
    {% if resource_granted('oro_calendar_event_view') %}
        <div class="btn-group">
            {{ UI.button({
                'path' : path('oro_calendar_event_index'),
                'iCss': 'icon-time',
                'label': 'oro.calendar.view_events'|trans,
                'title': 'oro.calendar.view_events'|trans
            }) }}
        </div>
    {% endif %}
{% endblock navButtons %}

{% block breadcrumb %}
    {% if breadcrumbs is not defined %}
        {% set breadcrumbs = [{'label': 'oro.calendar.entity_label'|trans }] %}
        {% if entity.name is not empty %}
            {% set breadcrumbs = breadcrumbs|merge([{'label': entity.name}]) %}
        {% endif %}
    {% endif %}
    {% include 'OroNavigationBundle:Menu:breadcrumbs.html.twig' %}
{% endblock breadcrumb %}

{% block pageHeader %}
    {% if breadcrumbs is not defined %}
        {% set breadcrumbs = {'entityTitle': 'oro.calendar.entity_label'|trans } %}
    {% endif %}
    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}{% endblock stats %}

{% block content_data %}
    {% set calendarOptions = {
            calendar: entity.id,
            calendarOptions: calendar,
            eventsItemsJson: render(path('oro_api_get_calendarevents', {calendar: entity.id, start: startDate|date('c'), end: endDate|date('c'), subordinate: true})),
            connectionsItemsJson: render(path('oro_api_get_calendar_connections', {id: entity.id})),
            eventsOptions: {
                defaultDate: 'now'|date('c', oro_timezone()),
                'containerSelector': '.calendar-events',
                'itemViewTemplateSelector': '#template-view-calendar-event',
                'itemFormTemplateSelector': '#template-calendar-event',
                'leftHeader': 'prev,next today title',
                'centerHeader': '',
                'rightHeader': 'month,agendaWeek,agendaDay',
            },
            connectionsOptions: {
                'containerSelector': '.calendar-connections',
                'containerTemplateSelector': '#template-calendar-connections',
                'itemTemplateSelector': '#template-calendar-connection-item',
            },
            colorManagerOptions: {
                colors: oro_config_value('oro_calendar.calendar_colors')
            }
        }
    %}
    <div class="oro-page collapsible-sidebar clearfix" id="calendar"
         data-page-component-module="orocalendar/js/app/components/calendar-component"
         data-page-component-options="{{ calendarOptions | json_encode }}">
        <div class="oro-page-sidebar search-entity-types-column dropdown">
            <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-filter"></i>
                Select calendars
                <i class="icon-sort-down"></i>
            </a>
            <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <div class="calendars">
                    <div class="calendar-connections"></div>
                    <form action="#">
                        {{ form_row(user_select_form) }}
                    </form>
                </div>
            </div>
        </div>
        <div class="oro-page-body search-results-column">
            <div class="calendar-events"></div>
        </div>
    </div>
    <script type="text/html" id="template-calendar-menu">
        {{ oro_menu_render('calendar_menu') }}
    </script>

    <script type="text/html" id="template-calendar-connections">
        <ul class="oro-page-menu-items connection-container">
        </ul>
    </script>

    <script type="text/html" id="template-calendar-connection-item">
        <li class="connection-item<% if (visible) { %> active<% } %>" >
            <div class="pull-right">
                <div class="connection-menu-container dropdown pull-left icons-holder">
                    <a href="javascript: void(0);" class="icons-holder-text no-hash context-menu-button">
                        <i class="icon-ellipsis-horizontal"></i>
                    </a>
                </div>
            </div>
            <a href="javascript: void(0);" class="no-action">
                <span
                    <% if (visible) { %>
                    class="calendar-color"
                        <% if (!_.isEmpty(backgroundColor)) { %>
                        style="background-color: <%- backgroundColor %>; border-color: <%- backgroundColor %>"
                        <% } %>
                    <% } else { %>
                        class="calendar-color un-color"
                    <% } %>
                ></span>
                <span class="user-calendar" title="<%- calendarName %>"><%- calendarName %></span>
            </a>
        </li>
    </script>

    {{ calendarTemplates.calendar_event_view_template('template-view-calendar-event') }}
    {{ calendarTemplates.calendar_event_form_template('template-calendar-event', event_form) }}
{% endblock content_data %}
