{% extends 'OroDashboardBundle:Index:default.html.twig' %}

{% block page_container %}
    {{ block('content') }}
{% endblock %}

{% block content %}
    {% set contentClass = 'launchpad-container' %}
    {{ parent() }}
{% endblock %}

{% block widgets %}
    <div class="container">
        <div class="clearfix page-title">
            <h1 class="oro-subtitle pull-left">{{ pageTitle|trans }}</h1>
            {{ block('titleNavButtons') }}
        </div>
        {{ parent() }}
    </div>
{% endblock %}
