{% extends bap.layout %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% set gridName = 'tag-results-grid' %}
{% oro_title_set({ params: { '%tag.name%': tag.name } }) %}

{% block content %}
    <div class="container-fluid search-header clearfix">
        <h2 style="width: auto">{{ 'oro.tag.datagrid.search_result'|trans({'%name%': tag.name|escape})|raw }}</h2>
    </div>

    {% if '' in groupedResults|keys and groupedResults[''].count > 0 or groupedResults|length > 1 %}
        {% set togglerId = 'dropdown-'|uniqid %}
        <div class="oro-page collapsible-sidebar clearfix">
            <div class="oro-page-sidebar search-entity-types-column dropdown">
                <a href="#" role="button" id="{{ togglerId }}" class="dropdown-toggle" data-toggle="dropdown"
                   aria-label="{{ 'oro.tag.result.entity_filter'|trans }}" aria-haspopup="true" aria-expanded="false">
                    <span class="fa-filter" aria-hidden="true"></span>
                    {% if selectedResult.label is defined and selectedResult.count is defined%}
                        {{ selectedResult.label|trans}}
                        {% set selectedResultCount = selectedResult.count %}
                    {% else %}
                        {{ 'oro.search.result.all'|trans }}
                        {% set selectedResultCount = groupedResults[''].count %}
                    {% endif %}
                    ({{ selectedResultCount }}) <span class="fa-sort-desc" aria-hidden="true"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="{{ togglerId }}">
                {% for alias, type in groupedResults %}
                    {% set selected = alias == from %}
                    {% if type.class is defined %}
                        {% set label = type.label %}
                        {% set iconClass = type.icon %}
                    {% else %}
                        {% set label = 'oro.search.result.all' %}
                        {% set iconClass = 'fa-search' %}
                    {% endif %}

                    {% if iconClass is empty %}
                        {% set iconClass = 'fa-file' %}
                    {% endif %}

                    <li{% if selected %} class="selected"{% endif %}>
                        <a href="{{ path('oro_tag_search', { from: alias, id: tag.id }) }}" {% if selected %}aria-selected="true"{% endif %}>
                            {% if selected %}<span class="fa-chevron-right pull-right" aria-hidden="true"></span>{% endif %}
                            <span class="{{ iconClass }}" aria-hidden="true"></span>
                            {{ label|trans }} ({{ type.count }})
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="oro-page-body search-results-column">
                <div id="tag-search-results-grid">
                    {{ dataGrid.renderGrid(gridName, {from: from, tag_id: tag.id}, { cssClass: 'tag-search-grid' }) }}
                </div>
            </div>
        </div>
    {% else %}
    <div class="no-data">
        {% trans %}No results were found.{% endtrans %}
        <br />
        {% trans %}Try modifying your search criteria{% endtrans %}
    </div>
    {% endif %}
{% endblock %}
