{% extends 'OroDistributionBundle::base_inner.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            holder = $('ul.repos');
            holder.data('index', holder.find(':input').length);

            $('#add_repo_link').on('click', function (e) {
                var index = holder.data('index');
                var newForm = holder.data('prototype').replace(/__name__/g, index);

                holder.data('index', index + 1);
                holder.append(newForm);
                $(newForm).find('.delete-action').remove();
            });
        });
    </script>
{% endblock %}

{% block title %}Composer Settings{% endblock %}

{% block menu %}
    <a id="back-to-installed" href="{{ path('oro_distribution_package_listinstalled') }}">
        <i class="icon icon-reply"></i>
        Back to Installed Packages
    </a>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.oauth) }}

        <h3>Repositories</h3>
        <ul class="repos" data-prototype="{% filter escape %}{% include 'OroDistributionBundle:Settings:repo_prototype.html.twig' with { 'repo': form.repositories.vars.prototype } %}{% endfilter %}">
            {% for repo in form.repositories %}
                {% include 'OroDistributionBundle:Settings:repo_prototype.html.twig' with { 'repo': repo } %}
            {% endfor %}

        </ul>
        <a href="#" id="add_repo_link">Add a repository</a>
    {{ form_end(form) }}

{% endblock %}