{% extends 'OroDistributionBundle::base_inner.html.twig' %}

{% block title %}{{ 'oro.distribution.menu.composer_settings'|trans }}{% endblock %}

{% block menu %}
    <a id="back-to-installed" href="{{ path('oro_distribution_package_listinstalled') }}">
        <i class="fa-reply"></i>
        {{ 'Back to Installed Packages'|trans }}
    </a>
{% endblock %}

{% block body %}
    {% if saved %}
        <div class="alert fade in alert-success alert-dismissible" role="alert">
            <span class="fa-success" aria-hidden="true"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
            {{ 'oro.distribution.messages.settings_saved'|trans }}
        </div>
    {% endif %}

    {% include 'OroDistributionBundle:Settings:settings_form.html.twig' with { 'form': form } %}
{% endblock %}
