{% extends "@OroLayout/Layout/div_layout.html.twig" %}

{% block form_end_widget %}
    {{ parent() }}
    {{ oro_form_js_validation(form, js_validation_options|default({})) }}
{% endblock %}

{% block input_widget %}
    {% if type == 'checkbox' %}
        <label class="checkbox-label">
            {{ parent() }}
            {{- label|block_text(translation_domain) -}}
        </label>
    {% else %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' input'
        }) %}

        {{ parent() }}
    {% endif %}
{% endblock %}

{% block button_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' btn'
    }) %}

    {{ parent() }}
{% endblock %}
