{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% block attribute_text_widget -%}
    <div {{ block('block_attributes') }}>
        {{ label }} : {{ value|nl2br }}
    </div>
{%- endblock %}

{% block attribute_percent_widget -%}
    <div {{ block('block_attributes') }}>
        {% set value = value ? value|oro_format_percent : default('N/A'|trans) %}
        {{ label }} : {{ value }}
    </div>
{%- endblock %}

{% block attribute_money_widget -%}
    <div {{ block('block_attributes') }}>
        {% set value = value ? value|oro_format_currency : default('N/A'|trans) %}
        {{ label }} : {{ value }}
    </div>
{%- endblock %}

{% block attribute_date_widget -%}
    <div {{ block('block_attributes') }}>
        {% set value = value ? value| oro_format_date : default('N/A'|trans) %}
        {{ label }} : {{ value }}
    </div>
{%- endblock %}

{% block attribute_datetime_widget -%}
    <div {{ block('block_attributes') }}>
        {% set value = value ? value|oro_format_datetime : default('N/A'|trans) %}
        {{ label }} : {{ value }}
    </div>
{%- endblock %}

{% block attribute_multiselect_widget -%}
    <div {{ block('block_attributes') }}>
        {% if value is iterable %}
            {{ label }} :
            {% if value.values is defined %}
                {% for value in fieldValue.values %}
                    {{ _self.renderField(value) }}
                    {% if not loop.last %}
                        ,&nbsp;
                    {% endif %}
                {% else %}
                    {{ 'N/A'|trans }}
                {% endfor %}
            {% else %}
                {{ entityConfig.renderField(fieldValue) }}
            {% endif %}
        {% endif %}
    </div>
{%- endblock %}




