{% block _datagrid_toolbar_mass_actions_widget %}
    <div class="pull-left grid-toolbar-mass-actions">{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_mass_actions_panel_widget %}
    <div class="mass-actions-panel btn-group icons-holder">{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_extra_actions_widget %}
    <div class="extra-actions-panel">{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_actions_widget %}
    <div class="pull-right grid-toolbar-tools">
        <div class="actions-panel pull-right form-horizontal">{{ block_widget(block) }}</div>
        <div class="page-size pull-right form-horizontal"></div>
    </div>
{% endblock %}

{% block _datagrid_toolbar_pagination_widget %}
    <div class="pagination pagination-centered"></div>
{% endblock %}

{% block _datagrid_toolbar_widget %}
    <script type="text/html" id="template-datagrid-toolbar">
        <div class="grid-toolbar">
            {{ block_widget(block) }}
        </div>
    </script>
{% endblock %}
