{% block datagrid_row_widget %}
    <script type="text/html" id="template-datagrid-row">
        {{ block_widget(block) }}
    </script>
{% endblock %}

{% block datagrid_cell_widget %}
    <td <%= attributes('{{ column_name }}', {{ attr|json_encode|raw }}) %>>{{ block_widget(block) }}</td>
{% endblock %}

{%- block datagrid_cell_value_widget -%}
    <%= render('{{ column_name }}') %>
{%- endblock -%}

{% block datagrid_header_row_widget %}
    <script type="text/html" id="template-datagrid-header-row">
        {{ block_widget(block) }}
    </script>
{% endblock %}

{% block datagrid_header_cell_widget %}
    <th <%= attributes('{{ column_name }}', {{ attr|json_encode|raw }}) %>><%= render('{{ column_name }}') %></th>
{% endblock %}
