{% block _datagrid_toolbar_actions_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " grid-toolbar-mass-actions pull-left"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_mass_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " mass-actions-panel btn-group icons-holder"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_extra_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " extra-actions-panel",
        'data-grid-extra-actions-panel': ''
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_tools_container_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " grid-toolbar-tools pull-right"
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_actions_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " actions-panel pull-right form-horizontal",
        'data-grid-actions-panel': ''
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_page_size_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " page-size pull-right form-horizontal",
        'data-grid-pagesize': ''
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_pagination_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " pagination pagination-centered",
        'data-grid-pagination': ''
    }) %}
    <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
{% endblock %}

{% block _datagrid_toolbar_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " grid-toolbar"
    }) %}
    <script type="text/html" id="template-datagrid-toolbar">
        <div{{ block('block_attributes') }}>{{ block_widget(block) }}</div>
    </script>
{% endblock %}

{% block _datagrid_toolbar_sorting_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " sorting pull-left form-horizontal",
        'data-grid-sorting': ''
    }) %}
    <div{{ block('block_attributes') }}></div>
{% endblock %}

{% block datagrid_row_container_widget %}
    <tr>{{ block_widget(block) }}</tr>
{% endblock %}

{% block datagrid_cell_container_widget %}
    <td>{{ block_widget(block) }}</td>
{% endblock %}

{% block datagrid_cell_value_widget %}
    <%= render('{{ column_name }}') %>
{% endblock %}

{% block datagrid_header_container_widget %}
    <tr>{{ block_widget(block) }}</tr>
{% endblock %}

{% block datagrid_header_cell_container_widget %}
    <th><%= render_header('{{ column_name }}') %></th>
{% endblock %}
