{% extends bap.layout %}
{#
    'Abstract' page for configuration pages.

    In parent template should be defined next variables:
        pageTitle        - page title
        formAction       - url to save current changed tab
        routeName        - route name for tabs switch
        routeParameters  - additional route parameters
#}

{% if form %}
    {% form_theme form with ['OroConfigBundle:Form:fields.html.twig', 'OroFormBundle:Form:fields.html.twig', 'OroLocaleBundle:Form:fields.html.twig'] %}
{% endif %}
{% import 'OroSyncBundle:Include:contentTags.html.twig' as syncMacro %}
{% import 'OroConfigBundle::macros.html.twig' as configUI %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block content %}
    {% if isDesktopVersion() %}
        {% set saveButton = UI.saveAndStayButton({
            'label': 'oro.config.actions.save_settings'|trans
        }) %}
        {% set restoreButton = UI.buttonType({type: 'reset', label: 'oro.config.actions.restore_saved_values'|trans }) %}
        {% set pageReload = attribute(form.vars.block_config, activeSubGroup).page_reload %}
        {% set options = {
            view: 'oroconfig/js/form/config-form',
            pageReload: pageReload,
            isFormValid: form.vars.valid
        } %}

        {{ form_start(form, {
            'action': formAction,
            'attr': {
                'id': form.vars.id,
                'data-collect': 'true',
                'data-page-component-view': options|json_encode
            }
        }) }}
            {{ configUI.renderTitleAndButtons(pageTitle, [restoreButton, saveButton]) }}
            {{ configUI.renderScrollData(data, form, activeGroup, activeSubGroup, routeName, routeParameters) }}
        {{ form_end(form, {'render_rest': false}) }}
        {{ oro_form_js_validation(form) }}
        {{ syncMacro.syncContentTags({name: 'system_configuration', params: [activeGroup, activeSubGroup]}) }}
    {% else %}
        {# Mobile view #}
        <div class="no-data">
            {{ 'oro.config.system_configuration.desktop_only'|trans }}
        </div>
    {% endif %}
{% endblock content %}
