{% extends bap.layout %}
{#
    'Abstract' page for configuration pages.

    In parent template should be defined next variables:
        pageTitle        - page title
        formAction       - url to save current changed tab
        routeName        - route name for tabs switch
        routeParameters  - additional route parameters
#}

{% if form %}
    {% form_theme form with ['OroConfigBundle:Form:fields.html.twig', 'OroFormBundle:Form:fields.html.twig', 'OroLocaleBundle:Form:fields.html.twig'] %}
{% endif %}
{% import 'OroNavigationBundle:Include:contentTags.html.twig' as navigationMacro %}
{% import 'OroConfigBundle::macros.html.twig' as configUI %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block content %}
    {% set saveButton = UI.saveAndStayButton({
        'label': 'oro.config.actions.save_settings'|trans
    }) %}
    {% set restoreButton = UI.buttonType({type: 'reset', label: 'oro.config.actions.restore_saved_values'|trans }) %}
    {% set options = {
        pageReload: attribute(form.vars.block_config, activeSubGroup).page_reload,
        el: '#' ~ form.vars.id,
    } %}
    <form
        id="{{ form.vars.id }}"
        name="{{ form.vars.name }}"
        {{ form_enctype(form) }}
        action="{{ formAction }}"
        method="post"
        data-collect="true"
        data-page-component-module="oroconfig/js/form/config-form"
        data-page-component-options="{{ options|json_encode }}"
    >
        {{ configUI.renderTitleAndButtons(pageTitle, [restoreButton, saveButton]) }}
        {{ configUI.renderScrollData(data, form, activeGroup, activeSubGroup, routeName, routeParameters) }}
    </form>
    {{ oro_form_js_validation(form) }}
    {{ navigationMacro.navigationContentTags({name: 'system_configuration', params: [activeGroup, activeSubGroup]}) }}
{% endblock content %}
