{% extends 'OroDashboardBundle:Dashboard:widget.html.twig' %}
{% import 'OroCalendarBundle::macros.html.twig' as c %}

{% set widgetName = 'calendar' %}
{% set widgetTitle = 'My Calendar'|trans %}

{% block content %}
    <div id="calendar-{{ widgetId }}">
        <div class="calendar-events scrollable-container"></div>
    </div>
    {% set eventsOptions = {
        'containerSelector': '.calendar-events',
        'itemFormTemplateSelector': '#template-calendar-event-' ~ widgetId,
        'defaultView': 'agendaDay',
    } %}
    {{ c.calendar_event_form_template('template-calendar-event-' ~ widgetId, event_form) }}
    {{ c.renderCalendar('#calendar-' ~ widgetId, entity, startDate, endDate, calendar, eventsOptions) }}

    <script type="text/javascript">
        require(['jquery', 'underscore', 'oro/widget-manager'],
        function($, _, widgetManager){
            widgetManager.getWidgetInstance({{ widgetId|json_encode|raw }}, function(widget) {
                widget.on('renderComplete', function(el) {
                    widget.getAction('new-event', 'adopted', function(newEventAction) {
                        newEventAction.on('click', function (e) {
                            var currentDate = new Date();
                            $('#calendar-{{ widgetId }}').data('calendar').select(currentDate, currentDate);
                        });
                    });
                });
            });
        });
    </script>
{% endblock %}

{% block actions %}
    {% set actions = [{
        'icon': 'plus-sign',
        'label': 'oro.dashboard.calendar.new_event'|trans,
        'data': {'action-name': 'new-event'}
    }] %}

    {{ parent() }}
{% endblock %}

