{% extends 'OroDistributionBundle::base_inner.html.twig' %}

{% block title %}{{ 'oro.distribution.package.list_of_updates'|trans }}{% endblock %}

{% block body %}

    <table class="table">
        <col width="30%" valign="top"/>
        <col width="30%" valign="top"/>
        <col width="30%" valign="top"/>
        <col width="10%" valign="top"/>
        <thead>
        <tr>
            <th>{{ 'oro.distribution.package.name'|trans }}</th>
            <th>{{ 'oro.distribution.package.installed_version'|trans }}</th>
            <th>{{ 'oro.distribution.package.up_to_date_version'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for update in updates %}
            <tr>
                <td>{{ update.packageName }}</td>
                <td>{{ update.currentVersionString }}</td>
                <td>{{ update.upToDateVersionString }}</td>
                <td><a href="#" class="ajax update" data-params='{"packageName": "{{ update.packageName }}" }'>{{ 'oro.distribution.action.update'|trans }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4"><em>{{ 'oro.distribution.package.nothing_to_update'|trans }}</em></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
