<div class="page-title__path">
    <div class="top-row">
        {% block breadcrumbs %}
            <div class="page-title__entity-title-wrapper">
                {% if breadcrumbs.indexLabel is defined %}
                    <div class="sub-title">
                        {%- if breadcrumbs.indexPath is defined -%}
                            <a href="{{ oro_url_add_query(breadcrumbs.indexPath) }}">{{ breadcrumbs.indexLabel }}</a>
                        {%- else -%}
                            {{ breadcrumbs.indexLabel }}
                        {%- endif -%}
                    </div>
                    <span class="separator">/</span>
                {% endif %}
                {% if breadcrumbs.additional is defined %}
                    {% for breadcrumb in breadcrumbs.additional %}
                        <div class="sub-title">
                            {%- if breadcrumb.indexPath is defined -%}
                                <a href="{{ breadcrumb.indexPath }}">{{ breadcrumb.indexLabel }}</a>
                            {%- else -%}
                                {{ breadcrumb.indexLabel }}
                            {%- endif -%}
                        </div>
                        <span class="separator">/</span>
                    {% endfor %}
                {% endif %}
                <h1 class="page-title__entity-title">{{ breadcrumbs.entityTitle|raw }}</h1>
            </div>
            {% block breadcrumbMessage %}{% endblock breadcrumbMessage %}
        {% endblock breadcrumbs %}
    </div>
</div>
