{% extends 'OroUIBundle:actions:update.html.twig' %}

{% set formAction = app.request.uri %}
{% set entityId = entity.id %}

{% if entity.key %}
    {% set breadcrumbs = breadcrumbs|merge({'entityTitle': entity.title|trans()}) %}
{% else %}
    {% set breadcrumbs = breadcrumbs|merge({'entityTitle': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.entity_label'|trans})}) %}
{% endif %}

{% block navButtons %}
    {% if entity.existsInNavigationYml == true or entity.id is not null %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_menuupdates', {ownershipType: ownershipType, menuName: entity.menu, key: entity.key}),
            'dataRedirect': menuViewPath,
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-attribute',
            'entity_label': 'oro.navigation.menuupdate.entity_label'|trans,
        }) }}
    {% endif %}

    {% if entity.isDivider == false or entity.id is null %}
        {% set html = UI.saveAndStayButton({
            'action': menuUpdatePath
        }) %}

        {% set html = html ~ UI.saveAndNewButton({
            'action': menuCreatePath
        }) %}

        {{ UI.dropdownSaveButton({'html': html}) }}
    {% endif %}

    {% if entity.isDivider == false and (entity.existsInNavigationYml or entity.id is not null) %}
        {{ UI.buttonSeparator() }}

        {% set html = UI.button({
            'path' : menuCreatePath,
            'aCss': 'btn-primary',
            'label': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.entity_label'|trans}),
            'title': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.entity_label'|trans})
        }) %}

        {% set html = html ~ UI.button({
            'path' : menuCreateDividerPath,
            'aCss': 'btn-primary',
            'label': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.divider'|trans}),
            'title': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.divider'|trans})
        }) %}

        {% set parameters = {
            'html': html,
            'groupKey': 'createButtons',
            'options': {
                'moreButtonAttrs': {
                    'class': 'btn-primary'
                }
            }
        } %}

        {{ UI.pinnedDropdownButton(parameters) }}
    {% endif %}
{% endblock navButtons %}

{% block content_data %}
    {% set id = 'menu-update-form' %}

    {% set dataBlocks = [] %}
    {% if entity.isDivider == false %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {
                    'title': '',
                    'data': [
                        form_row(form.titles),
                        form_row(form.uri),
                        form_row(form.active)
                    ]
                }
            ]
        }]) %}
    {% endif %}

    {% set additionalData = [] %}
    {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
        {% set additionalData = additionalData|merge([form_row(child)]) %}
    {% endfor %}
    {% if additionalData is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'Additional'|trans,
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }] ) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}

    <div class="menuitem-container tree-component-container">
        <div class="menuitem menuitem-tree tree-component">
            {% set treeOptions = {
                'data' : tree,
                'menu' : entity.menu,
                'ownershipType' : ownershipType,
                'ownerId' : ownerId,
                'updateAllowed' : true,
                'onRootSelectRoute' : onRootSelectRoute,
                'onSelectRoute' : onSelectRoute,
                'onMoveRoute' : 'oro_api_move_menuupdates'
            } %}
            <div
                    data-page-component-module="oronavigation/js/app/components/tree-manage-component"
                    data-page-component-options="{{ treeOptions|json_encode }}"
            ></div>
        </div>
    </div>
    <div class="menuitem-data">
        {{ parent() }}
    </div>
{% endblock content_data %}
