{% extends 'OroUIBundle:actions:update.html.twig' %}

{% set formAction = app.request.uri %}

{% set entityId = entity.id %}

{% if ownershipType == constant('Oro\\Bundle\\NavigationBundle\\Entity\\MenuUpdate::OWNERSHIP_ORGANIZATION') %}
    {% set routePrefix = 'oro_navigation_org_menu_' %}
    {% oro_title_set({params : {"%title%": entity.title|trans()}}) %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path(routePrefix ~ 'index'),
        'indexLabel': 'oro.navigation.menuupdate.roots_plural_label'|trans,
        'additional': [
            {
                'indexPath': path(routePrefix ~ 'view', {menuName: menuName}),
                'indexLabel': menuName
            }
        ]
    } %}
{% else %}
    {% set routePrefix = 'oro_navigation_user_menu_' %}
    {% set fullname = app.user|oro_format_name|default('N/A') %}
    {% oro_title_set({params : {"%username%": fullname, "%title%": entity.title|trans()}}) %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_user_index'),
        'indexLabel': 'oro.user.entity_plural_label'|trans,
        'additional': [
            {
                'indexPath': path('oro_user_profile_view'),
                'indexLabel': fullname
            },
            {
                'indexPath': path(routePrefix ~ 'index'),
                'indexLabel': 'oro.navigation.menuupdate.roots_plural_label'|trans
            },
            {
                'indexPath': path(routePrefix ~ 'view', {menuName: menuName}),
                'indexLabel': menuName
            }
        ]
    } %}
{% endif %}

{% set treeOnRootSelectRoute = routePrefix ~ 'view' %}
{% set treeOnSelectRoute = routePrefix ~ 'update' %}
{% set deleteRedirectRoute = routePrefix ~ 'view' %}
{% set menuCreateRoute = routePrefix ~ 'create' %}
{% set menuUpdateRoute = routePrefix ~ 'update' %}

{% if entity.key %}
    {% set breadcrumbs = breadcrumbs|merge({'entityTitle': entity.title|trans()}) %}
{% else %}
    {% set breadcrumbs = breadcrumbs|merge({'entityTitle': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.entity_label'|trans})}) %}
{% endif %}

{% block navButtons %}
    {{ UI.button({
        'path' : path(routePrefix ~ 'create', {menuName: menuName, parentKey: entity.key}),
        'iCss': 'icon-folder-close',
        'aCss': 'btn-primary',
        'label': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.entity_label'|trans}),
        'title': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.entity_label'|trans})
    }) }}

    {% if entity.key %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_menuupdates', {ownershipType: ownershipType, menuName: menuName, key: app.request.get('key')}),
            'dataRedirect': path(routePrefix ~ 'view', {menuName: menuName}),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-attribute',
            'entity_label': 'oro.navigation.menuupdate.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {% set html = UI.saveAndStayButton({
        'route': routePrefix ~ 'update',
        'params': {'menuName': '$menu', 'parentKey': '$parentKey', 'key': '$key'}
    }) %}
    {% set html = html ~ UI.saveAndNewButton({
        'route': routePrefix ~ 'create',
        'params': {'menuName': '$menu', 'parentKey': '$parentKey'}
    }) %}
    {{ UI.dropdownSaveButton({'html': html}) }}
{% endblock navButtons %}

{% block content_data %}
    {% set id = 'menu-update-form' %}

    {% set dataBlocks = [{
        'title': 'General Information'|trans,
        'class': 'active',
        'subblocks': [
            {
                'title': '',
                'data': [
                    form_row(form.titles),
                    form_row(form.uri),
                    form_row(form.key),
                    form_row(form.active)
                ]
            }
        ]
    }] %}

    {% set additionalData = [] %}
    {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
        {% set additionalData = additionalData|merge([form_row(child)]) %}
    {% endfor %}
    {% if additionalData is not empty %}
        {% set dataBlocks = dataBlocks|merge([{
            'title': 'Additional'|trans,
            'subblocks': [{
                'title': '',
                'useSpan': false,
                'data' : additionalData
            }]
        }] ) %}
    {% endif %}

    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks,
    } %}

    <div class="menuitem-container tree-component-container">
        <div class="menuitem menuitem-tree tree-component">
            {% set treeOptions = {
                'data' : tree,
                'menu' : menuName,
                'updateAllowed' : true,
                'onRootSelectRoute' : routePrefix ~ 'view',
                'onSelectRoute' : routePrefix ~ 'update'
            } %}
            <div
                    data-page-component-module="oronavigation/js/app/components/tree-manage-component"
                    data-page-component-options="{{ treeOptions|json_encode }}"
            ></div>
        </div>
    </div>
    <div class="menuitem-data">
        {{ parent() }}
    </div>
{% endblock content_data %}
