{% extends bap.layout %}

{% import 'OroSyncBundle:Include:contentTags.html.twig' as navigationMacro %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% from _self import resetButton %}
{% set reloadLink -%}
    <a href="#" onclick="window.location.reload(false);return false;">
        {{- 'oro.navigation.menuupdate.reload_link.label'|trans -}}
    </a>
{%- endset %}
{% block content %}
    <div class="layout-content"{% if pageComponent is defined %}{{ UI.renderPageComponentAttributes(pageComponent) }}{% endif %}>
        <div class="container-fluid page-title">
            <div class="navigation navbar-extra navbar-extra-right">
                <div class="row">
                    <div class="pull-left-extra">
                        {% block pageHeader %}
                            {{ include('OroNavigationBundle:menuUpdate:pageHeader.html.twig') }}
                        {% endblock pageHeader %}
                    </div>
                    <div class="pull-right">
                        {{ resetButton({
                            'dataUrl': path(routePrefix ~ 'ajax_reset', {menuName: entity.root.name, context: context}),
                            'dataRedirect': path(routePrefix ~ 'view', {menuName: entity.root.name, context: context}),
                            'menuKey': entity.root.name,
                            'data': {
                                'success-message': resetedMessage|default('oro.navigation.menuupdate.reset_message')|trans({ '%menuKey%' : entity.root.name, '%reload_link%': reloadLink}),
                            }
                        }) }}

                        {{ UI.buttonSeparator() }}

                        {% set html = UI.button({
                            'path' : path(routePrefix ~ 'create', {menuName: entity.root.name, context: context}),
                            'aCss': 'btn-primary',
                            'label': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.entity_label'|trans}),
                            'title': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.entity_label'|trans})
                        }) %}

                        {# Create Divider button #}
                        {% set html = html ~ UI.ajaxButton({
                            'aCss': 'btn-primary no-hash menu-divider-create-button',
                            'label': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.divider'|trans}),
                            'title': 'oro.ui.create_entity'|trans({'%entityName%': 'oro.navigation.menuupdate.divider'|trans}),
                            'dataMethod': 'POST',
                            'dataRedirect': app.request.uri,
                            'dataUrl': path(routePrefix ~ 'ajax_create', {context: context, menuName: entity.name, parentKey: entity.name, 'isDivider': true}),
                            'successMessage': dividerCreatedMessage|default('oro.navigation.menuupdate.divider_created')|trans({'%reload_link%': reloadLink})
                        }) %}

                        {% set parameters = {
                            'html': html,
                            'groupKey': 'createButtons',
                            'options': {
                                'moreButtonAttrs': {
                                    'class': 'btn-primary'
                                }
                            }
                        } %}

                        {{ UI.pinnedDropdownButton(parameters) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="scrollable-container sidebar-container clearfix">
            {% block content_data %}
                {% set treeOptions = {
                    'data' : tree,
                    'menu' : entity.root.name,
                    'nodeId': entity.root.name,
                    'context' : context,
                    'updateAllowed' : true,
                    'view' : 'oronavigation/js/app/views/tree-manage-view',
                    'onRootSelectRoute' : routePrefix ~ 'view',
                    'onSelectRoute' : routePrefix ~ 'update',
                    'onMoveRoute' : routePrefix ~ 'ajax_move',
                    'successMessage': movedMessage|default('oro.navigation.menuupdate.moved_success_message')
                } %}

                {% embed "OroUIBundle::content_sidebar.html.twig" with {options: {
                    scrollbar: '[data-role="jstree-container"]'
                }} %}
                    {% block sidebar %}
                        {{ UI.renderJsTree(
                            {
                                'label': 'oro.navigation.menu.menu_list_default.label'|trans,
                                'treeOptions': treeOptions
                            },
                            {
                                'move': {
                                    'view': 'oroui/js/app/views/jstree/move-action-view',
                                    'routeName': routePrefix ~ 'move',
                                    'routeParams': {menuName: entity.root.name, context: context}
                                }
                            }
                        ) }}
                    {% endblock sidebar %}

                    {% block content %}
                        <div class="category-data">
                            <div class="tree-empty-content scrollable-container">
                                {{ 'oro.navigation.menuupdate.select_existing_or_create_new'|trans }}
                            </div>
                        </div>
                    {% endblock content %}
                {% endembed %}
            {% endblock content_data %}
        </div>
    </div>
{% endblock content %}

{% macro resetButton(parameters) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    {% set url = parameters.dataUrl is defined ? parameters.dataUrl : '' %}

    {% set parametersData = parameters.data|merge({
        'message': 'oro.navigation.menuupdate.reset_confirm'|trans({ '%menuKey%' : parameters.menuKey }),
        'ok-text': 'oro.navigation.menuupdate.reset_ok_text'|trans,
        'title': 'oro.navigation.menuupdate.reset_title'|trans,
        'url': url
    }) %}

    {% set parameters = parameters|merge({
        'data': parametersData,
        'title': 'oro.navigation.menuupdate.reset'|trans,
        'label': 'oro.navigation.menuupdate.reset'|trans,
        'aCss': ' btn icons-holder-text no-hash remove-button',
        'path': 'javascript:void(0);'
    }) %}

    {% if parameters.dataRedirect is defined %}
        {% set data = parameters.data|merge({'redirect': parameters.dataRedirect}) %}
        {% set parameters = parameters|merge({ 'data': data }) %}
    {% endif %}

    <div class="pull-left btn-group icons-holder">
        {{ UI.link(parameters) }}
    </div>
{% endmacro %}
