{% extends 'OroUIBundle:actions:update.html.twig' %}

{% set formAction = form.vars.value.id ? path('oro_embedded_form_update', { 'id': form.vars.value.id }) : path('oro_embedded_form_create') %}
{% oro_title_set({ params : {"%form.title%": form.vars.value.title, "%entityName%": 'oro.embeddedform.entity_label'|trans} }) %}

{% block navButtons %}
    {% if form.vars.value.id and resource_granted('oro_embedded_form_delete') %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_embedded_form_delete', {'id': form.vars.value.id}),
            'dataRedirect': path('oro_embedded_form_list'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-embedded-form',
            'dataId': form.vars.value.id,
            'entity_label': 'oro.embeddedform.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}
    {{ UI.button({'path' : path('oro_embedded_form_list'), 'title' : 'Cancel'|trans, 'label' : 'Cancel'|trans}) }}

    {% if form.formType.vars.choices is not empty %}
        {% set html = UI.saveAndCloseButton() %}
        {% if resource_granted('oro_embedded_form_update') %}
            {% set html = html ~ UI.saveAndStayButton() %}
        {% endif %}
        {{ UI.dropdownSaveButton({'html': html}) }}
    {% endif %}
{% endblock %}

{% block pageHeader %}
    {% if form.vars.value.id %}
        {% set breadcrumbs = {
            'entity':      form.vars.value,
            'indexPath':   path('oro_embedded_form_list'),
            'indexLabel': 'oro.embeddedform.entity_plural_label'|trans,
            'entityTitle': form.vars.value.title
        } %}
        {{ parent() }}
    {% else %}
        {% set title = 'oro.ui.create_entity'|trans({'%entityName%': 'oro.embeddedform.entity_label'|trans}) %}
        {% include 'OroUIBundle::page_title_block.html.twig' with {title: title} %}
    {% endif %}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'embedded-form' %}

    {% if form.formType.vars.choices is not empty %}
        {% set dataBlocks = [{
            'title': 'General'|trans,
            'class': 'active',
            'subblocks': [{
                'title': 'Embedded Form'|trans,
                'data': [
                    form_row(form.title),
                    form_row(form.formType),
                    form_row(form.css, {'attr':{'class': 'span12' }}),
                    form_row(form.successMessage),
                    form_row(form.allowedDomains),
                ]
            }]
        }] %}

        {% set data = {
            'formErrors': form_errors(form) ? form_errors(form) : null,
            'dataBlocks': dataBlocks
        } %}

        <script type="text/javascript">
            require(['oroembeddedform/js/embedded-form-watcher'],
                function (EmbeddedFormWatcher) {
                    var forceDataLoading;

                    {% if form.formType.vars.value is empty %}
                        forceDataLoading = true;
                    {% else %}
                        forceDataLoading = false;
                    {% endif %}
                    new EmbeddedFormWatcher({
                        formTypeFieldId: {{ form.formType.vars.id|json_encode|raw }},
                        cssFieldId: {{ form.css.vars.id|json_encode|raw }},
                        successMessageFieldId: {{ form.successMessage.vars.id|json_encode|raw  }},
                        defaultCss: {{ defaultCss|json_encode|raw }},
                        defaultSuccessMessage: {{ defaultSuccessMessage|json_encode|raw }}
                    }).startWatching(forceDataLoading);
                });
        </script>

        {{ parent() }}
    {% else %}
        <div class="container-fluid">
            <div class="grid-container">
                <div class="no-data">
                    <span>{{ 'oro.embeddedform.no_types_available'|trans }}</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content_data %}
