{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as ui %}
{% oro_title_set({ params : {"%form.title%": entity.title} }) %}

{% block navButtons %}
    {% if resource_granted('oro_embedded_form_delete') %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_embedded_form_delete', {'id': entity.id}),
            'dataRedirect': path('oro_embedded_form_list'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-embedded-form',
            'entity_label': 'oro.embeddedform.entity_label'|trans,
        }) }}
        {{ UI.buttonSeparator() }}
    {% endif %}

    {% if resource_granted('oro_embedded_form_delete') %}
        {{ UI.button({'path' : path('oro_embedded_form_update', {'id': entity.id}), 'title' : 'Edit'|trans, 'label' : 'Edit'|trans}) }}
    {% endif %}
    {{ UI.button({'path' : path('oro_embedded_form_list'), 'title' : 'Cancel'|trans, 'label' : 'Cancel'|trans}) }}
{% endblock %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_embedded_form_list'),
        'indexLabel': 'oro.embeddedform.entity_plural_label'|trans,
        'entityTitle': entity.title
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set id = 'embedded-form-get-code' %}

    {% block stats %}
    {% endblock stats %}

    {% set formDetails %}
        <div class="widget-content">
            <div class="row-fluid form-horizontal">
                <div class="responsive-block">
                    {{ ui.renderProperty('oro.embeddedform.title.label'|trans, entity.title) }}
                    {{ ui.renderProperty('oro.embeddedform.form_type.label'|trans, label|default('N/A')|trans) }}

                    {# to display css in a div with vertical scroll #}
                    <div class="control-group">
                        <label class="control-label">{{ 'oro.embeddedform.css.label'|trans }}</label>

                        <div class="controls" style="overflow-y: scroll; height: 180px;">
                            {{ entity.css|nl2br }}
                        </div>
                    </div>

                    {{ ui.renderProperty('oro.embeddedform.success_message.label'|trans, entity.successMessage) }}
                    {{ ui.renderHtmlProperty('oro.embeddedform.allowed_domains.label'|trans, entity.allowedDomains|nl2br|escape) }}
                </div>
            </div>
        </div>
    {% endset %}
    {% set formPreview %}
    <div class="widget-content">
        <iframe
            src="{{ url('oro_embedded_form_submit', {'id': entity.id}) }}"
            width="640"
            height="800"
            frameborder="0"></iframe>
    </div>
    {% endset %}

    {% set getCodeIframe %}
        <textarea id="oro_embeddedform_iframe" cols="60" rows="10" class="fill-tab" style="height: 300px">
{%- autoescape %}
<div id="embedded-form-container-{{ entity.id }}"></div>
<script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/oroembeddedform/js/embed.form.js') }}"></script>
<script type="text/javascript">
    new ORO.EmbedForm({
        container: 'embedded-form-container-{{ entity.id }}',
        iframe: {
            src: "{{ url('oro_embedded_form_submit', {'id': entity.id}) }}",
            width: 640,
            height: 800,
            frameBorder: 0
        }
    });
</script>
{% endautoescape -%}
        </textarea>
    {% endset %}

    {% set getCodeInline %}
        <div class="alert alert-warning">{{ 'oro.embeddedform.tabs.inline.description'|trans|raw }}</div>
        <textarea id="oro_embeddedform_inline" cols="60" rows="10" class="fill-tab" style="height: 300px">
{%- autoescape %}
<div id="embedded-form-container-{{ entity.id }}"></div>
<script type="text/javascript" src="{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/oroembeddedform/js/embed.form.js') }}"></script>
<script type="text/javascript">
    new ORO.EmbedForm({
        container: 'embedded-form-container-{{ entity.id }}',
        xhr: {
            url: "{{ url('oro_embedded_form_submit', {'id': entity.id, 'inline': true}) }}"
        }
    });
</script>
{% endautoescape -%}
        </textarea>
    {% endset %}

    {% set getCodeTabs = [
        {
            'alias': 'oro_embeddedform_iframe',
            'widgetType': 'block',
            'label': 'oro.embeddedform.tabs.iframe.label'|trans,
            'url': '#oro_embeddedform_iframe',
            'content': getCodeIframe
        },
        {
            'alias': 'oro_embeddedform_inline',
            'widgetType': 'block',
            'label': 'oro.embeddedform.tabs.inline.label'|trans,
            'url': '#oro_embeddedform_inline',
            'content': getCodeInline
        }
    ] %}

    {% set informationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_embedded_form_info', {id: entity.id}),
            'title': ''
        }) }}
    {% endset %}

    {% set dataBlocks = [{
        'title': 'General'|trans,
        'class': 'active',
        'subblocks': [
            {
                'title': 'Details'|trans,
                'data': [informationWidget]|merge([formDetails])
            },
            {
                'title': 'Form Preview'|trans,
                'data': [formPreview]
            }
        ]
    },
    {
        'title': 'Get code'|trans,
        'subblocks': [{
            'title': 'Code'|trans,
            'data': [tabPanel(getCodeTabs)]
        }]
    }]
    %}

    {% set data = {
        'dataBlocks': dataBlocks
    } %}
    {{ parent() }}
{% endblock content_data %}
