<div class="control-group">
    <div class="controls">
        {{ form_row(form.imapAccountType.imapGmailConfiguration.checkFolder) }}
    </div>
</div>
{{ form_row(form.imapAccountType.imapGmailConfiguration.folders) }}

{{ form_row(form.imapAccountType.imapGmailConfiguration.user) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.accessToken) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.clientId) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.imapPort) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.imapHost) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.imapEncryption) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.smtpPort) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.smtpHost) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.smtpEncryption) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.accessTokenExpiresAt) }}
{{ form_row(form.imapAccountType.imapGmailConfiguration.googleAuthCode) }}
