<div class="control-group">
    <div class="controls">
        {{ form_row(form.imapAccountType.userEmailOrigin.checkFolder) }}
    </div>
</div>
{{ form_row(form.imapAccountType.userEmailOrigin.folders) }}

{{ form_row(form.imapAccountType.userEmailOrigin.user) }}
{{ form_row(form.imapAccountType.userEmailOrigin.accessToken) }}
{{ form_row(form.imapAccountType.userEmailOrigin.clientId) }}
{{ form_row(form.imapAccountType.userEmailOrigin.imapPort) }}
{{ form_row(form.imapAccountType.userEmailOrigin.imapHost) }}
{{ form_row(form.imapAccountType.userEmailOrigin.imapEncryption) }}
{{ form_row(form.imapAccountType.userEmailOrigin.smtpPort) }}
{{ form_row(form.imapAccountType.userEmailOrigin.smtpHost) }}
{{ form_row(form.imapAccountType.userEmailOrigin.smtpEncryption) }}
{{ form_row(form.imapAccountType.userEmailOrigin.accessTokenExpiresAt) }}
{{ form_row(form.imapAccountType.userEmailOrigin.googleAuthCode) }}
