{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroWorkflowBundle::macros.html.twig' as workflowMacros %}

{% oro_title_set({params : {"%workflow_definition.label%": entity.label} }) %}

{% set isActive = entity.isActive %}

{% set pageComponent = {
        module: 'oroworkflow/js/app/components/workflow-viewer-component',
        options: {
            entity: {
                configuration: entity.configuration,
                name: entity.name,
                label: entity.label,
                entity: entity.relatedEntity,
                entity_attribute: entity.entityAttributeName | default('entity'),
                startStep: entity.startStep.name | default(null),
                stepsDisplayOrdered: entity.stepsDisplayOrdered,
            },
            chartOptions: {
                Endpoint: ['Blank', {}]
            },
            connectionOptions: {
                detachable: false
            }
        }
    }
%}

{% block navButtons %}
    {{ parent() }}

    {% if isActive %}
        {% set idButton = entity.name ~ '-workflow-deactivate-btn' %}

        <span
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                view: 'oroworkflow/js/app/views/workflow-deactivate-btn-view',
                selectors: {
                    button: '#' ~ idButton
                }
            }|json_encode }}">

            {{ UI.button({
                'aCss':  'no-hash btn-danger',
                'iCss':  'fa-close',
                'id':    idButton,
                'label': 'oro.workflow.workflowdefinition.datagrid.deactivate'|trans,
                'path':  path('oro_api_workflow_deactivate', {'workflowDefinition': entity.name}),
                'title': 'oro.workflow.workflowdefinition.datagrid.deactivate'|trans,
                'data': {
                    'name': entity.name,
                    'label': entity.label
                }
            }) }}
        </span>
    {% else %}
        {% set idButton = entity.name ~ '-workflow-activate-btn' %}

        <span
            data-page-component-module="oroui/js/app/components/view-component"
            data-page-component-options="{{ {
                view: 'oroworkflow/js/app/views/workflow-activate-btn-view',
                selectors: {
                    button: '#' ~ idButton
                }
            }|json_encode }}">

            {{ UI.button({
                'aCss': 'no-hash btn-success',
                'iCss': 'fa-check',
                'id': idButton,
                'label': 'oro.workflow.workflowdefinition.datagrid.activate'|trans,
                'path': path('oro_api_workflow_activate', {'workflowDefinition': entity.name}),
                'title': 'oro.workflow.workflowdefinition.datagrid.activate'|trans,
                'data': {
                    'name': entity.name,
                    'label': entity.label
                }
            }) }}
        </span>
    {% endif %}

    {% if not entity.system %}
        {% if edit_allowed and is_granted('EDIT', entity) %}
            {{ UI.editButton({
                'path' : path('oro_workflow_definition_update', { 'name': entity.name }),
                'entity_label': 'oro.workflow.workflowdefinition.entity_label'|trans
            }) }}
        {% endif %}
        {% if is_granted('DELETE', entity) %}
            {{ UI.deleteButton({
                'dataUrl': path('oro_api_workflow_definition_delete', {'workflowDefinition': entity.name}),
                'dataRedirect': path('oro_workflow_definition_index'),
                'aCss': 'no-hash remove-button',
                'id': 'btn-remove-workflow-definition',
                'dataId': entity.name,
                'entity_label': 'oro.workflow.workflowdefinition.entity_label'|trans
            }) }}
        {% endif %}
    {% endif %}
{% endblock navButtons %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_workflow_definition_index'),
        'indexLabel': 'oro.workflow.workflowdefinition.entity_plural_label'|trans,
        'entityTitle': entity.label
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}

    <span class="page-title__status">
        {% if entity.system %}
            {{ UI.badge('oro.workflow.status.system.label'|trans, 'tentatively') }}
        {% endif %}
        {% if not edit_allowed %}
            {{ UI.badge('oro.workflow.status.readonly.label'|trans, 'tentatively') }}
        {% endif %}
        {% if isActive %}
            {{ UI.badge('Active'|trans, 'enabled') }}
        {% else %}
            {{ UI.badge('Inactive'|trans, 'disabled') }}
        {% endif %}
    </span>
{% endblock breadcrumbs %}

{% macro view_step_row(stepData, entity, translateLinks) %}
    {% import 'OroWorkflowBundle::macros.html.twig' as workflowMacros %}
    <tr>
        <td class="step-name workflow-translatable-label">
            {{ stepData.label }}
            {% if stepData.is_final %}
                <strong title="{{ "oro.workflow.workflowdefinition.step.is_final.tooltip"|trans }}">
                    ({{ "Final"|trans }})
                </strong>
            {% endif %}
            {% if stepData.order >= 0 and translateLinks %}
                {{ workflowMacros.renderGoToTranslationsIconByLink(translateLinks.steps[stepData.name].label) }}
            {% endif %}
        </td>
        <td class="step-transitions">
            {% if stepData.allowed_transitions is not empty %}
                <ul class="transitions-list-short">
                    {% for transitionName in stepData.allowed_transitions %}
                        {% set currentTransition = entity.configuration.transitions[transitionName] %}
                        {% set toStep = entity.configuration.steps[currentTransition.step_to] %}
                        <li>
                            <span>{{ currentTransition.label|trans({},'workflows') }}</span>
                            {% if (translateLinks) %}
                                {{ workflowMacros.renderGoToTranslationsIconByLink(translateLinks.transitions[transitionName].label) }}
                            {% endif %}
                            <i class="fa-long-arrow-right"></i>
                            <span title="{{ "oro.workflow.workflowdefinition.transition.step_to.tooltip"|trans }}">{{ toStep.label|trans({},'workflows') }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </td>
        <td>
            <span title="{{ "oro.workflow.workflowdefinition.step.order.tooltip"|trans }}">
                {{ stepData.order }}
            </span>
        </td>
    </tr>
{% endmacro %}

{% macro view_start_step_row(entity) %}
    {% set startTransitionNames = [] %}
    {% for transitionName, transitionConfig in entity.configuration.transitions %}
        {% if transitionConfig.is_start %}
            {% set startTransitionNames = startTransitionNames|merge([transitionName]) %}
        {% endif %}
    {% endfor %}
    {{-
        _self.view_step_row({
            'label': '(' ~ 'Start'|trans ~ ')',
            'order': -1,
            'is_final': false,
            'allowed_transitions': startTransitionNames
        }, entity)
    -}}
{% endmacro %}

{% block content_data %}
    {% set workflowDefinitionInfo %}
    <div class="widget-content">
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderHtmlProperty('oro.workflow.workflowdefinition.label.label'|trans, entity.label|e ~ workflowMacros.renderGoToTranslationsIconByLink(translateLinks.label) ) }}

                {{ UI.renderProperty(
                    'oro.workflow.workflowdefinition.related_entity.label'|trans,
                    oro_entity_config_value(entity.relatedEntity, 'label')|trans
                ) }}
                {{ UI.renderProperty(
                    'oro.workflow.block.view.workflow.default_step'|trans,
                    entity.startStep ? entity.startStep.label|trans({},'workflows') : ''
                ) }}
                {{ UI.renderProperty(
                    'oro.workflow.workflowdefinition.steps_display_ordered.label'|trans,
                    entity.stepsDisplayOrdered ? 'Yes'|trans : 'No'|trans
                ) }}
                {{ UI.renderProperty(
                    'oro.workflow.workflowdefinition.priority.label'|trans,
                    entity.priority
                ) }}

                {% set applications %}
                    {% if entity.applications is not empty %}
                        {{ UI.renderList(entity.applications) }}
                    {% else %}
                        {{ 'N/A'|trans }}
                    {% endif %}
                {% endset %}

                {% set activeGroups %}
                    {% if entity.exclusiveActiveGroups is not empty %}
                        {{ UI.renderList(entity.exclusiveActiveGroups) }}
                    {% else %}
                        {{ 'N/A'|trans }}
                    {% endif %}
                {% endset %}

                {% set recordGroups %}
                    {% if entity.exclusiveRecordGroups is not empty %}
                        {{ UI.renderList(entity.exclusiveRecordGroups) }}
                    {% else %}
                        {{ 'N/A'|trans }}
                    {% endif %}
                {% endset %}

                {{ UI.renderHtmlProperty('oro.workflow.workflowdefinition.applications.label'|trans, applications) }}
                {{ UI.renderHtmlProperty('oro.workflow.workflowdefinition.exclusive_active_groups.label'|trans, activeGroups) }}
                {{ UI.renderHtmlProperty('oro.workflow.workflowdefinition.exclusive_record_groups.label'|trans, recordGroups) }}
            </div>
        </div>
    </div>
    {% endset %}

    {% set workflowStepsAndTransitions %}
        <style type="text/css">
            .transitions-list-short {
                margin-left: 0;
            }

            .transitions-list-short li {
                list-style: none;
            }
        </style>
        <div class="workflow-step-viewer row-fluid clearfix">
            <div class="{% if isMobileVersion() %}span12{% else %}span5{% endif %}">
                <div class="workflow-table-container">
                    <div class="workflow-definition-steps-list-container clearfix">
                        <div class="grid-container steps-list">
                            <table class="grid table-hover table table-bordered table-condensed" style="margin-bottom: 10px">
                                <thead>
                                    <tr>
                                        <th class="label-column"><span>{{ "Step"|trans }}</span></th>
                                        <th><span>{{ "Transitions"|trans }}</span></th>
                                        <th>
                                            <span title="{{ "oro.workflow.workflowdefinition.step.order.tooltip"|trans }}">
                                                {{ "Position"|trans }}
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="item-container">
                                {%- for stepName, stepData in entity.configuration.steps -%}
                                    {#
                                        System workflows wont have (Start) step stored into database.
                                        So we need to force show it for UI.
                                    #}
                                    {% set stepData = stepData|merge({'name': stepName}) %}
                                    {% if loop.first and entity.isSystem %}
                                        {{ _self.view_start_step_row(entity) }}
                                    {% endif %}

                                    {{ _self.view_step_row(stepData, entity, translateLinks) }}
                                {%- else -%}
                                    {{ _self.view_start_step_row(entity) }}
                                {%- endfor -%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if not isMobileVersion() %}
            <div class="span7">
                <div class="workflow-flowchart-container">
                    <div class="workflow-flowchart-controls clearfix"></div>
                    <div class="workflow-flowchart-wrapper" {{ UI.renderPageComponentAttributes({
                            'module': 'oroui/js/app/components/view-component',
                            'options': {
                                'view': 'oroui/js/app/views/zoomable-area-view',
                                'autozoom': true,
                                'minZoom': 0.05,
                                'maxZoom': 5
                            }
                        }) }}
                    >
                        <div class="workflow-flowchart clearfix"></div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oro.workflow.block.title.general_information'|trans,
            'subblocks': [
                {'data' : [workflowDefinitionInfo] },
            ]
        },
        {
            'title': 'oro.workflow.block.title.steps_and_transitions'|trans,
            'subblocks': [
                {
                    'data':  [workflowStepsAndTransitions]
                },
            ]
        },
    ] %}

    {% if variables is defined and variables|length %}
        {% set variablesInfo %}
            <div class="widget-content">
                <div class="row-fluid form-horizontal">
                    <div class="responsive-block">
                        {% for variable in variables %}
                            <div class="control-group">
                                <label class="control-label">
                                    {% if variable.options.form_options is defined and variable.options.form_options.tooltip is defined %}
                                        {{ UI.tooltip(variable.options.form_options.tooltip) }}
                                    {% endif %}
                                    {{ variable.label }}
                                </label>
                                <div class="controls">
                                    <div class="control-label">
                                        {{ variable|oro_format_workflow_variable_value|default('N/A'|trans) }}
                                        {{ workflowMacros.renderGoToTranslationsIconByLink(translateLinks.variable_definitions.variables[variable.name]) }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endset %}

        {% set dataBlocks = dataBlocks|merge([{
            'title': 'oro.workflow.workflowdefinition.configuration.label'|trans,
            'subblocks': [
                {'data':  [variablesInfo]},
            ]
        }]) %}

    {% endif %}

    {% set id = 'workflowDefinitionView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
