<style type="text/css">
    .widget-content.widget-connector-list {
        margin: 20px 15px;
    }
    .widget-content.widget-connector-list .no-results {
        text-align: center;
    }
</style>
<div class="widget-content widget-connector-list">
    <table class="table-hover table table-bordered table-condensed">
        <colgroup>
            <col/>
            <col width="20px"/>
        </colgroup>
        <thead>
        <tr>
            <th {% if connectors|length == 0 %}colspan="2"{% endif %}>
                {% trans %}Type{% endtrans %}
            </th>
            {% if connectors|length > 0 %}<th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for connector in connectors %}
            {#<tr>#}
                {#<td><a href="{{ path('oro_integration_transport_update', { id: transport.id }) }}" class="no-hash update-transport-link">{{ transport.label }}</a></td>#}
                {#<td>{{ transport.type|trans }}</td>#}
                {#<td>#}
                    {#<a href="{{ path('oro_integration_transport_delete', { id: transport.id }) }}" class="no-hash delete-transport-link"#}
                       {#data-message="{{ 'Are you sure you want to delete this transport?'|trans }}"#}
                       {#data-success-message="{{ 'Transport deleted'|trans }}">#}
                        {#<i class="icon-trash hide-text">{% trans %}Delete{% endtrans %}</i>#}
                    {#</a>#}
                {#</td>#}
            {#</tr>#}
        {% else %}
            <tr>
                <td colspan="3" class="no-results">{% trans %}There is no configured connectors yet{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
