<div class="widget-content">
    {% if not isPost %}
        {% if not form.vars.valid %}
            <div class="alert alert-error">
                <div class="message">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}

        <form id="{{ form.vars.name }}"
              action="{{ path('oro_integration_connector_prepare', { id: channelId }) }}" method="POST"
              class="form-register form-dialog">
            {{ JSFV(form) }}
            <fieldset class="form-horizontal">
                {{ form_widget(form) }}
                <div class="widget-actions form-actions" style="display: none;">
                    <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'Continue'|trans }}</button>
                </div>
            </fieldset>
        </form>
    {% else %}
        <script type="text/javascript">
            // do redirect to create action
            require(['oro/widget-manager'],
            function(widgetManager) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    widget.setUrl({{ path('oro_integration_connector_create', { channelType: channelType, id: channelId, connectorType: connectorType })|json_encode|raw }});
                    widget.loadContent();
                });
            });
        </script>
    {% endif %}
</div>
