<div class="widget-content">
    {% if saved %}
        <script type="text/javascript">
            require(['oro/translator', 'oro/widget-manager', 'oro/messenger'],
            function (__, widgetManager, messenger) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function (widget) {
                    messenger.notificationFlashMessage('success', __('Connector successfully saved!'));
                    widget.remove();

                    widgetManager.getWidgetInstanceByAlias('connector_list', function (widget) {
                        widget.loadContent();
                    });
                });
            });
        </script>
    {% else %}
        {{ JSFV(form) }}

        {% if not form.vars.valid %}
            <div class="alert alert-error">
                <div class="message">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}

        {% set action = form.vars.value.id
            ? path('oro_integration_connector_update', { id: form.vars.value.id })
            : path('oro_integration_connector_create', { channelType: app.request.get('channelType'), connectorType: app.request.get('connectorType'), id:  app.request.get('id')})
        %}
        <form id="{{ form.vars.name }}" action="{{ action }}" method="post" class="form-register form-dialog">
            <fieldset class="form-horizontal">
                {{ form_widget(form) }}
                <div class="widget-actions form-actions" style="display: none;">
                    <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                </div>
            </fieldset>
        </form>
    {% endif %}
</div>
