{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set fullname = entity|oro_format_name|default('N/A') %}
{% oro_title_set({params : {"%username%": fullname }}) %}

{% block navButtons %}
    {% placeholder view_navButtons with {entity: entity} %}
    {% if isDesktopVersion() %}
        {% if resource_granted('CONFIGURE', entity) and not isProfileView %}
            {{ UI.button({
                'path' : path('oro_user_config', { 'id': entity.id }),
                'label': 'oro.user.user_configuration.label'|trans,
                'title': 'oro.user.user_configuration.label'|trans,
                'iCss': 'icon-cog',
            }) }}
        {% elseif isProfileView and resource_granted('update_own_configuration') %}
            {{ UI.button({
                'path' : path('oro_user_profile_configuration'),
                'label': 'oro.user.user_configuration.label'|trans,
                'title': 'oro.user.user_configuration.label'|trans,
                'iCss': 'icon-cog',
            }) }}
        {% endif %}
    {% endif %}
    {% if resource_granted('EDIT', entity) %}
            {{ UI.editButton({
                'path' : path('oro_user_update', { id: entity.id }),
                'entity_label': 'oro.user.entity_label'|trans
            }) }}
    {% else %}
        {% if isProfileView and resource_granted('update_own_profile') %}
            {{ UI.editButton({
                'path': path('oro_user_profile_update'),
                'entity_label': 'profile'|trans
            }) }}
        {% endif %}
    {% endif %}
    {% if resource_granted('DELETE', entity) and entity.id != app.user.id %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_user', {'id': entity.id}),
            'dataRedirect': path('oro_user_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'entity_label': 'oro.user.entity_label'|trans,
            'disabled': not allow_delete
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_user_index'),
        'indexLabel':  'oro.user.entity_plural_label'|trans,
        'entityTitle': fullname,
    } %}
    {% set avatar = oro_configured_image_url(entity, 'avatar') %}
    {{ parent() }}
{% endblock pageHeader %}

{% block breadcrumbs %}
    {{ parent() }}
    <div class="pull-left">
        {% if entity.enabled %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-circle"></i>
                {{- 'oro.user.enabled.enabled'|trans -}}
            </div>
        {% else %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-circle"></i>
                {{- 'oro.user.enabled.disabled'|trans -}}
            </div>
        {% endif %}
    </div>
    <div class="pull-left">
        {% if entity.authStatus.id == 'expired' %}
            <div class="badge badge-disabled status-disabled"><i class="icon-status-disabled icon-unlock-alt"></i>
                {{- entity.authStatus.name -}}</div>
        {% elseif entity.authStatus.id == 'active' %}
            <div class="badge badge-enabled status-enabled"><i class="icon-status-enabled icon-unlock"></i>
                {{- entity.authStatus.name -}}</div>
        {% else %}
            <div class="badge badge-tentatively status-tentatively"><i class="icon-status-tentatively icon-lock"></i>
                {{- entity.authStatus.name -}}</div>
        {% endif %}
    </div>
{% endblock breadcrumbs %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.user.last_login.label'|trans }}: {{ entity.lastLogin ? entity.lastLogin|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.user.login_count.label'|trans }}: {{ entity.loginCount|default(0) }}</li>
{% endblock stats %}

{% block content_data %}
    {% set userInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_user_widget_info', {id: entity.id, viewProfile: isProfileView })
        }) }}
    {% endset %}
    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [userInformationWidget]}
            ]
        }
    ] %}

    {% set id = 'userView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
