<div class="share-info">
    <div class="share-info-image">
        <img src="{{ asset('bundles/oroui/img/avatar-xsmall.png') }}" />
    </div>
    <div class="share-info-text">
        <div>
            {{ record.getValue('username') }}
        </div>
        <div class="share-info-details">
            {{ 'oro.user.entity_label'|trans }}
            {{ 'oro.security.datagrid.share_grid_row_details_from'|trans }}
            {{ record.getValue('fromName') }}
        </div>
    </div>
</div>
