{% block oro_entity_extend_enum_value_widget %}
    <div class="float-holder {% if form.label.vars.errors|length > 0 %} validation-error{% endif %}">
        <div class="input-append input-append-sortable collection-element-primary">
            {{ form_widget(form.label, {disabled: disabled}) }}
            <span class="add-on ui-sortable-handle{% if disabled %} disabled{% endif %}"
                  data-name="sortable-handle"
                  title="{{ 'oro.entity_extend.enum_options.priority.tooltip'|trans }}">
                <i class="icon-resize-vertical {% if disabled %} disabled{% endif %}"></i>
                {{ form_widget(form.priority, {disabled: disabled}) }}
            </span>
            <label class="add-on{% if disabled %} disabled{% endif %}" title="{{ 'oro.entity_extend.enum_options.default.tooltip'|trans }}">
                {{ form_widget(form.is_default, {disabled: disabled}) }}
            </label>
        </div>
        {{ form_errors(form.label) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block oro_entity_extend_enum_value_collection_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% if not disabled %}
        <div class="enum-value-collection" {{ UI.renderPageComponentAttributes({
            module: 'oroui/js/app/components/view-component',
            options: {
                view: 'oroentityextend/js/app/views/enum-values-view',
                multiple: multiple,
                autoRender: true
            }
        }) }}>
            {{ block('oro_collection_widget') }}
        </div>
    {% else %}
        {{ block('oro_collection_widget') }}
    {% endif %}
{% endblock %}
