{% block oro_entity_extend_enum_value_widget %}
    <div class="float-holder {% if form.label.vars.errors|length > 0 %} validation-error{% endif %}">
        <div class="input-append input-append-sortable collection-element-primary">
            {{ form_widget(form.label) }}
            <label class="add-on" title="{{ 'oro.entity_extend.enum_options.default.tooltip'|trans({}, 'tooltips') }}">
                {{ form_widget(form.is_default) }}
            </label>
            <label class="add-on" title="{{ 'oro.entity_extend.enum_options.priority.tooltip'|trans({}, 'tooltips') }}">
                <i class="icon-list handle"></i>
                {{ form_widget(form.priority, {'attr': {'class': 'priority'}}) }}
            </label>
        </div>
        {{ form_errors(form.label) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block oro_entity_extend_enum_value_collection_widget %}
    {{ block('oro_collection_widget') }}
    {% set id = id ~ '_collection' %}
    {{ _self.oro_entity_extend_enum_value_collection_js(_context) }}
{% endblock %}

{% macro oro_entity_extend_enum_value_collection_js(context) %}
    <script type="text/javascript">
        require(['jquery', 'jquery-ui'],
        function($){
            $(function() {
                var container = $('#{{ context.id }}');

                {% if context.multiple == false %}
                container.on('click', '[name$="[is_default]"]', function(e) {
                    container.find('[name$="[is_default]"]').each(function (idx, el) {
                        if (el.checked && el.id != e.currentTarget.id) {
                            el.checked = false;
                        }
                    });
                });
                {% endif %}

                container.sortable({
                    cursor: 'move',
                    delay : 100,
                    handle: '.handle',
                    containment: "parent",
                    stop  : function () {
                        var index = 1;
                        $('#{{ context.id }} input.priority').each(function(i, el){
                            $(el).val(index++);
                        })
                    }
                });

                var reindex_values = function() {
                    var index = 1;
                    $('#{{ context.id }} input.priority').each(function(i, el){
                        $(el).val(index++);
                    })
                };

                $(document).ready(reindex_values);
                $(document).on('click', 'a.add-list-item', reindex_values);
            });
        });
    </script>
{% endmacro %}
