{% block oro_entity_extend_enum_value_widget %}
    <div class="float-holder {% if form.label.vars.errors|length > 0 %} validation-error{% endif %}">
        <div class="input-append input-append-sortable collection-element-primary">
            {{ form_widget(form.label, {disabled: disabled}) }}
            <label class="add-on{% if disabled %} disabled{% endif %}" title="{{ 'oro.entity_extend.enum_options.default.tooltip'|trans({}, 'tooltips') }}">
                {{ form_widget(form.is_default, {disabled: disabled}) }}
            </label>
            <label class="add-on{% if disabled %} disabled{% endif %}" title="{{ 'oro.entity_extend.enum_options.priority.tooltip'|trans({}, 'tooltips') }}">
                <i class="icon-list ui-sortable-handle{% if disabled %} disabled{% endif %}"></i>
                {{ form_widget(form.priority, {disabled: disabled}) }}
            </label>
        </div>
        {{ form_errors(form.label) }}
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block oro_entity_extend_enum_value_collection_widget %}
    {{ block('oro_collection_widget') }}
    {% if not disabled %}
        {% set id = id ~ '_collection' %}
        {{ _self.oro_entity_extend_enum_value_collection_js(_context) }}
    {% endif %}
{% endblock %}

{% macro oro_entity_extend_enum_value_collection_js(context) %}
    <script type="text/javascript">
        require(['jquery', 'jquery-ui'],
        function($){
            $(function() {
                var container = $('#{{ context.id }}');

                {% if context.multiple == false %}
                container.on('click', '[name$="[is_default]"]', function(e) {
                    container.find('[name$="[is_default]"]').each(function (idx, el) {
                        if (el.checked && el.id != e.currentTarget.id) {
                            el.checked = false;
                        }
                    });
                });
                {% endif %}

                var reindex_values = function() {
                    var index = 1;
                    $('#{{ context.id }} [name$="[priority]"]').each(function(i, el){
                        $(el).val(index++);
                    })
                };

                container.sortable({
                    cursor: 'move',
                    delay : 100,
                    containment: "parent",
                    stop  : reindex_values
                });

                reindex_values();
                container.parent().on('click', 'a.add-list-item', reindex_values);
            });
        });
    </script>
{% endmacro %}
