{% macro get_action_attributes(action, entityClass, entityId, cssClasses) %}
    {% spaceless %}
    {% set context = {
        'route': app.request.get('route', app.request.get('_route')),
        'entityClass': entityClass,
        'entityId': entityId
    } %}
    {% set options = oro_action_frontend_options(action.action, context) %}
    {% if cssClasses is null %}
        {% set cssClasses = action.definition.buttonOptions.class|default('icons-holder-text') ~ " "  ~ action.definition.buttonOptions.aCss|default('') %}
    {% endif %}
    href="{{ options.options.url|default('javascript:void(0);') }}"
    class="action-button {{ cssClasses }}"
    title="{{ action.title }}"
    {% for name,value in options.data %}
        data-{{ name }}="{{ value is iterable ? value|json_encode : value}}"
    {% endfor %}
    data-options="{{ options.options|json_encode }}"
    {% endspaceless %}
{% endmacro %}

{% block action_line_buttons_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " row-fluid",
        'data-page-component-module': 'oroaction/js/app/components/buttons-component'
    }) %}
    <div{{ block('block_attributes') }}>
        {% for action in actions %}
            <div class="btn-group icons-holder">
                <a {{ _self.get_action_attributes(action, entityClass, entityId) }}>
                    {% if action.icon is not empty %}
                        <i class="{{ action.icon }} {{ action.buttonOptions.iCss|default('') }} hide-text">{{ action.label }}</i>
                    {% endif %}
                    {{ action.label|trim }}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block action_combined_buttons_widget %}
    {% set actionsCount = actions|length %}
    {% if actionsCount > 0 %}
        {% set action = actions|first %}
        {% set attr = attr|merge({
            class: attr.class|default('') ~ " btn-group",
            'data-page-component-module': 'oroaction/js/app/components/buttons-component'
        }) %}
        {% set primaryButtonCss = 'btn btn-primary ' ~ action.buttonOptions.class|default('') ~ " "  ~ params.buttonOptions.aCss|default('') %}
        <div{{ block('block_attributes') }}>
            <a {{ _self.get_action_attributes(action, entityClass, entityId, primaryButtonCss) }}>
                {% if action.icon is not empty %}
                    <i class="{{ action.icon }} {{ action.buttonOptions.iCss|default('') }} hide-text">{{ action.label }}</i>
                {% endif %}
                {{ action.label|trim }}
            </a>

            {% if actionsCount > 1 %}
            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>

            <ul class="dropdown-menu">
                {% for action in actions|slice(1) %}
                    <li>
                        <a {{ _self.get_action_attributes(action, entityClass, entityId) }}>
                            {% if action.icon is not empty %}
                                <i class="{{ action.icon }} {{ action.buttonOptions.iCss|default('') }} hide-text">{{ action.label }}</i>
                            {% endif %}
                            {{ action.label|trim }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
