<div class="widget-content">
    {% if saved %}
        <script type="text/javascript">
        require([
            'orotranslation/js/translator',
            'oroui/js/widget-manager',
            'oroui/js/messenger',
            'oroui/js/mediator'
        ],
        function(__, widgetManager, messenger, mediator) {
            widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                messenger.notificationFlashMessage('success', __('oro.user.change_password.flash.success'));
                mediator.trigger('widget_success:' + widget.getAlias());
                mediator.trigger('widget_success:' + widget.getWid());
                widget.remove();
            });
        });
        </script>
    {% else %}
        <script type="text/javascript">
        require([
            'jquery',
            'orotranslation/js/translator'
        ],
        function($, __) {
            var $passwordInput= $('[data-ftid=oro_set_password_form_password]');
            $passwordInput.after(
                    '<span class="icon-eye-close" id="show-hide-pass" style="cursor: pointer; font-size: 16px;" ' +
                    ' title="' + __("oro.user.show_hide_password.label") + '"/>'
            );
            $passwordInput.parent().after(
                '<div class="controls" style="margin-top: 5px;">' +
                    '<a href="#" id="generate-pass">' + __("oro.user.suggest_password.label") + '</a>' +
                '</div>'
            );

            $('#generate-pass').on('click', function(e){
                e.preventDefault();
                var getRnd = function(n) {
                    return Math.floor(Math.random() * n);
                };
                var requireLength = $passwordInput.data('suggest-length') || 1;
                var requirements = $passwordInput.data('suggest-rules') || '';
                var length = requireLength ? Math.max(requireLength, 8) : 8;
                var charsets = {
                    'lower_case': 'abcdefghijklnopqrstuvwxyz',
                    'upper_case':'ABCDEFGHIJKLMNOPQRSTUVWXYZ',
                    'numbers':'0123456789',
                    'special_chars':' !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
                };
                var rules = requirements.split(',');
                var pass = '';

                {# make sure we have at least one symbol for each rule #}
                rules.forEach(function(rule) {
                    if (charsets.hasOwnProperty(rule)) {
                        pass += charsets[rule].charAt(getRnd(charsets[rule].length));
                    }
                });

                {# create a pool for picking random chars that is reasonably strong #}
                var charset = charsets['lower_case'] + charsets['upper_case'] + charsets['numbers'];

                {# fill up to the minLength with random symbols #}
                for (var i = pass.length; i < length; ++i) {
                    var randChar = charset.charAt(getRnd(charset.length));
                    {# make sure required chars are mixed #}
                    pass = !!getRnd(1) ? randChar + pass : pass + randChar;
                }

                $passwordInput.val(pass);
            });

            $('#show-hide-pass').on('click', function(e){
                var target = e.target || window.event.target;
                if($(target).hasClass('icon-eye-open')) {
                    $passwordInput.attr('type', 'password');
                    $(target).removeClass('icon-eye-open');
                    $(target).addClass('icon-eye-close');
                } else {
                    $passwordInput.attr('type', 'text');
                    $(target).removeClass('icon-eye-close');
                    $(target).addClass('icon-eye-open');
                }
            });
        });
        </script>
        <div class="form-container">
            <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ formAction }}" method="post" class="change-password-form">
                <fieldset class="form form-horizontal">
                    {{ form_row(form.password) }}
                    {% if not form.vars.valid and form.vars.errors|length %}
                        <div class="alert alert-error">
                            <div class="message">
                                {{ form_errors(form) }}
                            </div>
                        </div>
                    {% endif %}
                </fieldset>
                <fieldset class="form-horizontal">
                    {{ form_rest(form) }}
                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                    </div>
                </fieldset>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
    {% endif %}
</div>
