{% extends 'OroActivityListBundle:ActivityList/js:activityItemTemplate.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI%}
{% import 'OroActivityBundle::macros.html.twig' as AC %}

{% set entityClass = 'Oro\\Bundle\\EmailBundle\\Entity\\Email' %}
{% set entityName = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityDetails %}
    {{ entityName }}
    <%
        var hasLink   = !!data.ownerLink;
        var ownerLink = hasLink
            ? '<a class="user" href="' + data.ownerLink + '">' +  _.escape(data.ownerName) + '</a>'
            : '<span class="user">' + _.escape(data.ownerName) + '</span>';
    %>
    <%= _.template({{ 'oro.email.sent_by.label'|trans|json_encode|raw }}, { interpolate: /\{\{(.+?)\}\}/g })({
        user: ownerLink,
        date: '<i class="date">' + updatedAt + '</i>'
    }) %>
{% endblock %}

{% block activityActions %}
    {% set action %}
        {% if is_granted('oro_email_email_user_edit') %}
            {{ AC.activity_context_link() }}
        {% endif %}
    {% endset %}
    {% set actions = [action] %}

    {% set action %}
        {% if is_granted('oro_email_email_create') %}
            <a href="#" title="{{ 'oro.email.reply'|trans }}"
               class="dropdown-item"
               data-url="<%= routing.generate('oro_email_email_reply', {'id': relatedActivityId, 'entityClass': targetEntityData.class, 'entityId': targetEntityData.id}) %>"
               {{ UI.renderWidgetDataAttributes({
                'type': 'dialog',
                'multiple': true,
                'refresh-widget-alias': 'activity-list-widget',
                'options': {
                    'alias': 'reply-dialog',
                    'dialogOptions': {
                        'title': 'oro.email.send_email'|trans,
                        'allowMaximize': true,
                        'allowMinimize': true,
                        'dblclick': 'maximize',
                        'maximizedHeightDecreaseBy': 'minimize-bar',
                        'width': 1000
                    }
                }
            }) }}><span class="fa-reply hide-text" aria-hidden="true">{{ 'oro.email.reply'|trans|raw }}</span>
                {{ 'oro.email.reply'|trans|raw }}
            </a>
        {% endif %}
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {% set action %}
        {% if is_granted('oro_email_email_create') %}
            <a href="#" title="{{ 'oro.email.forward'|trans }}"
               class="dropdown-item"
               data-url="<%= routing.generate('oro_email_email_forward', {'id': relatedActivityId, 'entityClass': targetEntityData.class, 'entityId': targetEntityData.id}) %>"
               {{ UI.renderWidgetDataAttributes({
                'type': 'dialog',
                'multiple': true,
                'refresh-widget-alias': 'activity-list-widget',
                'options': {
                    'alias': 'forward-dialog',
                    'dialogOptions': {
                        'title': 'oro.email.send_email'|trans,
                        'allowMaximize': true,
                        'allowMinimize': true,
                        'dblclick': 'maximize',
                        'maximizedHeightDecreaseBy': 'minimize-bar',
                        'width': 1000
                    }
                }
            }) }}><span class="fa-mail-forward hide-text" aria-hidden="true">{{ 'oro.email.forward'|trans|raw }}</span>
                {{ 'oro.email.forward'|trans|raw }}
            </a>
        {% endif %}
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {{ parent() }}
{% endblock %}

{% block activityContent %}
    {# Do NOT remove. Placeholder for activity view #}
    <div class="info"></div>
{% endblock %}
