{% extends 'OroActivityListBundle:ActivityList/js:activityItemTemplate.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI%}
{% import 'OroEmailBundle::actions.html.twig' as EA %}

{% set entityClass = 'Oro\\Bundle\\EmailBundle\\Entity\\Email' %}
{% set entityName = oro_entity_config_value(entityClass, 'label')|trans %}

{% block activityIcon %}
    <% if(is_head && !ignoreHead) { %>
        <span class="icon-email-thread" aria-hidden="true"></span>
    <% } else { %>
        <span class="{{ oro_entity_config_value(entityClass, 'icon')|raw }}" aria-hidden="true"></span>
    <% } %>
{% endblock %}

{% block activityDetails %}
    {{ entityName }}
    <%
        var hasLink   = !!data.ownerLink;
        var ownerLink = hasLink
                ? '<a class="user" href="' + data.ownerLink + '">' +  _.escape(data.ownerName) + '</a>'
                : '<span class="user">' + _.escape(data.ownerName) + '</span>';
        var updatedAt = updatedAt;
        var subject = subject;
        if(is_head && !ignoreHead) {
            ownerLink = hasLink
                ? '<a class="user" href="' + data.ownerLink + '">' +  _.escape(data.headOwnerName) + '</a>'
                : '<span class="user">' + _.escape(data.headOwnerName) + '</span>';
            updatedAt = dateFormatter.formatSmartDateTime(data.headSentAt);
            subject = data.headSubject;
        }
    %>
    <%= _.template(
        {{ 'oro.email.sent_by.label'|trans|json_encode|raw }},
        { interpolate: /\{\{(.+?)\}\}/g }
    )({
        user: ownerLink,
        date: '<span class="date">' + updatedAt + '</span>'
    }) %>
{% endblock %}

{% block activityActions %}
    {% set action %}
        {% if is_granted('oro_email_email_user_edit') %}
            <a href="#" title="{{ 'oro.activity.contexts.placeholder'|trans|raw }}"
               class="dropdown-item"
               data-url="<%= routing.generate('oro_activity_context', {'id': relatedActivityId, 'activity': '{{ entityClass|replace({'\\': '_'}) }}' }) %>"
                    {{ UI.renderWidgetDataAttributes({
                    'type' : 'dialog',
                    'multiple' : true,
                    'refresh-widget-alias': 'activity-list-widget',
                    'options' : {
                        'alias': 'activity-context-dialog',
                        'dialogOptions' : {
                            'title' : 'oro.activity.contexts.add_context_entity.label'|trans,
                            'allowMaximize': true,
                            'allowMinimize': true,
                            'modal': true,
                            'dblclick': 'maximize',
                            'maximizedHeightDecreaseBy': 'minimize-bar',
                            'width': 1000,
                            'height': 600
                        }
                    }
                    }) }}><span class="fa-link hide-text" aria-hidden="true">{{ 'oro.activity.contexts.placeholder'|trans|raw }}</span>
                {{ 'oro.activity.contexts.placeholder'|trans|raw }}
            </a>
        {% endif %}
    {% endset %}
    {% set actions = [action] %}

    {% set action %}
        {% if is_granted('oro_email_email_create') %}
            <a href="#" title="{{ 'oro.email.reply'|trans }}"
               class="dropdown-item"
               data-url="<%= routing.generate('oro_email_email_reply', {'id': relatedActivityId, 'entityClass': targetEntityData.class, 'entityId': targetEntityData.id}) %>"
               {{ UI.renderWidgetDataAttributes({
                'type': 'dialog',
                'multiple': true,
                'refresh-widget-alias': 'activity-list-widget',
                'options': {
                    'alias': 'email-dialog',
                    'dialogOptions': {
                        'title': 'oro.email.send_email'|trans,
                        'allowMaximize': true,
                        'allowMinimize': true,
                        'dblclick': 'maximize',
                        'maximizedHeightDecreaseBy': 'minimize-bar',
                        'width': 1000
                    }
                }
            }) }}><span class="fa-reply hide-text" aria-hidden="true">{{ 'oro.email.reply'|trans|raw }}</span>
                {{ 'oro.email.reply'|trans|raw }}
            </a>
        {% endif %}
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {% set action %}
    {% if is_granted('oro_email_email_create') %}
        <a href="#" title="{{ 'oro.email.reply_all'|trans|raw }}"
           class="dropdown-item"
           data-url="<%= routing.generate('oro_email_email_reply_all', {'id': relatedActivityId, 'entityClass': targetEntityData.class, 'entityId': targetEntityData.id}) %>"
                {{ UI.renderWidgetDataAttributes({
                    'type': 'dialog',
                    'multiple': true,
                    'refresh-widget-alias': 'activity-list-widget',
                    'options': {
                        'alias': 'email-dialog',
                        'dialogOptions': {
                            'title': 'oro.email.send_email'|trans,
                            'allowMaximize': true,
                            'allowMinimize': true,
                            'dblclick': 'maximize',
                            'maximizedHeightDecreaseBy': 'minimize-bar',
                            'width': 1000
                        }
                    }
                }) }}><span class="fa-reply-all hide-text" aria-hidden="true">{{ 'oro.email.reply_all'|trans|raw }}</span>
            {{ 'oro.email.reply_all'|trans|raw }}
        </a>
    {% endif %}
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {% set action %}
        {% if is_granted('oro_email_email_create') %}
            <a href="#" title="{{ 'oro.email.forward'|trans }}"
               class="dropdown-item"
               data-url="<%= routing.generate('oro_email_email_forward', {'id': relatedActivityId, 'entityClass': targetEntityData.class, 'entityId': targetEntityData.id}) %>"
               {{ UI.renderWidgetDataAttributes({
                'type': 'dialog',
                'multiple': true,
                'refresh-widget-alias': 'activity-list-widget',
                'options': {
                    'alias': 'forward-dialog',
                    'dialogOptions': {
                        'title': 'oro.email.send_email'|trans,
                        'allowMaximize': true,
                        'allowMinimize': true,
                        'dblclick': 'maximize',
                        'maximizedHeightDecreaseBy': 'minimize-bar',
                        'width': 1000
                    }
                }
            }) }}><span class="fa-mail-forward hide-text" aria-hidden="true">{{ 'oro.email.forward'|trans|raw }}</span>
                {{ 'oro.email.forward'|trans|raw }}
            </a>
        {% endif %}
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {% set action %}
        <a href="<%= routing.generate('oro_email_thread_view', {'id': relatedActivityId}) %>"
           class="dropdown-item"
           title="{{ 'oro.email.view'|trans|raw }}"><span
                class="fa-eye hide-text" aria-hidden="true">{{ 'oro.email.view'|trans|raw }}</span>
            {{ 'oro.email.view'|trans|raw }}
        </a>
    {% endset %}
    {% set actions = actions|merge([action]) %}

    {{ parent() }}
{% endblock %}

{% block activityContent %}
    <div class="activity-item-email-content">
        {# Do NOT remove. Placeholder for activity view #}
        <div class="info <% if (is_head && !ignoreHead) { %>thread<% } %>" id="grouped-entity-<%= data.entityId %>"></div>
    </div>
{% endblock %}
