{% if is_granted('oro_search') %}
{% set searchTogglerId = 'dropdown-'|uniqid %}
<div class="dropdown header-dropdown-search header-utility-dropdown">
    <a id="{{ searchTogglerId }}" href="#" role="button" class="dropdown-toggle oro-dropdown-toggle"
       title="{{ 'Search'|trans }}" aria-haspopup="true" aria-expanded="false"><span class="fa-search" aria-hidden="true"></span></a>
    <ul class="dropdown-menu" aria-labelledby="{{ searchTogglerId }}">
        <li class="nav-header nav-header-title">{% trans %}Search{% endtrans %}</li>
        <li class="dark">
            <form method="get" action="{{ path('oro_search_results') }}" style="margin: 0" id="top-search-form" class="search-form">
                <div id="search-div" class="input-append input-prepend pull-left header-search">
                    <div class="btn-group btn-block">
                        <button data-toggle="dropdown" class="btn dropdown-toggle" id="search-bar-button"
                                aria-haspopup="true" aria-expanded="false" aria-label="{{ 'oro.search.result.entity_filter'|trans }}">
                            <span class="search-bar-type">{{ 'All'|trans }}</span>
                            <span class="fa-caret-down" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu" id="search-bar-dropdown" role="menu" aria-labelledby="search-bar-button">
                            <li data-alias="">
                                <a href="javascript: void(0);">{% trans %}All{% endtrans %}</a>
                            </li>
                            {% set searchEntities = [] %}
                            {% for className, alias in entities %}
                                {% set entityType = oro_entity_config_value(className, 'label')|trans %}
                                {% set searchEntities = searchEntities|merge({(alias) : entityType}) %}
                            {% endfor %}

                            {% for alias,name in searchEntities|sort %}
                                <li data-alias="{{ alias }}">
                                    <a href="javascript: void(0);">{{ name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="header-search-frame">
                        <input type="hidden" name="from" id="search-bar-from" value=""/>
                        <input type="text" id="search-bar-search" class="span2 search" placeholder="" name="search" value="" autocomplete="off"/>
                        <button type="submit" class="btn btn-search">{% trans %}Go{% endtrans %}</button>
                        <div class="custom-dropdown" id="search-dropdown"></div>
                        <div class="search-more hide"><a href="javascript:void(0);" class="search-view-more-link">{% trans %}View more...{% endtrans %}</a></div>
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>
<script type="text/javascript">
    require(['orosearch/js/init-search-bar'])
</script>
{% endif %}
