{% if is_granted('oro_search') %}
    {% set searchTogglerId = 'dropdown-'|uniqid %}
    <div class="dropdown header-dropdown-search">
        <button id="{{ searchTogglerId }}" class="dropdown-toggle dropdown-toggle--no-caret" data-toggle="dropdown" title="{{'Search'|trans}}"
                aria-haspopup="true" aria-expanded="false" aria-label="{{ 'Search'|trans }}">
            <span class="fa-search" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="{{ searchTogglerId }}"
            data-page-component-view="orosearch/js/app/views/search-suggestion-view">
            {% if isMobileVersion() %}<li class="nav-header nav-header-title">{{'Search'|trans}}</li>{% endif %}
            <li class="nav-content">
                <form method="get" action="{{ path('oro_search_results') }}" class="search-form">
                    <div class="header-search">
                        <select data-page-component-module="oro/select2-component" name="from">
                            <option value="">{{ 'All'|trans }}</option>
                            {% set searchEntities = [] %}
                            {% for className, alias in entities %}
                                {% set entityType = oro_entity_config_value(className, 'label')|trans %}
                                {% set searchEntities = searchEntities|merge({(alias) : entityType}) %}
                            {% endfor %}

                            {% for alias,name in searchEntities|sort %}
                                <option value="{{ alias }}" data-alias="{{ alias }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <div class="search-field-container">
                            <input type="text" class="span2 search" placeholder="" name="search" value="" autocomplete="off" data-autofocus />
                            <ul class="search-suggestion-list" data-role="search-suggestion-list">
                                <li class="loading" data-role="loading">
                                    <div class="loader-mask"><div class="loader-frame"></div></div>
                                </li>
                            </ul>
                            <div class="no-data" data-role="fallback">{{ 'oro.search.quick_search.noresults'|trans }}</div>
                        </div>
                        {% if isMobileVersion() %}
                        <button type="submit" class="btn btn-primary btn-icon" aria-label="{{'Search'|trans}}">
                            <span class="fa-search" aria-hidden="true"></span>
                        </button>
                        {% else %}
                        <button type="submit" class="btn btn-primary btn-search">{{'Search'|trans}}</button>
                        {%  endif %}
                    </div>
                </form>
            </li>
        </ul>
    </div>
{% endif %}
