{% extends "OroLayoutBundle:Layout:div_layout.html.twig" %}

{% block form_end_widget %}
    {{ parent() }}
    {{ oro_form_js_validation(form, js_validation_options|default({})) }}
{% endblock %}

{% block input_widget %}
    {% if type == 'checkbox' %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' custom-checkbox__input'
        }) %}

        <label {% if attr.id is not empty %} for="{{ attr.id }}" {% endif %} class="custom-checkbox">
            {{ parent() }}
            <span class="custom-checkbox__icon"></span>
            <span class="custom-checkbox__text">{{ label|block_text(translation_domain) }} </span>
        </label>
    {% else %}
        {% set attr = layout_attr_defaults(attr, {
            '~class': ' input'
        }) %}

        {# TODO: should be replaced to {{ parent_block_widget(block) }} in BB-12666 #}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block button_widget %}
    {% if style|default('') == 'auto' %}
        {% if action == 'submit' %}
            {% set style = 'btn--info' %}
        {% else %}
            {% set style = action == 'reset' ? 'btn--action' : '' %}
        {% endif %}
    {% endif %}
    {% if style is not defined %}
        {% set add_class = '' %}
    {% else %}
        {% set add_class = ' btn ' ~ style %}
    {% endif %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ add_class
    }) %}
    {{ parent() }}
{% endblock %}
