{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroQueryDesignerBundle::macros.html.twig' as QD %}

<div class="widget-content">
    {% if saved %}
        <script type="text/javascript">
            require(['oroui/js/widget-manager', 'oroui/js/mediator'],
            function(widgetManager, mediator) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    mediator.trigger('auto_response_rule:save', {{ form.vars.value.id }});
                    mediator.trigger('widget_success:' + widget.getWid());
                    mediator.trigger('widget_success:' + widget.getAlias());
                    widget.remove();
                });
            });
        </script>
    {% else %}
        {% set pageComponent = {
            'module': 'oroui/js/app/components/view-component',
            'options': {'view': 'oroemail/js/app/views/email-template-editor-view'},
            'layout': 'separate'
        } %}
        <div class="form-container" {{ UI.renderPageComponentAttributes(pageComponent) }}>
            {{ form_start(
                form,
                {
                    attr: {
                        id: form.vars.id,
                    },
                    action: path(
                        app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')
                    )
                }
            ) }}
                <fieldset class="form form-horizontal">
                    <div>
                        {{ form_row(form.active) }}
                        {{ form_row(form.name) }}
                        <div class="control-group">
                            <label class="required control-label">
                                {{ 'oro.email.autoresponserule.conditions.label'|trans }}
                            </label>
                            <div class="controls">
                                {{ QD.query_designer_condition_builder({
                                    'id': 'oro_email_autoresponserule-condition-builder',
                                    'entity_choice_id': 'oro_email_autoresponserule_entity',
                                    'metadata': metadata
                                }) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </div>
                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        {% set label = form.vars.data.id ? 'Update' : 'Add' %}
                        <button class="btn btn-primary" type="submit">{{ label|trans }}</button>
                    </div>
                </fieldset>
            {{ form_end(form) }}
            {{ oro_form_js_validation(form) }}
            <div{{ UI.renderPageComponentAttributes({
                'module': 'oroemail/js/app/components/auto-response-rule-component',
                'options': {
                    data: data
                }
            }) }}></div>
        </div>
    {% endif %}
</div>
