{% import 'OroUIBundle::macros.html.twig' as UI %}
<div class="widget-content">
    {% if saved %}
        <script type="text/javascript">
            require(['oroui/js/widget-manager', 'oroui/js/mediator'],
            function(widgetManager, mediator) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    mediator.trigger('auto_response_rule:save', {{ form.vars.value.id }});
                    mediator.trigger('widget_success:' + widget.getWid());
                    mediator.trigger('widget_success:' + widget.getAlias());
                    widget.remove();
                });
            });
        </script>
    {% else %}
        {% set pageComponent = {
            'module': 'oroui/js/app/components/view-component',
            'options': {'view': 'oroemail/js/app/views/email-template-editor-view'},
            'layout': 'separate'
        } %}
        <div class="form-container" {{ UI.renderPageComponentAttributes(pageComponent) }}>
            {% form_theme form 'OroEmailBundle:Form:autoresponseFields.html.twig' %}
            {{ form_start(
                form,
                {
                    action: path(
                        app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')
                    )
                }
            ) }}
                <fieldset class="form form-horizontal">
                    <div class="span8">
                        {{ form_rest(form) }}
                    </div>
                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        {% set label = form.vars.data.id ? 'Update' : 'Add' %}
                        <button class="btn btn-primary" type="submit">{{ label|trans }}</button>
                    </div>
                </fieldset>
            {{ form_end(form) }}
        </div>
    {% endif %}
</div>
