{% extends 'OroUIBundle:actions:update.html.twig' %}
{% form_theme form with 'OroFormBundle:Form:fields.html.twig' %}
{% oro_title_set({params : {"%entityName%": entity_config.get('label')|default('N/A')|trans }}) %}

{% set formAction = path('oro_entityconfig_update', {id: entity.id}) %}

{% set audit_entity_class = entity.classname|replace('\\', '_') %}
{% set audit_title = entity_config.get('label')|default('N/A')|trans %}
{% set audit_path = 'oro_entityconfig_audit' %}
{% set audit_entity_id = entity.id %}
{% set audit_show_change_history = true %}

{% block navButtons %}
    {% if resource_granted('oro_entityconfig_manage') %}
        {{ UI.cancelButton(path('oro_entityconfig_view', {id: entity.id})) }}
        {% set html = UI.saveAndCloseButton() %}
        {% set html = html ~ UI.saveAndStayButton() %}
        {{ UI.dropdownSaveButton({'html': html}) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      'entity',
        'indexPath':   path('oro_entityconfig_index'),
        'indexLabel': 'Entities',
        'entityTitle': entity_config.get('label')|default('N/A')|trans,
    } %}

    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'oro.entity_config.info.created.label'|trans }}: {{ entity.created|oro_format_datetime }}</li>
    <li>{{ 'oro.entity_config.info.updated.label'|trans }}: {{ entity.updated|oro_format_datetime }}</li>
    {% if link is defined and link %}
        <li>
            {{ [
            '<a href="', link, '">',
            'oro.entity_config.info.records_count.label'|trans,
            ': ',
            entity_count|default(0) ,
            '</a>'
            ]|join|raw }}
        </li>
    {% else %}
        <li>
            {{ [
            '<span>',
            'oro.entity_config.info.records_count.label'|trans,
            ': ',
            entity_count|default(0) ,
            '</span>'
            ]|join|raw }}
        </li>
    {% endif %}
{% endblock stats%}

{% block content_data %}
    {% set id = 'configentity-update' %}
    {% set dataBlocks = form_data_blocks(form) %}
    {% set data = {
        'formErrors': form_errors(form)? form_errors(form) : null,
        'dataBlocks': dataBlocks
    }%}

    {{ parent() }}
{% endblock content_data %}
