{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% oro_title_set({params : {"%entityName%": entity_config.get('label')|default('N/A')|trans }}) %}

{% if resource_granted('oro_entityconfig_manage') %}
    {% set audit_entity_class = entity.classname|replace('\\', '_') %}
    {% set audit_title = entity_config.get('label')|default(entity_name)|trans %}
    {% set audit_path = 'oro_entityconfig_audit' %}
    {% set audit_show_change_history = true %}
{% endif %}

{% block navButtons %}
    {% if resource_granted('oro_entityconfig_manage') %}
        {% if extend_config.is('is_extend') %}
            {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
                entity_class: 'Oro\\Bundle\\EntityConfigBundle\\Entity\\FieldConfigModel',
                importJob: 'entity_fields_import_from_csv',
                importProcessor: 'oro_entity_config_entity_field.add_or_replace',
                importTitle: 'oro.entity_config.import.title'|trans,
                exportTemplateJob: 'entity_export_template_to_csv',
                exportTemplateProcessor: 'oro_entity_config_entity_field.export_template',
                refreshPageOnSuccess: true,
                afterRefreshPageMessage: 'oro.entity_config.import.message.require_update_schema'|trans,
                options: {'entity_id': entity.id},
                importLabel: 'oro.entity_config.import.label'|trans,
            } %}
        {% endif %}

        {{ UI.editButton({'path': path('oro_entityconfig_update', { id: entity.id })}) }}
        {% for button in button_config %}
            {{ UI.button({
                'path'   : button.void is defined ? 'javascript:void(0);' : path(button.route, button.args|default({})),
                'data'   : {
                    'url' : button.void is defined ? path(button.route, button.args|default({})) : null,
                },
                'iCss'   : button.iCss|default(''),
                'aCss'   : button.aCss|default(''),
                'title'  : button.title|default(button.name)|trans,
                'label'  : button.name|trans
            }) }}
        {% endfor %}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_entityconfig_index'),
        'indexLabel': 'oro.entity_config.entity.plural_label'|trans,
        'entityTitle': entity_config.get('label')|default(entity_name)|trans,
    }%}

    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.created|oro_format_datetime }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updated|oro_format_datetime }}</li>
    {% if link %}
    <li>
        {{ UI.link({
            'path': link,
            'label': 'oro.entity_config.info.records_count.label'|trans({'%count%': entity_count|default(0)})
        }) }}
    </li>
    {% else %}
    <li>
        <span>{{ 'oro.entity_config.info.records_count.label'|trans({'%count%': entity_count|default(0)}) }}</span>
    </li>
    {% endif %}
{% endblock stats%}

{% block content_data %}
    {% if require_js|length %}
        <script type="text/javascript">
            require({{ require_js|json_encode|raw }})
        </script>
    {% endif %}

    {% set entityInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_entityconfig_widget_info', {id: entity.id}),
            'title': 'oro.entity_config.entity.information.label'|trans
        }) }}
    {% endset %}

    {% set uniqueKeysWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_entityconfig_widget_unique_keys', {id: entity.id}),
            'title': 'oro.entity_config.entity.unique.label'|trans
        }) }}
    {% endset %}

    {% set entityFieldsWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_entityconfig_widget_entity_fields', {id: entity.id})
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oro.entity_config.block_titles.general.label'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [entityInformationWidget]},
                {'data' : [uniqueKeysWidget]}
            ]
        },
        {
            'title': 'oro.entity_config.block_titles.fields.label'|trans,
            'subblocks': [
                {'data' : [entityFieldsWidget]},
            ]
        },
    ] %}

    {% set id = 'entityConfigView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
