{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% oro_title_set({params : {"%entityName%": entity_config.get('label')|default('N/A')|trans }}) %}

{% if resource_granted('oro_entityconfig_manage') %}
    {% set audit_entity_class = entity.classname|replace('\\', '_') %}
    {% set audit_title = entity_config.get('label')|default(entity_name)|trans %}
    {% set audit_path = 'oro_entityconfig_audit' %}
{% endif %}

{% block navButtons %}
    {% if resource_granted('oro_entityconfig_manage') %}
        {{ UI.editButton({
            'path': path('oro_entityconfig_update', { id: entity.id }),
            'title': 'Edit entity',
            'label': 'Edit'
        }) }}
        {% for button in button_config %}
            {{ UI.button({
                'path'   : button.void is defined ? [ 'javascript:void(0);//', path(button.route, button.args|default({})) ]|join : path(button.route, button.args|default({})),
                'iClass' : button.iClass|default(''),
                'aClass' : button.aClass|default(''),
                'title'  : button.title|default(button.name),
                'label'  : button.name
            }) }}
        {% endfor %}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_entityconfig_index'),
        'indexLabel': 'Entities',
        'entityTitle': entity_config.get('label')|default(entity_name)|trans,
    }%}

    {{ parent() }}
{% endblock pageHeader %}

{% block stats %}
    <li>{{ 'Created'|trans }}: {{ entity.created|oro_format_datetime }}</li>
    <li>{{ 'Updated'|trans }}: {{ entity.updated|oro_format_datetime }}</li>
    {% if link %}
    <li>{{ ['<a href="', link, '">', 'Number of records'|trans, ': ', entity_count|default(0) , '</a>']|join|raw }}</li>
    {% else %}
    <li>{{ ['<span>', 'Number of records'|trans, ': ', entity_count|default(0) , '</span>']|join|raw }}</li>
    {% endif %}
{% endblock stats%}

{% block content_data %}
    {% if require_js|length %}
        <script type="text/javascript">
            require({{ require_js|json_encode|raw }})
        </script>
    {% endif %}

    {% set entityInformationWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_entityconfig_widget_info', {id: entity.id}),
            'title': 'Entity Information'|trans
        }) }}
    {% endset %}

    {% set uniqueKeysWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_entityconfig_widget_unique_keys', {id: entity.id}),
            'title': 'Unique Keys'|trans
        }) }}
    {% endset %}

    {% set entityFieldsWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'url': path('oro_entityconfig_widget_entity_fields', {id: entity.id}),
            'cssClass': 'inner-grid'
        }) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [entityInformationWidget]},
                {'data' : [uniqueKeysWidget]}
            ]
        },
        {
            'title': 'Fields'|trans,
            'subblocks': [
                {'data' : [entityFieldsWidget]},
            ]
        },
    ] %}

    {% set id = 'entityConfigView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}
