{% macro query_designer_condition_builder(params) %}
    {% set fieldConditionOptions = {
        fieldChoice: {
            select2: {
                placeholder: 'oro.query_designer.condition_builder.choose_entity_field'|trans
            },
            util: {},
        }
    } %}
    <div class="condition-builder left-panel-container">
        <div class="panel-placeholder">
            <div>
                <div class="row-fluid">
                    <div class="span3 filter-criteria">
                        <div class="hint">{{ 'oro.query_designer.condition_builder.criteria.drag_hint'|trans }}</div>
                        <ul class="criteria-list" id="filter-criteria-list">
                            <li class="option" data-criteria="condition-item"
                                data-module="oroquerydesigner/js/field-condition"
                                data-widget="fieldCondition"
                                data-options="{{ fieldConditionOptions|json_encode }}">
                                {{ 'oro.query_designer.condition_builder.criteria.field_condition'|trans }}
                            </li>
                            <li class="option" data-criteria="conditions-group">
                                {{ 'oro.query_designer.condition_builder.criteria.conditions_group'|trans }}
                            </li>
                        </ul>
                    </div>
                    <div class="span9">
                        <div class="condition-builder" id="{{ params.id }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        require(['oroquerydesigner/js/condition-builder'], function ($) {
            var $fieldConditionCriteria = $('#filter-criteria-list').find('[data-criteria=condition-item]'),
                $conditions = $('#{{ params.id }}');

            $('#{{ params.entity_choice_id }}')
                .on('fieldsloaderupdate', function (e, fields) {
                    $conditions.conditionBuilder('setValue', []);
                    $.extend(true, $fieldConditionCriteria.data('options'), {
                        fieldChoice: {
                            fields: fields,
                            entity: $(e.target).val()
                        }
                    });
                    $fieldConditionCriteria
                        .toggleClass('disabled', $.isEmptyObject(fields));
                });

            $conditions.conditionBuilder({
                criteriaListSelector: '#filter-criteria-list'
            });
        });
    </script>
{% endmacro %}

{% macro query_designer_column_list(attr) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set attr = attr|default({})|merge({'class': (attr.class|default('') ~ ' grid-container query-designer-grid-container query-designer-columns-grid-container')|trim}) %}
    <div{{ UI.attributes(attr) }}>
        <table class="grid table-hover table table-bordered table-condensed" style="display: table;">
            <thead>
            <tr>
                <th class="name-column"><span>{{ 'oro.query_designer.datagrid.column.column'|trans }}</span></th>
                <th class="label-column"><span>{{ 'oro.query_designer.datagrid.column.label'|trans }}</span></th>
                <th class="function-column"><span>{{ 'oro.query_designer.datagrid.column.function'|trans }}</span></th>
                <th class="sorting-column"><span>{{ 'oro.query_designer.datagrid.column.sorting'|trans }}</span></th>
                <th class="action-column"><span>{{ 'oro.query_designer.datagrid.column.actions'|trans }}</span></th>
            </tr>
            </thead>
            <tbody class="item-container">
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro query_designer_column_template(id) %}
    <script type="text/html" id="{{ id }}">
        <tr data-id="<%= id %>">
            <td class="name-cell"><%= name %></td>
            <td class="label-cell"><%= label %></td>
            <td class="function-cell"><%= func %></td>
            <td class="sorting-cell"><%= sorting %></td>
            <td class="action-cell">
                <a href="javascript: void(0);" class="action no-hash edit-button"
                   title="{{ 'oro.query_designer.datagrid.action.update_column'|trans }}"
                ><i class="icon-edit hide-text"></i></a>
                <a href="javascript: void(0);" class="action no-hash delete-button"
                   data-message="{{ 'oro.query_designer.datagrid.action.delete_column_confirmation'|trans }}"
                   title="{{ 'oro.query_designer.datagrid.action.delete_column'|trans }}"
                ><i class="icon-trash hide-text"></i></a>
                <span
                   title="{{ 'oro.query_designer.datagrid.action.move_column'|trans }}"
                ><i class="icon-list handle"></i></span>
            </td>
        </tr>
    </script>
{% endmacro %}

{% macro query_designer_column_form(form, attr) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set attr = attr|default({})|merge({'class': (attr.class|default('') ~ ' query-designer-form clearfix')|trim}) %}
    <div{{ UI.attributes(attr) }}>
        {{ form_row(form.name, {
            'label': 'oro.query_designer.form.column'|trans,
            'attr': {
                'data-purpose': 'column-selector'
            }
        }) }}
        {{ form_row(form.label, {
            'label': 'oro.query_designer.form.label'|trans,
            'attr': {
                'class': 'label-text',
                'data-purpose': 'label'
            }
        }) }}
        {{ form_row(form.func, {
            'label': 'oro.query_designer.form.function'|trans,
            'attr': {
                'class': 'function-selector',
                'data-purpose': 'function-selector'
            }
        }) }}
        {{ form_row(form.sorting, {
            'label': 'oro.query_designer.form.sorting'|trans,
            'attr': {
                'class': 'sorting-selector',
                'data-purpose': 'sorting-selector'
            }
        }) }}
        {{ UI.clientButton({
            'aCss': 'no-hash cancel-button column-form-button',
            'label' : 'oro.query_designer.form.action.cancel'|trans
        }) }}
        {{ UI.clientButton({
            'visible': false,
            'aCss': 'no-hash btn-success save-button column-form-button',
            'label' : 'oro.query_designer.form.action.save'|trans
        }) }}
        {{ UI.clientButton({
            'visible': false,
            'aCss': 'no-hash btn-primary add-button column-form-button',
            'label' : 'oro.query_designer.form.action.add'|trans
        }) }}
    </div>
{% endmacro %}

{% macro query_designer_grouping_form(form, attr, params) %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% set attr = attr|default({})|merge({'class': (attr.class|default('') ~ ' query-designer-grouping-form query-designer-form clearfix')|trim}) %}
    <div{{ UI.attributes(attr) }}>
        {# @todo own formtype for this kind field based on hidden input #}
        <div class="control-group">
            <label class="control-label required" for="s2id_autogen2">Grouping columns<em>*</em></label>
            <div class="controls">
            {% set validation = {
                NotBlank: {message: 'oro.query_designer.condition_builder.conditions_group.not_blank'}
            } %}
            {{ form_row(form.columnNames, {
                'label': 'oro.query_designer.form.grouping_columns'|trans,
                'attr': {
                    'data-purpose': 'column-selector',
                    'data-validation': validation|json_encode
                }
            }) }}
            </div>
        </div>
        {{ UI.clientButton({
            'aCss': 'no-hash cancel-button',
            'label' : 'oro.query_designer.form.action.cancel'|trans
        }) }}
        {{ UI.clientButton({
            'visible': false,
            'aCss': 'no-hash btn-success save-button',
            'label' : 'oro.query_designer.form.action.save'|trans
        }) }}
        {{ UI.clientButton({
            'visible': false,
            'aCss': 'no-hash btn-primary add-button',
            'label' : 'oro.query_designer.form.action.add'|trans
        }) }}
    </div>
    {% set fieldConditionOptions = {
        select2: {
            placeholder: 'oro.query_designer.condition_builder.choose_entity_field'|trans
        },
        util: {}
    } %}
    <script type="text/javascript">
        require(['oroquerydesigner/js/field-condition', 'oroui/js/edit-form'], function ($) {
            var $editForm = $('#{{ attr.id }}');
            var $fieldChoice = $editForm.find('[data-purpose=column-selector]');
            $fieldChoice.fieldChoice({{ fieldConditionOptions|json_encode|raw }});
            $('#{{ params.entity_choice_id }}')
                .on('fieldsloaderupdate', function (e, fields) {
                    $fieldChoice
                        .fieldChoice('setValue', '')
                        .fieldChoice({
                            fields: fields,
                            entity: $(e.target).val()
                        });
                });

            $editForm.editForm({
                namePattern:  /^oro_report_form\[grouping\]\[([\w\W]*)\]$/
            });
        });
    </script>
{% endmacro %}

{% macro query_designer_column_chain_template(id) %}
    <script type="text/html" id="{{ id }}"><% _.each(obj, function (column, index, list) { %>&#32;<%= column.entity.label %>&nbsp;<b><%= column.label %></b><% if (index < list.length - 1) { %>&nbsp;><% } %><% }) %></script>
{% endmacro %}
