{% block block_widget -%}
    {{ block('block_attributes') }}
{%- endblock %}

{% block block_label -%}
    {% if label is defined and label is not same as(false) %}
        {%- if label is empty -%}
            {% set label = id|humanize %}
        {%- endif -%}
        <label{{ block('block_label_attributes') }}>{{ label|block_text(translation_domain) }}</label>
    {%- endif %}
{%- endblock %}

{% block block_row -%}
    {{ block_label(block) -}}
    {{ block_widget(block) -}}
{%- endblock %}

{% block block_attributes -%}
    {% set renderer = 'block_attributes_base' %}
    {% if attr_renderer is defined %}
        {% set renderer = attr_renderer %}
    {% endif %}
    {{ block(renderer) }}
{%- endblock %}

{% block block_attributes_base -%}
    {% if attr.class is defined %}
        {% set attr = attr|merge({
            class: attr.class|replace({'{{ class_prefix }}': class_prefix})
        }) %}
    {% endif %}
    {% for attrname, attrvalue in attr %}
        {% if (attrvalue is iterable) %}{% set attrvalue = attrvalue|json_encode(constant('JSON_FORCE_OBJECT')) %}{% endif %}
        {% if attrname is same as('title') %}{{ attrname }}="{{ attrvalue|block_text(translation_domain) }}"{% else %}{{ attrname }}="{{ attrvalue }}"{% endif %}
    {% endfor %}
{%- endblock %}

{% block block_label_attributes -%}
    {% if label_attr.class is defined %}
        {% set label_attr = label_attr|merge({
            class: label_attr.class|replace({'{{ class_prefix }}': class_prefix})
        }) %}
    {% endif %}
    {% for attrname, attrvalue in label_attr %} {% if attrname is same as('title') %}{{ attrname }}="{{ attrvalue|block_text(translation_domain) }}"{% else %}{{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}
{%- endblock %}

{% block icon_block -%}
    <i class="icon-{{ icon }}{% if icon_class is defined %} {{ icon_class }}{% endif %}"></i>
{%- endblock %}

{% block input_widget -%}
    {% if attr.placeholder is defined %}
        {% set attr = attr|merge({
            placeholder: attr.placeholder|block_text(translation_domain)
        }) %}
    {% endif %}
    <input{{ block('block_attributes') }}/>
{%- endblock %}

{% block container_widget -%}
    {% for child in block if child.vars.visible -%}
        {{ block_widget(child) }}
    {%- endfor %}
{%- endblock %}

{% block root_widget %}
<!DOCTYPE {{ doctype|default('html') }}>
<html>
    {{ block_widget(block) }}
</html>
{% endblock %}

{% block head_widget %}
    <head{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </head>
{% endblock %}

{% block title_widget -%}
    {% if reverse %}
        {% set value = value|reverse %}
    {% endif %}
    <title>
        {%- for element in value -%}
            {{ element|block_text(translation_domain) }}
            {%- if not loop.last -%}
                {{ separator }}
            {%- endif -%}
        {%- endfor -%}
    </title>
{%- endblock %}

{% block meta_widget %}
    <meta{{ block('block_attributes') }}/>
{% endblock %}

{% block script_widget %}
    {% if attr.src is defined and attr.src is not empty %}
        <script{{ block('block_attributes') }}></script>
    {% else %}
        <script{{ block('block_attributes') }}>
            {{ content|raw }}
        </script>
    {% endif %}
{% endblock %}

{% block style_widget %}
    {% if attr.href is defined and attr.href is not empty %}
        <link rel="stylesheet"{{ block('block_attributes') }}/>
    {% else %}
        <style{{ block('block_attributes') }}>
            {{ content|raw }}
        </style>
    {% endif %}
{% endblock %}

{% block body_widget %}
    <body{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </body>
{% endblock %}

{% block form_start_widget %}
    {% set attr = form.vars.attr|merge(attr) %}
    {% set action = action_path is defined ? action_path : (action_route_name is defined ? path(action_route_name, action_route_parameters) : null) -%}
    {% if method is defined and method not in ['GET', 'POST'] -%}
        {% set form_method = 'POST' %}
    {%- endif -%}
    <form{{ block('block_attributes') }}{% if action is not same as(null) %} action="{{ action }}"{% endif %}{% if method is defined %} method="{{ form_method|default(method)|lower }}"{% endif %}{% if enctype is defined %} enctype="{{ enctype }}"{% endif %}>
    {%- if form_method is defined -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{% endblock %}

{% block form_widget %}
    {% if split_to_fields %}
        {{ block_widget(block) }}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
{% endblock %}

{% block form_end_widget %}
    {{ form_end(form,  {'render_rest': render_rest}) }}
{% endblock %}

{% block form_field_widget %}
    {{ form_row(form) }}
{% endblock %}

{% block fieldset_widget %}
    <fieldset{{ block('block_attributes') }}>
        <legend>{{ title|block_text(translation_domain) }}</legend>
        {{ block_widget(block) }}
    </fieldset>
{% endblock %}

{% block text_widget -%}
    {% if escape %}
        {{- text|block_text(translation_domain) -}}
    {% else %}
        {{- text|block_text(translation_domain)|raw -}}
    {% endif %}
{%- endblock %}

{% block link_widget -%}
    <a{{ block('block_attributes') }} href="{{ path is defined ? path : path(route_name, route_parameters) }}">
        {%- if icon is defined %}{{ block('icon_block') }}{% endif %}
        {%- if text is defined %}{{ text|block_text(translation_domain) }}{% endif -%}
    </a>
{%- endblock %}

{% block button_widget -%}
    {% if type is same as('input') %}
        {{- block('button_widget_input') -}}
    {% else %}
        {{- block('button_widget_button') -}}
    {% endif %}
{%- endblock %}

{% block button_widget_input -%}
    <input{{ block('block_attributes') }}
        type="{{ action in ['submit', 'reset'] ? action : 'button' }}"
        {%- if name is defined %} name="{{ name }}"{% endif %}
        {%- if value is defined or text is defined %} value="{{ value is defined ? value : text|block_text(translation_domain) }}"{% endif %}/>
{%- endblock %}

{% block button_widget_button -%}
    <button{{ block('block_attributes') }}
        {#{%- if action in ['submit', 'reset'] %} type="{{ action }}"{% endif %}#}
        type="{{ type in ['submit', 'reset'] ? type : 'button' }}"
        {%- if name is defined %} name="{{ name }}"{% endif %}
        {%- if value is defined %} value="{{ value }}"{% endif %}>
        {%- if icon is defined %}{{ block('icon_block') }}{% endif %}
        {%- if text is defined %}{{ text|block_text(translation_domain) }}{% endif -%}
    </button>
{%- endblock %}

{% block external_resource_widget %}
    <link{{ block('block_attributes') }}/>
{% endblock %}

{% block list_widget -%}
    <ul{{ block('block_attributes') }}>
    {% for child in block if child.vars.visible -%}
        {% if child.vars.own_template is defined and child.vars.own_template -%}
            {{ block_widget(child) }}
        {%- else %}
            <li>{{ block_widget(child) }}</li>
        {%- endif %}
    {%- endfor %}
    </ul>
{%- endblock %}

{% block ordered_list_widget -%}
    <ol{{ block('block_attributes') }}>
    {% for child in block if child.vars.visible -%}
        {% if child.vars.own_template is defined and child.vars.own_template -%}
            {{ block_widget(child) }}
        {%- else %}
            <li>{{ block_widget(child) }}</li>
        {%- endif %}
    {%- endfor %}
    </ol>
{%- endblock %}

{% block list_item_widget -%}
    <li{{ block('block_attributes') }}>{{ block_widget(block) }}</li>
{%- endblock %}
