{% block block_widget -%}
{%- endblock %}

{% block block_label -%}
    {% if label is defined and label is not same as(false) %}
        {%- if label is empty -%}
            {% set label = id|humanize %}
        {%- endif -%}
        <label{% if label_attr is defined %}{% for attrname, attrvalue in label_attr %} {% if attrname is same as('title') %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"{% else %}{{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}{% endif %}>{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock %}

{% block block_row -%}
    {{ block_label(block) -}}
    {{ block_widget(block) -}}
{%- endblock %}

{% block block_attributes -%}
    {% for attrname, attrvalue in attr %} {% if attrname is same as('title') %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"{% else %}{{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}
{%- endblock %}

{% block container_widget -%}
    {% for child in block if child.vars.visible -%}
        {{ block_widget(child) }}
    {%- endfor %}
{%- endblock %}

{% block root_widget %}
<!DOCTYPE {{ doctype|default('html') }}>
<html>
    {{ block_widget(block) }}
</html>
{% endblock %}

{% block head_widget %}
    <head{{ block('block_attributes') }}>
        <title>{{ title|trans(title_parameters, translation_domain) }}</title>
        {{ block_widget(block) }}
    </head>
{% endblock %}

{% block meta_widget %}
    <meta{{ block('block_attributes') }} />
{% endblock %}

{% block script_widget %}
    {% set attr = {'type': 'text/javascript'}|merge(attr) %}
    {% if attr.src is defined and attr.src is not empty %}
        <script{{ block('block_attributes') }}></script>
    {% else %}
        <script{{ block('block_attributes') }}>
            {{ content|raw }}
        </script>
    {% endif %}
{% endblock %}

{% block style_widget %}
    {% set attr = {'type': 'text/css'}|merge(attr) %}
    {% if attr.src is defined and attr.src is not empty %}
        {% set href = attr.src %}
        {% set attr = attr|omit(['src'])|merge({'href' : href}) %}
        <link rel="stylesheet"{{ block('block_attributes') }}/>
    {% else %}
        <style{{ block('block_attributes') }}>
            {{ content|raw }}
        </style>
    {% endif %}
{% endblock %}

{% block body_widget %}
    <body{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </body>
{% endblock %}

{% block form_field_widget %}
    {{ form_row(form) }}
{% endblock %}

{% block fieldset_widget %}
    <fieldset{{ block('block_attributes') }}>
        <legend>{{ title|trans(title_parameters, translation_domain) }}</legend>
        {{ block_widget(block) }}
    </fieldset>
{% endblock %}

{% block text_widget -%}
    {{ text|trans(text_parameters, translation_domain) }}
{%- endblock %}
