{% block block_widget -%}
{%- endblock %}

{% block block_label -%}
    {% if label is defined and label is not same as(false) %}
        {%- if label is empty -%}
            {% set label = id|humanize %}
        {%- endif -%}
        <label{% if label_attr is defined %}{% for attrname, attrvalue in label_attr %} {% if attrname is same as('title') %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"{% else %}{{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}{% endif %}>{{ label|trans({}, translation_domain) }}</label>
    {%- endif %}
{%- endblock %}

{% block block_row -%}
    {{ block_label(block) -}}
    {{ block_widget(block) -}}
{%- endblock %}

{% block block_attributes -%}
    {% for attrname, attrvalue in attr %} {% if attrname is same as('title') %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}"{% else %}{{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}
{%- endblock %}

{% block container_widget -%}
    {% for child in block if child.vars.visible -%}
        {{ block_widget(child) }}
    {%- endfor %}
{%- endblock %}

{% block root_widget %}
<!DOCTYPE {{ doctype|default('html') }}>
<html>
    {{ block_widget(block) }}
</html>
{% endblock %}

{% block head_widget %}
    <head{{ block('block_attributes') }}>
        <title>{{ translatable ? title|trans(title_parameters, translation_domain) : title|replace(title_parameters) }}</title>
        {{ block_widget(block) }}
    </head>
{% endblock %}

{% block meta_widget %}
    <meta{{ block('block_attributes') }} />
{% endblock %}

{% block script_widget %}
    {% if attr.src is defined and attr.src is not empty %}
        <script{{ block('block_attributes') }}></script>
    {% else %}
        <script{{ block('block_attributes') }}>
            {{ content|raw }}
        </script>
    {% endif %}
{% endblock %}

{% block style_widget %}
    {% if attr.href is defined and attr.href is not empty %}
        <link rel="stylesheet"{{ block('block_attributes') }}/>
    {% else %}
        <style{{ block('block_attributes') }}>
            {{ content|raw }}
        </style>
    {% endif %}
{% endblock %}

{% block body_widget %}
    <body{{ block('block_attributes') }}>
        {{ block_widget(block) }}
    </body>
{% endblock %}

{% block form_start_widget %}
    {% set action = action_path is defined ? action_path : (action_route_name is defined ? path(action_route_name, action_route_parameters) : null) -%}
    <form{{ block('block_attributes') }}{% if action is not same as(null) %} action="{{ action }}"{% endif %}{% if method is defined %} method="{{ method|lower }}"{% endif %}{% if enctype is defined %} enctype="{{ enctype }}"{% endif %}>
    {%- if method is defined and method not in ['GET', 'POST'] -%}
        <input type="hidden" name="_method" value="POST" />
    {%- endif -%}
{% endblock %}

{% block form_end_widget %}
    {{ form_end(form) }}
{% endblock %}

{% block form_field_widget %}
    {{ form_row(form) }}
{% endblock %}

{% block fieldset_widget %}
    <fieldset{{ block('block_attributes') }}>
        <legend>{{ translatable ? title|trans(title_parameters, translation_domain) : title|replace(title_parameters) }}</legend>
        {{ block_widget(block) }}
    </fieldset>
{% endblock %}

{% block text_widget -%}
    {{ translatable ? text|trans(text_parameters, translation_domain) : text|replace(text_parameters) }}
{%- endblock %}

{% block link_widget -%}
    <a{{ block('block_attributes') }} href="{{ path ?: path(route_name, route_parameters) }}">
        {{- translatable ? text|trans(text_parameters, translation_domain) : text|replace(text_parameters) -}}
    </a>
{%- endblock %}

{% block external_resource_widget %}
    <link {{ block('block_attributes') }} />
{% endblock %}

{% block list_widget -%}
    <ul{{ block('block_attributes') }}>
    {% for child in block if child.vars.visible -%}
        <li>{{ block_widget(child) }}</li>
    {%- endfor %}
    </ul>
{%- endblock %}
