{% extends 'OroDashboardBundle:Dashboard:widget.html.twig' %}

{% set widgetType = 'launchpad' %}
{% set widgetTitle = false %}

{% block content %}
    <div class="clearfix">
        <div class="image-wrap pull-left">
            <p class="text-center">
                {{ widgetLabel|trans }}
            </p>
            {% if widgetIcon is defined and widgetIcon %}
                <a href="javascript:void(0);" class="icon-{{ widgetIcon }} widget-image"></a>
            {% endif %}
        </div>
        <div class="list-wrap pull-left">
            <ul class="nav nav-list">
                {% for item in items %}
                    <li class="{{ loop.last ? 'last' : '' }}">
                        <a href="{{ path(item.route, item.route_parameters)|raw }}">{{ item.label|trans }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{ parent() }}
{% endblock %}
