{% extends 'OroDashboardBundle:Dashboard:widget.html.twig' %}

{% set widgetType = 'quick-launchpad' %}

{% block content %}
    <ul class="quick-launchpad-toolbar">
        {% set visibleLinkCount = 0 %}
        {% for link in links %}
            {%  if resource_granted(link.acl) %}
                {% set visibleLinkCount = visibleLinkCount + 1 %}
            {% endif %}
        {% endfor %}
        {% set itemWidth = visibleLinkCount > 0 ? (100 / visibleLinkCount)|round(1) : 100 %}
        {% for link in links %}
            {%  if resource_granted(link.acl) %}
                <li style="width: {{ loop.last ? 100 - ((visibleLinkCount - 1) * itemWidth) : itemWidth }}%">
                    <a href="{{ link.url|raw }}">
                        <span class="title-box">{{ link.label|trans }}</span>
                    <span class="list-content">
                        <i class="icon-{{ link.icon }}"></i>
                    </span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {{ parent() }}
{% endblock %}
