{% extends 'OroDashboardBundle:Dashboard:widget.html.twig' %}

{% block content %}
    <div class="tab-container">
        <ul class="nav nav-tabs">
            {% for tab in tabs %}
                <li{% if activeTab == tab.name %} class="active"{% endif %}><a
                    href="javascript:void(0);" class="no-hash tab-button"
                    data-name="{{ tab.name }}" data-url="{{ tab.url }}">{{ tab.label|trans }}</a></li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="content">
                {% block tab_content %}
                    {{ activeTabContent|raw }}
                {% endblock %}
            </div>
            <div class="loading-mask"></div>
        </div>
    </div>
    <script type="text/javascript">
        require(['jquery', 'underscore', 'oro/error', 'oroui/js/loading-mask'],
        function($, _, error, LoadingMask){
            var loadingMask = null;
            $(document).on('click', '#{{ widgetContentId }} .tab-button', function (e) {
                var $el = $(this);
                var $prevTab = $el.closest('.nav-tabs').find('li.active');
                var $currentTab = $el.closest('li');
                $prevTab.removeClass('active');
                $currentTab.addClass('active');

                var $tabContent = $el.closest('.widget-content').find('.tab-content');
                if (_.isNull(loadingMask)) {
                    loadingMask = new LoadingMask();
                    $tabContent.find('.loading-mask').append(loadingMask.render().$el);
                }

                loadingMask.show();
                $.ajax({
                    url: $el.data('url'),
                    dataType: 'html',
                    error: function(jqXHR, textStatus, errorThrown) {
                        loadingMask.hide();
                        $currentTab.removeClass('active');
                        $prevTab.addClass('active');
                        error.dispatch(null, jqXHR);
                    },
                    success: function(data, textStatus, jqXHR) {
                        loadingMask.hide();
                        $tabContent.find('.content').html(data);
                    }
                });
            });
        });
    </script>
    {{ parent() }}
{% endblock %}
