{#
    Edit channel form
    Custom renderer needed due to this form should be modified
    dynamically via ajax depends on type and transportType fields value
#}
{% block oro_integration_channel_form_widget %}

    {% if form.type.vars.choices is empty %}
        {{ form_row(form.type, {'attr': {'disabled':true} } ) }}
    {% else %}
        {{ form_row(form.type) }}
    {% endif %}

    {{ form_row(form.name) }}

    {% if (form.organization is defined) %}
        {{ form_row(form.organization) }}
    {% endif %}

    {{ form_row(form.transportType) }}

    {% if (form.transport is defined) %}
        {{ form_widget(form.transport, {'attr': {'class': 'control-group-container'}}) }}
    {% endif %}

    {% if (form.synchronizationSettings is defined and not form.synchronizationSettings.rendered) %}
        {{ form_widget(form.synchronizationSettings) }}
    {% endif %}

    {% if (form.mappingSettings is defined and not form.mappingSettings.rendered) %}
        {{ form_widget(form.mappingSettings) }}
    {% endif %}

    {% if (form.connectors is defined) %}
        <div class="control-group-container {% if form.connectors.vars.choices is empty %}{{ 'hide' }}{% endif %}">
            {{ form_row(form.connectors) }}
        </div>
    {% endif %}

    {{ form_rest(form) }}

    {% import '@OroIntegration/Form/javascript.html.twig' as jsRenderer %}
    {{ jsRenderer.renderIntegrationFormJS(form) }}
{% endblock %}

{% block oro_integration_webhook_field_widget %}
    {%- import '@OroUI/macros.html.twig' as UI -%}
    {% set webhookId = form.vars.value %}

    <div class="control-group control-group-checkbox">
        <div class="control-label wrap">
            {{- 'oro.integration.webhookconsumersettings.form.webhook_url.label'|trans -}}
        </div>
        <div class="controls grid">
            <div class="text-nowrap text-truncate grid-col-11">
                {%- set webhook_endpoint_url_span_id = form.vars.id ~ '--webhook-endpoint-url' -%}
                {%- set webhook_endpoint_url = url('oro_integration_webhook_consume', {id: webhookId})|default('oro.ui.empty'|trans) -%}
                <span id="{{ webhook_endpoint_url_span_id }}"
                      title="{{ webhook_endpoint_url }}">{{ webhook_endpoint_url }}</span>
            </div>
            <div class="grid-col-1">
                {{- UI.clientLink({
                    aCss: 'btn btn-icon btn-icon-sm',
                    iCss: 'fa-copy',
                    title: 'oro.ui.button.copy_to_clipboard.label'|trans,
                    labelInIcon: false,
                    pageComponent: {
                        view: {
                            view: 'oroui/js/app/views/element-value-copy-to-clipboard-view',
                            elementSelector: '#' ~ webhook_endpoint_url_span_id
                        }
                    }
                }) -}}
            </div>
            <input type="hidden" name="{{ form.vars.full_name }}" value="{{ webhookId }}">
        </div>
    </div>
{% endblock %}
