<div class="widget-content">
    <div class="form-container">
        <form action="{{ formAction }}" method="post">
            <div class="text-center">
                <p>{{ 'oro.user.password.reset.popup.message'|trans({
                        '{{ user }}': '<strong>' ~ entity.username|escape ~ '</strong>'
                    })|raw }}</p>
                <b>{{ 'oro.user.password.reset.popup.question'|trans }}</b>
            </div>

            <div class="widget-actions form-actions">
                <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                <button class="btn btn-primary" type="submit">{{ 'oro.user.password.reset.label'|trans }}</button>
            </div>
        </form>
    </div>
</div>
