{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroEmailBundle::actions.html.twig' as EmailActions %}

{% set name = app.user|oro_format_name|default('N/A') %}
{% oro_title_set({params : {"%username%": name }}) %}

{# grid params #}
{% set params = {'userId': app.user.id} %}
{% set gridName = 'user-email-grid' %}

{% set pageTitle = 'oro.email.entity_plural_label'|trans %}

{% block navButtons %}
    {% if resource_granted('oro_email_email_create') %}
        <div class="btn-group">
            {{ EmailActions.createEmailButton({
                entityClass: oro_class_name(app.user, true),
                entityId: app.user.id})
            }}
        </div>
    {% endif %}
        <div class="btn-group">
            <a type="button"
               class="btn sync-btn icons-holder-text no-hash"
               href="{{ path('oro_email_user_sync_emails') }}">
                <i class="icon-refresh hide-text">{{ 'oro.email.sync.label'|trans }}</i>{{ 'oro.email.sync.label'|trans }}
            </a>
            <script type="text/javascript">
                require(['jquery', 'oroui/js/mediator'],
                    function($, mediator) {
                        $('.sync-btn').on('click', function(e) {
                            $(this).html('<i class="icon-refresh hide-text">{{ 'oro.email.sync.processing'|trans }}</i>{{ 'oro.email.sync.processing'|trans }}')
                            $(this).disable();
                            e.preventDefault();
                            $.getJSON(this.href, function(data) {
                                $(this).html('<i class="icon-refresh hide-text">{{ 'oro.email.sync.label'|trans }}</i>{{ 'oro.email.sync.label'|trans }}');
                                mediator.trigger('datagrid:doReset:{{ gridName }}');
                                //$(this).enable();
                            });
                        });
                    });
            </script>
        </div>
{% endblock %}

{% block breadcrumb %}
    {% set breadcrumbs = [
        {'label': 'oro.email.menu.user_emails'|trans }
    ] %}
    {% include 'OroNavigationBundle:Menu:breadcrumbs.html.twig' %}
{% endblock breadcrumb %}
