<div class="widget-content">
    {% if imported is defined and imported %}
        <script type="text/javascript">
            require(['orotranslation/js/translator', 'oroui/js/widget-manager', 'oroui/js/messenger', 'oroui/js/mediator'],
            function(__, widgetManager, messenger, mediator) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    messenger.notificationFlashMessage('success', __('oro.ldap.import_users_success'));

                    mediator.trigger('widget_success:' + widget.getWid());
                    mediator.trigger('widget_success:' + widget.getAlias());

                    widget.remove();
                });
            });
        </script>
    {% elseif errors %}
        {% for error in errors %}
            <div class="alert alert-error">{{ error|trans }}</div>
        {% endfor %}
    {% else %}
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <div class="pull-right">
                            {{ 'Number of items'|trans }}
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ 'Total number of records'|trans }}</td>
                    <td>
                        <div class="pull-right">
                            {{ total|default(0) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'Records to add'|trans }}</td>
                    <td>
                        <div class="pull-right">
                            {{ add|default(0) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{ 'Records to replace'|trans }}</td>
                    <td>
                        <div class="pull-right">
                            {{ replace|default(0) }}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <form action="{{ app.request.requestUri }}" method="post">
            <div class="widget-actions">
                <button type="submit" class="btn btn-primary">{{ 'oro.ldap.import_users.import'|trans }}</button>
            </div>
        </form>
    {% endif %}
</div>
