{% set linkTitle = params.frontendOptions.title|default(params.label)|trans %}
{% set linkLabel = params.label|trans %}
{% set isAjax = false %}

{% block button %}
    {% set options = oro_action_frontend_options(button) %}
    {% set buttonOptions = options.options %}
    {% if not onlyLink|default(false) %}<div class="pull-left btn-group icons-holder">{% endif %}
        {% block link %}
            <a {% if (params.id is defined) %}id="{{ params.id }}"{% endif %}
                href="javascript:void(0);"
                class="icons-holder-text operation-button {{ params.buttonOptions.class|default('') }} {{ aClass|default('') }} {{ params.buttonOptions.aCss|default('') }}"
                title="{{ linkTitle }}"
                {% for name,value in options.data %}
                    data-{{ name }}="{{ value is iterable ? value|json_encode : value}}"
                {% endfor %}
                data-operation-url="{{ buttonOptions.url }}"
                data-options="{{ buttonOptions|json_encode }}"
                data-page-component-module="oroaction/js/app/components/button-component"
                role="button"
                {% if not button.buttonContext.enabled %}
                    disabled="disabled"
                {% endif %}
            >
                {% if params.buttonOptions.icon is defined or params.buttonOptions.iCss is defined %}
                    <span class="{{ params.buttonOptions.icon|default('') }} {{ params.buttonOptions.iCss|default('') }} hide-text" aria-hidden="true"></span>
                {% endif %}
                {{ linkLabel|trim }}
            </a>
        {% endblock %}
    {% if not onlyLink|default(false) %}</div>{% endif %}
{% endblock %}
