{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set containerExtraClass = containerExtraClass is defined ? containerExtraClass : '' %}
<div class="widget-content activity-list {{ containerExtraClass }}">
    {% block widget_content %}
        {% block widget_actions %}
        <div class="filter-box oro-clearfix-width">
            <div class="filter-container">
                <div id="filter2" class="filter-item oro-drop"></div>
                <div id="filter1" class="filter-item oro-drop"></div>
            </div>
        </div>
        <div class="widget-actions">
            {{ UI.clientLink({
                'aCss': 'btn refresh-button icons-holder-text',
                'iCss': 'icon-refresh',
                'title' : 'Refresh'|trans,
                'dataAttributes': {'action-name': 'refresh'}
            }) }}
            {{ UI.clientLink({
                'aCss': 'collapse-all-button btn-mini',
                'label' : 'Expand All'|trans,
                'dataAttributes': {'action-name': 'expand_all'}
            }) }}
            {{ UI.clientLink({
                'aCss': 'collapse-all-button btn-mini',
                'label' : 'Collapse All'|trans,
                'dataAttributes': {'action-name': 'collapse_all'}
            }) }}
        </div>
        {% endblock %}
        {% block items_container %}
            {% set options = {
                widgetId: app.request.get('_wid'),
                activityListData: render(path(
                    'oro_activity_list_api_get_all',
                    {
                        version: 'latest',
                        entityClass: oro_class_name(entity, true),
                        entityId: entity.id
                    }
                )),
                activityListOptions: {
                    configuration: configuration,
                    template: '#template-activity-list',
                    itemTemplate: '#template-activity-item',
                    urls: {
                        list: path('oro_activity_list_api_get_all', {
                            version: 'latest',
                            entityClass: oro_class_name(entity, true),
                            entityId: entity.id
                        })
                    },
                    routes: {}
                }
            } %}

            <div class="container-fluid accordion"
                data-page-component-module="oroactivitylist/js/app/components/activity-list-component"
                data-page-component-options="{{ options|json_encode }}"></div>

            <div data-section="bottom" class="container-fluid actions-bottom">
                {{ UI.button({
                    'path': '#',
                    'label': 'oro.activitylist.widget.load_more.title'|trans({'{{ count }}': oro_config_value('oro_activity_list.per_page')}),
                    'title': 'oro.activitylist.widget.load_more.title'|trans({'{{ count }}': oro_config_value('oro_activity_list.per_page')}),
                    'aCss': 'no-hash',
                    'dataAttributes': {'action-name': 'more'}
                }) }}
            </div>

            {% include 'OroActivityListBundle:ActivityList:js/list.js.twig' with {'id': 'template-activity-list'} %}
            {% include 'OroActivityListBundle:ActivityList:js/view.js.twig' with {'id': 'template-activity-item'} %}
            {% for activityClass, activityOptions in configuration %}
                {% include activityOptions.template with {'id': ('template-activity-item-' ~ activityClass|replace('\\', '_')) } %}
            {% endfor %}

        {#<script type="text/javascript">#}
            {#/**#}
             {#* TODO: rewrite filters to be in scope of component (for now component do not known about filters)#}
             {#*/#}
            {#require([#}
                {#'jquery',#}
                {#'oro/filter/multiselect-filter',#}
                {#'oro/filter/datetime-filter',#}
                {#'orofilter/js/datafilter-wrapper',#}
            {#], function ($, MultiSelectFilter, DatetimeFilter, dataFilterWrapper) {#}
                {#var choices = {};#}
                {#{% for activityClass, activityOptions in configuration %}#}
                    {#choices['{{ activityClass|replace('\\', '_') }}'] = '{{ activityOptions.label|trans }}';#}
                {#{% endfor %}#}
                {#var filter = new MultiSelectFilter({#}
                    {#'label':   '{{ 'oro.activitylist.widget.filter.activity.title'|trans }}',#}
                    {#'choices': choices || {}#}
                {#});#}

                {#var Filter = DatetimeFilter.extend({{ dateRangeFilterMetadata|json_encode()|raw }});#}
                {#var dateFilter = new Filter({#}
                    {#'label': '{{ 'oro.activitylist.widget.filter.date_picker.title'|trans }}'#}
                {#});#}
                {#_.extend(dateFilter, dataFilterWrapper);#}

                {#filter.render().$el.appendTo($('#filter1'));#}
                {#dateFilter.render().$el.appendTo($('#filter2'));#}
            {#});#}
        {#</script>#}
        {% endblock %}
    {% endblock %}
</div>
