{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set containerExtraClass = containerExtraClass is defined ? containerExtraClass : '' %}
<div class="widget-content activity-list {{ containerExtraClass }}">
    {% block widget_content %}
        {% block widget_actions %}
        <div class="filter-box oro-clearfix-width">
            <div class="filter-container">
                <div class="date-range-filter filter-item oro-drop"></div>
                <div class="activity-type-filter filter-item oro-drop"></div>
            </div>
        </div>
        <div class="widget-actions">
            {{ UI.clientLink({
                'aCss': 'btn refresh-button icons-holder-text',
                'iCss': 'icon-refresh',
                'title' : 'Refresh'|trans,
                'dataAttributes': {'action-name': 'refresh'}
            }) }}
        </div>
        {% endblock %}
        {% block items_container %}
            {% set pager = {
                current: 1,
                pagesize: oro_config_value('oro_activity_list.per_page'),
                total: 1,
                count: 1
            } %}
            {#
                total: (count/oro_config_value('oro_activity_list.per_page'))|round(0, 'ceil'),

                current:  1,  current page number, always 1
                pagesize: 5,  limit
                count:  100   total records
                total:   10,  total pages:  (count/pagesize)|round(0, ceil)
            #}

            {% set options = {
                widgetId: app.request.get('_wid'),
                activityListData: render(path(
                    'oro_activity_list_api_get_filtered',
                    {
                        version: 'latest',
                        entityClass: oro_class_name(entity, true),
                        entityId: entity.id
                    }
                )),
                activityListOptions: {
                    configuration: configuration,
                    template: '#template-activity-list',
                    itemTemplate: '#template-activity-item',
                    urls: {
                        route: 'oro_activity_list_api_get_filtered',
                        parameters: {
                            version: 'latest',
                            entityClass: oro_class_name(entity, true),
                            entityId: entity.id
                        }
                    },
                    pager: pager,
                    dateRangeFilterMetadata: dateRangeFilterMetadata,
                    routes: {}
                }
            } %}

            <div class="container-fluid accordion"
                data-page-component-module="oroactivitylist/js/app/components/activity-list-component"
                data-page-component-options="{{ options|json_encode }}"></div>

            <div class="container-fluid actions-bottom">
                <div class="pull-left">
                    <div class="entity-pagination">
                        <div class="pagination">
                            <ul class="icons-holder">
                                <li class="pagination-first {% if pager.current == 1 %} disabled {% endif %}">
                                    <a href="#" data-section="bottom" data-action-name="goto_first">
                                        {{ 'oro.entity_pagination.first'|trans }}
                                    </a>
                                </li>
                                <li class="pagination-previous {% if pager.current == 1 %} disabled {% endif %}">
                                    <a href="#" data-section="bottom" data-action-name="goto_previous">
                                        <i class="icon-chevron-left hide-text"></i>
                                    </a>
                                </li>
                                <li><div class="pagination-current">{{ pager.current }}</div></li>
                                <li class="pagination-next {% if pager.current == pager.total %} disabled {% endif %}">
                                    <a href="#" data-section="bottom" data-action-name="goto_next">
                                        <i class="icon-chevron-right hide-text"></i>
                                    </a>
                                </li>
                                <li class="pagination-last {% if pager.current == pager.total %} disabled {% endif %}">
                                    <a href="#" data-section="bottom" data-action-name="goto_last">
                                        {{ 'oro.entity_pagination.last'|trans }}
                                    </a>
                                </li>
                            </ul>
                            <div class="dib pagination-total">
                                {{ 'oro.entity_pagination.pager_of_%total%_pages'|trans(
                                    {
                                        '%total%' : '<span class="pagination-total-num">' ~ pager.total ~ '</span>'
                                    }
                                )|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'OroActivityListBundle:ActivityList:js/list.js.twig' with {'id': 'template-activity-list'} %}
            {% include 'OroActivityListBundle:ActivityList:js/view.js.twig' with {'id': 'template-activity-item'} %}
            {% for activityClass, activityOptions in configuration %}
                {% include activityOptions.template with {'id': ('template-activity-item-' ~ activityClass) } %}
            {% endfor %}
        {% endblock %}
    {% endblock %}
</div>
