{#
A label to render status
Parameters - array:
    [
        'label' - text to show for a satus
        'code' - current status
        'map' - an array of statuses
    ]
#}
{% macro status(parameters) %}
    {% apply spaceless %}
        {% set label = parameters.label|default('') %}
        {% set code = parameters.code|default('') %}
        {% set map = parameters.map|default([]) %}
        {% set codeKey = code is iterable ? '' : code %}
        {% set classes = map[codeKey] is defined ? ' status-label--' ~ map[codeKey] : '' %}
        <span class="status-label{{ classes }}">{{ label }}</span>
    {% endapply %}
{% endmacro %}


{#
A label to render status
Parameters - array:
    [
        'label' - text to show for a satus
        'ariaLabel' - text for a descriptive label
        'code' - current status
        'map' - an array of statuses,
        'placement' - how to position the tooltip - auto | top | bottom | left | right,
        'offset' - offset of the tooltip relative to its target
    ]
#}
{% macro statusAsTooltip(parameters) %}
    {% apply spaceless %}
        {% set label = parameters.label|default('') %}
        {% set arialabel = parameters.arialabel|default('oro.ui.status_button.aria_label'|trans) %}
        {% set placement = parameters.placement|default('bottom') %}
        {% set offset = parameters.offset|default('-8, 0') %}
        {% set code = parameters.code|default('') %}
        {% set map = parameters.map|default([]) %}
        {% set codeKey = code is iterable ? '' : code %}
        {% set classes = map[codeKey] is defined ? ' status-tooltip--' ~ map[codeKey] : '' %}
        <button class="status-tooltip{{ classes }}"
                title="{{ label }}"
                type="button"
                data-toggle="tooltip"
                data-placement="{{ placement }}"
                data-offset="{{ offset }}"
                aria-label="{{ arialabel }}"></button>
    {% endapply %}
{% endmacro %}
