{#
    Getting url for svg sprite for a particular theme
#}
{%- macro getThemeSpriteUrl() -%}
    {% set layoutContext = get_layout_context() %}
    {% set theme = layoutContext.theme %}
    {% set themIconFilename = oro_is_rtl_mode() ? 'theme-icons.rtl.svg' : 'theme-icons.svg' %}
    {{- asset('build/' ~ theme ~ '/svg-icons/' ~ themIconFilename) -}}
{%- endmacro -%}

{%- macro getThemeSpriteMetadata() -%}
    {% set layoutContext = get_layout_context() %}
    {% set theme = layoutContext.theme %}
    {{- asset('build/' ~ theme ~ '/svg-icons/icons-metadata.json') -}}
{%- endmacro -%}

{#
    Rendering an icon
    Parameters - array:
        [
            'name' - icon id to show
            'id' - element id (attribute)
            'fill' - fill attribute
            'width' - width attribute
            'height' - height attribute
            'class' - class attribute
            'extraClass' - extra class
            'role' - role attribute
            'title' - short description for accessibulity
        ]
#}
{% macro icon(parameters) -%}
    {% if (parameters.name is defined) %}
        {% import _self as themeIcons %}
        {% set layoutContext = get_layout_context() %}
        {% set isSvgSupport = layoutContext.is_svg_icons_support %}
        {% set isSvgViaApi = layoutContext.is_svg_via_api %}

        {% if isSvgSupport %}
            {% if isSvgViaApi %}
                {{ themeIcons.svgAsImg(parameters) }}
            {% else %}
                {{ themeIcons.svgIcon(parameters) }}
            {% endif %}
        {% else %}
            {{ themeIcons.faIcon(parameters) }}
        {% endif %}
    {% endif %}
{% endmacro %}

{#
    Rendering a svg icon
    Parameters - array:
        [
            'name' - icon id to show
            'id' - element id (attribute)
            'fill' - fill attribute
            'width' - width attribute
            'height' - height attribute
            'class' - class attribute
            'extraClass' - extra class
            'role' - role attribute
            'title' - short description for accessibulity
        ]
#}
{% macro svgIcon(parameters) -%}
    {% if (parameters.name is defined) %}
        {% import _self as themeIcons %}
        {% set href = themeIcons.getThemeSpriteUrl()|trim ~ '#' ~ parameters.name  %}
        {% set class = parameters.class|default('theme-icon') %}
        {% set role = parameters.role|default('img') %}
        {% set ariaHidden = parameters.ariaHidden|default('true') %}
        {% set titleId = parameters.name|uniqid %}

        {% if parameters.extraClass is defined %}
            {% set class = class|trim ~ ' '  ~ parameters.extraClass|trim  %}
        {% endif %}
        {% if parameters.title is defined %}
            {% set ariaHidden = null %}
        {% endif %}
        {% if ariaHidden %}
            {% set role = parameters.role|default('none') %}
        {% endif %}
        <svg
            class="{{- class -}}"
            role="{{- role -}}"
        {% if parameters.id is defined %}
            id="{{- parameters.id -}}"
        {% endif %}
        {% if parameters.width is defined %}
            width="{{- width -}}"
        {% endif %}
        {% if parameters.height is defined %}
            height="{{- height -}}"
        {% endif %}
        {% if parameters.fill is defined %}
            fill="{{- fill -}}"
        {% endif %}
        {% if parameters.title is defined %}
            aria-labelledby="{{- titleId -}}"
        {% endif %}
        {% if ariaHidden %}
            aria-hidden="{{- ariaHidden -}}"
        {% endif %}
        >
        {% if parameters.title is defined %}
            <title id{{- titleId -}}>{{- title -}}</title>
        {% endif %}
            <use href="{{- href -}}"/>
        </svg>
    {% endif %}
{% endmacro %}

{#
    Rendering a fa-icon
    Parameters - array:
        [
            'name' - icon id to show
            'extraClass' - extra class
        ]
#}
{% macro faIcon(parameters) -%}
    {% if parameters.name is defined %}
        {% set class = 'fa-' ~ parameters.name ~ ' hide-text'  %}
        {% if parameters.extraClass is defined %}
            {% set class = class|trim ~ ' '  ~ parameters.extraClass|trim  %}
        {% endif %}

        <span class="{{- class -}}" aria-hidden="true"></span>
    {% endif %}
{% endmacro %}

{#
    Rendering a svg icon as an image
    Parameters - array:
        [
            'name' - icon id to show
            'id' - element id (attribute)
            'width' - width attribute
            'height' - height attribute
            'class' - class attribute
            'extraClass' - extra class
            'loading' - controls how the image loads. It might be "eager" or "lazy"
            'alt' - an alternate text
        ]
#}
{% macro svgAsImg(parameters) -%}
    {% if (parameters.name is defined) %}
        {% import _self as themeIcons %}

        {% set iconName = parameters.name %}

        {% if oro_is_rtl_mode() %}
            {% if iconName ends with '-left' %}
                {% set iconName = iconName|replace({'-left': '-right'}) %}
            {% elseif iconName ends with '-right' %}
                {% set iconName = iconName|replace({'-right': '-left'}) %}
            {% elseif iconName ends with '-start' %}
                {% set iconName = iconName|replace({'-start': '-end'}) %}
            {% elseif iconName ends with '-end' %}
                {% set iconName = iconName|replace({'-end': '-start'}) %}
            {% endif %}
        {% endif %}

        {% set layoutContext = get_layout_context() %}
        {% set theme = layoutContext.theme %}
        {% set href = 'build/' ~ theme ~ '/svg-icons/' ~ iconName ~ '.svg' %}
        {% set class = parameters.class|default('theme-icon') %}
        {% set alt = parameters.alt|default('oro.ui.svg_as_img.default_alt'|trans) %}
        {% set loading = parameters.loading|default('lazy') %}
        {% set ariaHidden = parameters.ariaHidden|default('true') %}

        {% if parameters.extraClass is defined %}
            {% set class = class|trim ~ ' ' ~ parameters.extraClass|trim  %}
        {% endif %}

        <img
            class="{{- class -}}"
            src="{{- asset(href) -}}"
            loading="{{- loading -}}"
            alt="{{- alt -}}"
        {% if parameters.id is defined %}
            id="{{- parameters.id -}}"
        {% endif %}
        {% if parameters.width is defined %}
            width="{{- width -}}"
        {% endif %}
        {% if parameters.height is defined %}
            height="{{- height -}}"
        {% endif %}
        {% if ariaHidden %}
            aria-hidden="{{- ariaHidden -}}"
        {% endif %}
        >
    {% endif %}
{% endmacro %}

