<div id="sidebar-{{ placement }}" class="sidebar sidebar-{{ placement }}"></div>

<script type="text/javascript">
    require(['jquery', 'oro/sidebar/sidebar/model', 'oro/sidebar/sidebar/view', 'oro/sidebar/constants'],
    function($, SidebarModel, SidebarView, constants) {
        'use strict';

        $(function () {
            var sidebarModel = new SidebarModel({
                availableWidgets: {{ oro_sidebar_get_available_widgets(placement)|json_encode|raw }}
            });
            sidebarModel.position = constants.SIDEBAR_{{ placement|upper }};

            // TODO: replace with route
            sidebarModel.url = '/api/rest/latest/sidebars';
            sidebarModel.widgets.url = '{{ path('oro_api_post_sidebarwidgets') }}';

            new SidebarView({
                model: sidebarModel,
                el: '#sidebar-{{ placement }}',
                $main: $('#main')
            });

            sidebarModel.widgets.reset({{ render(path('oro_api_get_sidebarwidgets', {'placement': placement})) }});

            sidebarModel.widgets.each(function (widget) {
                var name = widget.get('widgetName');
                var originalWidget = sidebarModel.get('availableWidgets')[name];
                widget.update(originalWidget);
            });
        });
    });
</script>
