{% block _oro_entity_config_type_view_is_displayable_widget %}
    {% import 'OroUIBundle::macros.html.twig' as UI %}

    <div {{ UI.renderPageComponentAttributes({
        view: 'oroentity/js/app/views/displayable-priority-view',
        options: {
            prioritySelector: '#' ~ form.parent.children.priority.vars.id
        }
    }) }}>
        {{ form_widget(form, { attr: { 'data-field': 'is_displayable'}}) }}
    </div>
{% endblock %}

{% block oro_entity_fallback_value_widget %}
    <table class="entity-fallback-container"
           data-page-component-module="oroui/js/app/components/view-component"
           data-page-component-options="{{ {view: 'oroentity/js/app/views/entity-field-fallback'}|json_encode }}"
    >
        <tr>
            <td>
                {{ form_widget(form.scalarValue, {'attr': {'class': 'entity-field-value'}}) }}
            </td>
            <td nowrap="true" class="fallback-item-use-fallback">
                {{ form_widget(form.useFallback, {'attr': {'class': 'use-fallback-checkbox'} }) }} {{ form.useFallback.vars.label|trans }}
            </td>
            <td class="fallback-item-fallback">
                {{ form_widget(form.fallback, {'attr': {'class': 'fallback fallback-select'}}) }}
            </td>
        </tr>
    </table>
{% endblock %}
