{% block _oro_entity_config_type_view_priority_widget %}
    {{ form_widget(form) }}

    <script type="text/javascript">
        require(['jquery', 'underscore'], function ($, _) {
            $(function () {
                var displayable = $('#{{ id|replace({(name): 'is_displayable'}) }}');
                displayable
                    .on('change', _.bind(function () {
                        $('#{{ id }}').attr('disabled', displayable.val() == 0);
                    }))
                    .trigger('change');
            });
        });
    </script>
{% endblock %}

{% block oro_entity_field_fallback_value_widget %}
    <table class="entity-fallback-container"
           data-page-component-module="oroui/js/app/components/view-component"
           data-page-component-options="{{ {view: 'oroentity/js/app/views/entity-field-fallback'}|json_encode }}"
           data-layout="separate"
    >
        <tr>
            <td>
                {{ form_widget(form.stringValue, {'attr': {'class': 'entity-field-value'}}) }}
            </td>
            <td nowrap="true" class="fallback-item-use-fallback">
                {{ form_widget(form.useFallback, {'attr': {'class': 'use-fallback-checkbox'} }) }} {{ form.useFallback.vars.label|trans }}
            </td>
            <td class="fallback-item-fallback">
                {{ form_widget(form.fallback, {'attr': {'class': 'fallback fallback-select'}}) }}
            </td>
        </tr>
    </table>
{% endblock %}
