{% import 'OroUIBundle::macros.html.twig' as UI %}

<script type="text/template" id="email-notification-item-template">
    <div class="info" data-id="<%= id %>">
        <div class="body">
            <div class="title nowrap-ellipsis"><%= subject %></div>
            <div class="description nowrap-ellipsis"><%= bodyContent %></div>
        </div>
        <% if (seen) {  %>
            <i class="icon-envelope"></i>
        <% } else { %>
            <i class="icon-envelope new"></i>
        <% }  %>
    </div>
    <div class="footer row-fluid">
        <span class="pull-left fromName">
            <% if (linkFromName) { %>
                <a href="<%= linkFromName %>"><%= fromName %></a>
            <% } else { %>
                <%= fromName %>
            <% } %>
        </span>
        <span class="pull-right replay">
            {{- UI.clientLink({
                'dataUrl': "<%= route %>",
                'aCss': parameters.aCss is defined ? parameters.aCss ~ ' no-hash' : 'no-hash',
                'iCss': parameters.iCss is defined ? parameters.iCss ~ ' icon-reply' : 'icon-reply',
                'label': 'oro.email.reply'|trans,
                'widget': {
                    'type': 'dialog',
                    'multiple': false,
                    'refresh-widget-alias': 'activity-list-widget',
                    'reload-widget-alias': 'thread-view',
                    'options': {
                        'alias': 'reply-dialog',
                        'dialogOptions' : {
                            'title' : 'oro.email.reply'|trans,
                            'allowMaximize': true,
                            'allowMinimize': true,
                            'dblclick': 'maximize',
                            'maximizedHeightDecreaseBy': 'minimize-bar',
                            'width': 1000
                        }
                    }
                }
            }) -}}
        </span>
    </div>
</script>
{% if count > 0 %}
    {%  set classNew = 'new' %}
{% else %}
    {%  set classNew = '' %}
{% endif %}

{% set options = {
    'clank_event': clank_event,
    'emails': emails,
    'count': count
} %}

<li class="email-notification-menu dropdown"
    data-page-component-options="{{ options|json_encode }}"
    data-layout="separate"
    style="display: none;">
    <a href="#" class="oro-dropdown-toggle">
        <i class="icon-envelope {{ classNew }}">
            <span>
                {% if (count > 10) %}
                    10+
                {% elseif (count > 0 ) %}
                    {{ count }}
                {% endif %}
            </span>
        </i>
    </a>
    <div class="dropdown-menu pull-right" tabindex="0">
        <div class="content" >
            <div class="header row-fluid">
                <a class="my-emails pull-left" href="{{ path("oro_email_user_emails") }}">
                    {{ "oro.email.menu.user_emails"|trans }}
                </a>
                <button class="mark-as-read pull-right btn btn-primary">
                    <i class="icon-check"></i>
                    {{ "oro.email.notification.mark_read.label"|trans }}
                </button>
            </div>
            <ul class="items">
            </ul>
        </div>
        <div class="empty">
            {{ "oro.email.notification.empty"|trans }}
        </div>
        <div class="notification">
            {{ "oro.email.notification.new_email"|trans }}
        </div>
    </div>
</li>
