{% import 'OroCalendarBundle::invitations.html.twig' as invitations %}

{% macro calendar_event_view_template(id) %}

<script type="text/template" id="activity-context-activity-list">
    <div class="context-item" style="border: none" data-cid="<%= entity.cid %>">
        <span data-id="<%= entity.get('targetId') %>">
            <span class="<%= entity.get('icon') %>"></span>

            <% if (entity.get('link')) { %>
                <a href="<%= entity.get('link') %>">
                    <span class="context-label"><%= entity.get('title') %></span>
                </a>
            <% } else { %>
                <span class="context-label"><%= entity.get('title') %></span>
            <% } %>
            <% if (editable) { %>
                <i class="icon-remove"></i>
            <% } %>
        </span>
    </div>
</script>

<script type="text/html" id="{{ id }}">
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    <div class="widget-content">
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderHtmlProperty('oro.calendar.calendarevent.title.label'|trans, '<%= formatter.string(title) %>') }}
                {{ UI.renderHtmlProperty('oro.calendar.calendarevent.description.label'|trans, '<%= formatter.html(description) %>') }}
                {{ UI.renderHtmlProperty('oro.calendar.calendarevent.start.label'|trans, '<%= formatter.dateTime(start) %>') }}
                {{ UI.renderHtmlProperty('oro.calendar.calendarevent.end.label'|trans, '<%= formatter.dateTime(end) %>') }}
                {{ UI.renderHtmlProperty('oro.calendar.calendarevent.all_day.label'|trans, '<%= formatter.bool(allDay) %>') }}
                <% if (recurrence) { %>
                    {{ UI.renderHtmlProperty('oro.calendar.calendarevent.recurrence.label'|trans, '<%= formatter.string(recurrencePattern) %>') }}
                <% } %>
                <% if (recurringEventId && recurrencePattern) { %>
                    {{ UI.renderHtmlProperty('oro.calendar.calendarevent.recurrence.exception.label'|trans, '<%= formatter.string(recurrencePattern) %>') }}
                <% } %>

                <% var attendeesView = _.map(attendees, function (attendee) {
                    var attendeeName = attendee.displayName;
                    if (attendee.fullName) {
                        attendeeName = attendee.fullName;
                    }

                    if (attendee.email) {
                        attendeeName = attendeeName ? attendeeName + ' (' + attendee.email + ')' : attendee.email;
                    }

                    return attendeeName;
                }); %>
                <% if (attendeesView.length > 0) { %>
                    {{ UI.renderAttribute('oro.calendar.calendarevent.attendees.label'|trans, '<div class="calendar-event-guests-widget"><%= attendeesView.join(", ") %></div>') }}
                <% } %>

                <div class="activity-context-activity">
                {{ UI.renderAttribute('oro.activity.contexts.label'|trans, '<div class="activity-context-activity-items"></div>') }}
                </div>
                {% placeholder calendar_event_widget_view_additional_properties %}
            </div>
            <div class="widget-actions form-actions" style="display: none;">
                <% if (id != null && removable) { %>
                {{
                    UI.deleteButton({
                        'aCss': 'no-hash',
                        'id': 'btn-remove-calendarevent',
                        'dataMessage': 'oro.calendar.delete_event.confirmation'|trans,
                        'title': 'oro.calendar.delete_event.title'|trans,
                        'label': 'Delete'|trans,
                        'data': {'action-name': 'delete', 'url': 'oro_calendar_event_delete'}
                    })
                }}
                <% } %>
                <% if (id == null || (id != null && editable)) { %>
                <button class="btn" type="button" data-action-name="edit">{{ 'oro.ui.edit'|trans }}</button>
                <% } %>
                {% placeholder calendar_event_widget_view_actions_jstemplate %}
            </div>
        </div>
    </div>
</script>
{% endmacro %}

{% macro calendar_event_form_template(id, form) %}
<script type="text/html" id="{{ id }}">
    {% import 'OroUIBundle::macros.html.twig' as UI %}
    {% import 'OroCalendarBundle::invitations.html.twig' as invitations %}
    {% set data = [
            form_row(form.title),
            form_row(form.description),
            form_row(form.start),
            form_row(form.end),
            form_row(form.allDay),
            '<% if (recurrence) { %>' ~
                UI.renderHtmlProperty(
                    'oro.calendar.calendarevent.recurrence.label'|trans,
                    '<%= recurrencePattern %>'
                ) ~
            '<% } %>',
            '<% if (recurringEventId && recurrencePattern) { %>' ~
                UI.renderHtmlProperty(
                    'oro.calendar.calendarevent.recurrence.exception.label'|trans,
                    '<%= recurrencePattern %>'
                ) ~
            '<% } %>',
            form_row(form.backgroundColor),
            form.calendarUid is defined ? form_row(form.calendarUid) : null,
            form_row(form.attendees),
            '<% if (!recurrence) { %>' ~ form_row(form.reminders) ~ '<% } %>',
            form_row(form.notifyInvitedUsers)
        ]
    %}
    {% for child in form.children if child.vars.extra_field is defined and child.vars.extra_field %}
        {% set data = data|merge([form_row(child)]) %}
    {% endfor %}
    <div class="widget-content">
        <div class="alert alert-error" style="display: none;"></div>
        <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="#">
            {% set options = {
                'view':'orocalendar/js/app/views/calendar-event-form-view',
                'nativeMode': isMobileVersion()
            } %}
            <div data-page-component-module="oroui/js/app/components/view-component"
                 data-page-component-options="{{ options|json_encode }}"
                 data-layout="separate">
                <fieldset class="form-horizontal">
                    {{ UI.scrollSubblock(null, data, true, false)|oro_js_template_content|raw }}
                    <% if (typeof notifiable !== 'undefined' && notifiable) { %>
                        {{ invitations.notifyGuestsComponent() }}
                    <% } %>

                    <div class="widget-actions form-actions" style="display: none;">
                        <% if (id != null && removable) { %>
                        {{
                            UI.deleteButton({
                                'aCss': 'no-hash',
                                'id': 'btn-remove-calendarevent',
                                'dataMessage': 'oro.calendar.delete_event.confirmation'|trans,
                                'title': 'oro.calendar.delete_event.title'|trans,
                                'label': 'Delete'|trans,
                                'data': {'action-name': 'delete', 'url': 'oro_calendar_event_delete'}
                            })
                        }}
                        <% } %>
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <% if (id == null || (id != null && editable)) { %>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                        <% } %>
                    </div>
                </fieldset>
            </div>
        </form>
        {{ oro_form_js_validation(form)|oro_js_template_content|raw }}
    </div>
</script>
{% endmacro %}
