{% block oro_email_template_list_row %}
    <script type="text/javascript">
        require(['jquery',
                    'oroemail/js/app/views/email-template-view',
                    'oroemail/js/app/models/email-template-collection'],
        function($, View, Collection) {
            $(function () {
                'use strict';
                var $templateSelectorEl = $('#{{ id }}');
                new View({
                    el: $templateSelectorEl.closest('form').find('[name$="[{{ depends_on_parent_field }}]"]'),
                    target: $templateSelectorEl,
                    collection: new Collection('{{ data_route }}', {{ data_route_parameter|json_encode|raw }})
                });
            });
        })
    </script>
    <script type="text/template" id="emailtemplate-chooser-template">
        <% _.each(entities, function(entity, i) { %>
        <option value="<%= entity.get('id') %>"><%= entity.get('name') %></option>
        <% }); %>
    </script>

    {{ form_row(form) }}
{% endblock %}

{% block oro_email_attachments_row %}
    <script type="text/template" id="email-attachment-item">
        <div class="attachment-item" style="border: none" data-cid="<%= entity.cid %>">
            <span data-id="<%= entity.get('id') %>" class="label label-info"><%= entity.get('fileName') %></span>
            <i class="icon-remove"></i>
            <input name="<%= inputName %>[<%= entity.cid %>][id]" type="text" value="<%= entity.get('id') %>"/>
            <input name="<%= inputName %>[<%= entity.cid %>][file]" type="file"/>
        </div>
    </script>

    {% set itemsArray = [] %}
    {% for item in options.items %}
        {% set itemArray = {
            'id': item.id,
            'fileName': item.fileName
        } %}
        {% set itemsArray = itemsArray|merge([itemArray]) %}
    {% endfor %}

    {% set options = options|merge({container: id, inputName: full_name, items: itemsArray}) %}

    <div data-page-component-module="oroemail/js/app/components/email-attachment-component"
         data-page-component-options="{{ options|json_encode }}">
        {{ form_row(form) }}
    </div>
{% endblock %}

{% block oro_email_emailtemplate_translatation_widget %}
    <div class="emailtemplate-translatation oro-tabs tabbable">
        <ul class="nav nav-tabs">
            {% spaceless %}
                {% if simple_way %}
                    {% for translationsField in form %}
                        {{ _self.renderTabNavItem(translationsField, labels) }}
                    {% endfor %}
                {% else %}
                    {% for translationsLocales in form %}
                        {% for translationsField in translationsLocales %}
                            {{ _self.renderTabNavItem(translationsField, labels, ('defaultLocale' == translationsLocales.vars.name)) }}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endspaceless %}
        </ul>
        <div class="tab-content">
            {% spaceless %}
                {% if simple_way %}
                    {% for translationsField in form %}
                        {{ _self.renderTab(translationsField) }}
                    {% endfor %}
                {% else %}
                    {% for translationsLocales in form %}
                        {% for translationsField in translationsLocales %}
                            {{ _self.renderTab(translationsField) }}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endspaceless %}
        </div>
    </div>
{% endblock %}

{#
    Renders tab `li` tag for bootstrap tab panels
    paramters:
        form         - instance of FormView, it's a view for localized field
        localeLabels - array with user friendly labels for locale codes
        isDefault    - is current locale's tab label should be marked as default
#}
{% macro renderTabNavItem(form, localeLabels, isDefault = false) %}
    {% set locale = form.vars.name %}

    <li {% if (app.request.locale == locale) %}class="active"{% endif %}>
        <a href="javascript:void(0);" data-target=".emailtemplate-translatation-fields-{{ locale }}" data-toggle="tab">
            {{- localeLabels[locale]|default('N/A')|trans|capitalize -}}{% if isDefault %} {% trans %}[Default]{% endtrans %}{% endif -%}
        </a>
    </li>
{% endmacro %}

{#
    Renders content of bootstrap tab panel
    paramters:
        form - instance of FormView, it's a view for localized field
#}
{% macro renderTab(form) %}
    {% set locale = form.vars.name %}

    <div class="emailtemplate-translatation-fields-{{ locale }} tab-pane{% if (app.request.locale == locale) %} active{% endif %}">
        {{ form_widget(form) }}
    </div>
{% endmacro %}
