{% macro scheduleIntervalsInfoItem(label, date) %}
    <span class="schedule-list-item">
        {% if date is not null %}
            {{ label|trans({'%date%': date|oro_format_datetime})|oro_html_sanitize }}
        {% else %}
            <strong>{{ label|trans }}</strong>
        {% endif %}
    </span>
{% endmacro %}

{% macro scheduleIntervalsInfo(schedules, labels) %}
    {% import _self as scheduleUI %}

    {% set defaultLabels = {
        wasActivated: 'oro.cron.schedule_interval.was_activated',
        activeNow: 'oro.cron.schedule_interval.active_now',
        notActiveNow: 'oro.cron.schedule_interval.not_active_now',
        willBeActivated: 'oro.cron.schedule_interval.will_be_acitivated',
        wasDeactivated: 'oro.cron.schedule_interval.was_deactivated',
        willBeDeactivated: 'oro.cron.schedule_interval.will_be_deacitivated'
    } %}
    {% set labels = defaultLabels|merge(labels) %}
    {% set now = date('now', 'UTC') %}
    <ul class="schedule-list">
        {% set activityShown = false %}
        {% for schedule in schedules %}
            {% if schedule.activeAt < now %}
                {% if schedule.activeAt %}
                    <li>
                        {{ scheduleUI.scheduleIntervalsInfoItem(
                            labels.wasActivated,
                            schedule.activeAt
                        ) }}
                    </li>
                {% endif %}

                {% if not schedule.deactivateAt or schedule.deactivateAt > now %}
                    {% set activityShown = true %}
                    <li>
                        {{ scheduleUI.scheduleIntervalsInfoItem(labels.activeNow) }}
                    </li>
                {% endif %}
            {% endif %}

            {% if schedule.activeAt > now %}
                {% if not activityShown %}
                    {% set activityShown = true %}
                    <li>
                        {{ scheduleUI.scheduleIntervalsInfoItem(labels.notActiveNow) }}
                    </li>
                {% endif %}
                <li>
                    {{ scheduleUI.scheduleIntervalsInfoItem(
                        labels.willBeActivated,
                        schedule.activeAt
                    ) }}
                </li>
            {% endif %}

            {% if schedule.deactivateAt %}
                {% if schedule.deactivateAt < now %}
                    <li>
                        {{ scheduleUI.scheduleIntervalsInfoItem(
                            labels.wasDeactivated,
                            schedule.deactivateAt
                        ) }}
                    </li>
                {% else %}
                    <li>
                        {{ scheduleUI.scheduleIntervalsInfoItem(
                            labels.willBeDeactivated,
                            schedule.deactivateAt
                        ) }}
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if not activityShown %}
            <li>
                {{ scheduleUI.scheduleIntervalsInfoItem(labels.notActiveNow) }}
            </li>
        {% endif %}
    </ul>
{% endmacro %}
