{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% import 'OroUserBundle::macros.html.twig' as U %}
{% oro_title_set({params : {"%entity.name%": entity.name|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('oro_tracking_website_update', { id: entity.id }),
            'entity_label': 'oro.tracking.trackingwebsite.entity_label'|trans
        }) }}
    {% endif %}
    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_tracking_website', {'id': entity.id}),
            'dataRedirect': path('oro_tracking_website_index'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-user',
            'dataId': entity.id,
            'entity_label': 'oro.tracking.trackingwebsite.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_tracking_website_index'),
        'indexLabel': 'oro.tracking.trackingwebsite.entity_plural_label'|trans,
        'entityTitle': entity.name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set generalInformation -%}
    <div class="row-fluid">
        <div class="responsive-block">
            {{ UI.renderProperty('oro.tracking.trackingwebsite.name.label'|trans, entity.name) }}
            {{ UI.renderProperty('oro.tracking.trackingwebsite.identifier.label'|trans, entity.identifier) }}

            {%- set url -%}
            <a target="_blank" href="{{ entity.url }}">
                {{ entity.url }}
            </a>
            {%- endset -%}
            {{ UI.renderHtmlProperty('oro.tracking.trackingwebsite.url.label'|trans, url) }}

            {%- set ownerData -%}
            {%- if entity.owner -%}
                {{ U.render_user_name(entity.owner) }}
                {{ U.user_business_unit_name(entity.owner) }}
            {%- endif -%}
            {%- endset -%}
            {{ UI.renderHtmlProperty('oro.tracking.trackingwebsite.owner.label'|trans, ownerData) }}
        </div>
        <div class="responsive-block">
            {{ entityConfig.renderDynamicFields(entity) }}
        </div>
    </div>
    {%- endset -%}
    {%- set trackingCode -%}
    <div class="row-fluid">
        <div class="responsive-block">
            <p>{{ 'oro.tracking.help.event_tooltip'|trans }}</p>
            {% if not app.request.secure %}
                <p><strong>{{ 'oro.tracking.help.secure'|trans }}</strong></p>
            {% endif %}
            <textarea class="code code-script">
                {%- include 'OroTrackingBundle:TrackingWebsite:script.js.twig' -%}
            </textarea>
        </div>
    </div>
    {%- endset -%}

    {% set trackingEventsGrid %}
        {{ dataGrid.renderGrid('website-tracking-events-grid', {websiteIdentifier: entity.identifier}) }}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'oro.tracking.block.general'|trans,
            'class': 'active',
            'subblocks': [
                {'data' : [generalInformation]}
            ]
        },
        {
            'title': 'oro.tracking.block.tracking'|trans,
            'subblocks': [
                {'data' : [trackingCode]}
            ]
        },
        {
            'title': 'oro.tracking.block.events'|trans,
            'subblocks': [
                {'data' : [trackingEventsGrid]}
            ]
        }
    ] %}

    {% set id = 'websiteView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}

    {{ parent() }}
{% endblock content_data %}
