{% extends 'OroUIBundle:actions:view.html.twig' %}

{% oro_title_set({params : {"%process_definition.label%": entity.label} }) %}

{% block navButtons %}
    {% if is_granted('oro_process_definition_update') %}
        {% set idButton = entity.name ~ '-process-deactivate-btn' %}
        {% set options = {
            'data': {
                'role': 'status-toggle'
            }
        } %}
        <div {{ UI.renderPageComponentAttributes({
            view: 'oroworkflow/js/app/views/process-status-toggle-btn-view'
        }) }}>
            {% if entity.enabled %}
                {{ UI.button(options|merge({
                    'aCss':  'no-hash btn-danger',
                    'iCss':  'fa-close',
                    'id':    idButton,
                    'label': 'oro.workflow.action.process.deactivate'|trans,
                    'path':  path('oro_api_process_deactivate', {'processDefinition': entity.name}),
                    'title': 'oro.workflow.action.process.deactivate'|trans,
                })) }}
            {% else %}
                {{ UI.button(options|merge({
                    'iCss':  'fa-check',
                    'aCss':  'no-hash btn-success',
                    'id':    idButton,
                    'label': 'oro.workflow.action.process.activate'|trans,
                    'path':  path('oro_api_process_activate', {'processDefinition': entity.name}),
                    'title': 'oro.workflow.action.process.activate'|trans,
                })) }}
            {% endif %}
        </div>
    {% endif %}
{% endblock navButtons %}

{% block breadcrumbs %}
    {{ parent() }}
    <span class="page-title__status">
        {% if entity.enabled %}
            {{ UI.badge('Active'|trans, 'enabled') }}
        {% else %}
            {{ UI.badge('Inactive'|trans, 'disabled') }}
        {% endif %}
    </span>
{% endblock breadcrumbs %}

{% block stats %}
    <li>{{ 'oro.ui.created_at'|trans }}: {{ entity.createdAt ? entity.createdAt|oro_format_datetime : 'N/A' }}</li>
    <li>{{ 'oro.ui.updated_at'|trans }}: {{ entity.updatedAt ? entity.updatedAt|oro_format_datetime : 'N/A' }}</li>
{% endblock stats %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_process_definition_index'),
        'indexLabel': 'oro.workflow.processdefinition.entity_plural_label'|trans,
        'entityTitle': entity.label
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {%- set processDefinitionInfo -%}
        {% set entityConfig = oro_entity_config(entity.relatedEntity) %}
        {% set relatedEntityLabel = entityConfig.label|default('')|trans %}

        {%- set triggerData -%}
            {%- for trigger in triggers -%}
                {% if trigger.event %}
                    {% set event = 'oro.workflow.block.view.process.trigger.event.' ~ trigger.event  %}
                    {% set when = trigger.queued ?
                        trigger.timeShift|oro_format_duration :
                        'oro.workflow.block.view.process.trigger.when.immediately'|trans
                    %}

                    {% if trigger.field %}
                        {% set field = entityConfig.trigger.field.lable|default(trigger.field) %}
                        {% set after = '<b>' ~ field ~ '</b> ' ~ 'oro.workflow.block.view.process.trigger.after.property'|trans %}
                    {% else %}
                        {% set after = '<b>' ~ relatedEntityLabel ~ '</b> ' ~ 'oro.workflow.block.view.process.trigger.after.entity'|trans %}
                    {% endif %}

                    {{ 'oro.workflow.block.view.process.trigger.description'|trans({
                            '%after%': after,
                            '%event%': '<b>' ~ event|trans ~ '</b>',
                            '%when%':  '<b>' ~ when ~ '</b>'
                        })|raw
                    }}
                    <br />
                {% elseif trigger.cron %}
                    {{ 'oro.workflow.block.view.process.trigger.cron.description'|trans({
                        '{{ cron }}': '<b>' ~ trigger.cron ~ '</b>'
                    })|raw }}
                    <br />
                {% endif %}
            {%- endfor -%}
        {%- endset -%}

        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('oro.workflow.processdefinition.label.label'|trans, entity.label) }}
                {{ UI.renderProperty('oro.workflow.processdefinition.related_entity.label'|trans, relatedEntityLabel) }}
                {{ UI.renderProperty('oro.workflow.processdefinition.execution_order.label'|trans, entity.executionOrder) }}
                {{ UI.renderHtmlProperty('oro.workflow.processtrigger.entity_plural_label'|trans, triggerData) }}
            </div>
        </div>
    {%- endset -%}

    {% set dataBlocks = [
        {
            'title': 'oro.workflow.block.title.process_info'|trans,
            'subblocks': [
                {'data' : [processDefinitionInfo] },
            ]
        }
    ] %}

    {% set id = 'processDefinitionView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}
