{% extends 'OroActionBundle:Operation:form.html.twig' %}
{% block form %}
    {% set buttonOptions = operation.definition.buttonOptions %}
    {% set pageComponentOptions = {} %}
    <div class="widget-content invalidate-cache-content" data-page-component-module="orocache/js/app/components/invalidate-cache-component">
        {% set attr = {'id': form.vars.id, 'data-collect': 'true', 'class': 'form-dialog invalidate-cache-form'} %}
        {% if buttonOptions.page_component_module is defined %}
            {% set attr = attr|merge({'data-page-component-module': buttonOptions.page_component_module}) %}
        {% endif %}
        {{ form_start(form, {'action': app.request.uri, 'attr': attr}) }}
            <table>
                <tbody>
                <tr class="invalidate-cache-tr">
                    <td class="invalidate-cache-td-labels">{{ 'oro.cache.invalidate.label'|trans }}:&nbsp;</td>
                    <td>{{ form_widget(form.invalidateType, { 'attr': {'class': 'cache-invalidate-type'}}) }}</td>
                    <td class="invalidate-cache-td-labels">&nbsp;{{ 'oro.cache.invalidate.at.label'|trans }}&nbsp;</td>
                    <td class="invalidate-cache-td-fields">{{ form_widget(form.invalidateCacheAt)}}</td>
                </tr>
                </tbody>
            </table>
            <div class="hidden">
                {{ form_rest(form) }}
            </div>
            <div class="widget-actions invalidate-cache-buttons">
                <button type="reset" class="btn">{{ 'oro.cache.invalidate.action.cancel'|trans }}</button>
                <button type="button" class="btn btn-danger" id="remove_scheduled_cache_invalidation_button">{{ 'oro.cache.invalidate.action.remove'|trans }}</button>
                <button type="submit" class="btn btn-success">{{ 'oro.cache.invalidate.action.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}
        {{ oro_form_js_validation(form) }}
    </div>
{% endblock %}
