{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}
{% oro_title_set({params : {"%report.name%": entity.name, "%report.group%": reportGroup|trans} }) %}
{% set pageTitle = entity.name %}

{% block navButtons %}
    {% if isDesktopVersion() and resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path': path('oro_report_update', {'id': entity.id}),
            'entity_label': 'oro.report.entity_label'|trans
        }) }}
    {% endif %}
    {% if isDesktopVersion() and resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('oro_api_delete_report', {'id': entity.id}),
            'dataRedirect': path('oro_report_index'),
            'aCss': 'no-hash remove-button',
            'dataId': entity.id,
            'id': 'btn-remove-report',
            'entity_label': 'oro.report.entity_label'|trans
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('oro_report_index'),
        'indexLabel': 'oro.report.entity_plural_label'|trans,
        'entityTitle': entity.name
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% if gridName is defined %}
        {% if chartView is defined %}
            <div class="chart-wrapper">
                {{ chartView.render()|raw }}
            </div>
        {% endif %}
        {% set renderParams = renderParams|default({})|merge({
            enableFullScreenLayout: true,
            enableViews: false
        }) %}
        {% set gridParams =  {
            '_grid_view': {'_disabled': true},
            '_tags'     : {'_disabled': true}
        } %}
        {% if oro_config_value('oro_report.display_sql_query') %}
            {% set gridParams = gridParams|merge({'display_sql_query': true}) %}
        {% endif %}
        {% set params = params|default({})|merge(gridParams)
        %}
        {{ dataGrid.renderGrid(gridName, params, renderParams) }}
    {% else %}
        <div class="container-fluid">
            <div class="grid-container">
                <div class="no-data">
                    <span>{{ 'Invalid report configuration'|trans }}</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content_data %}
