{% if saved is defined and saved %}
    {% set widgetResponse = {
        widget: {
            message: 'oro.dashboard.widget.configuration.success'|trans,
            triggerSuccess: true,
            remove: true
        }
    } %}

    {{ widgetResponse|json_encode|raw }}
{% else %}
    <div class="widget-content widget-configuration">
        <div class="form-container">
            {{ form_start(form, {action: formAction, attr:{id: form.vars.id}}) }}
                <fieldset class="form form-horizontal">
                    {{ form_rest(form) }}
                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                    </div>
                </fieldset>
            {{ form_end(form) }}
            {{ oro_form_js_validation(form) }}
        </div>
    </div>
{% endif %}

