<div class="widget-content widget-configuration">
    {% if saved is defined and saved %}
        <script type="text/javascript">
            require(['underscore', 'orotranslation/js/translator', 'oroui/js/widget-manager', 'oroui/js/messenger', 'oroui/js/mediator'],
            function(_, __, widgetManager, messenger, mediator) {
                widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                    messenger.notificationFlashMessage('success', __('oro.dashboard.widget_configuration_success'));

                    mediator.trigger('widget_success:' + widget.getWid());
                    mediator.trigger('widget_success:' + widget.getAlias());

                    widget.remove();
                });
            });
        </script>
    {% else %}
        <div class="form-container">
            {{ form_start(form, {action: formAction, attr:{id: form.vars.id}}) }}
                <fieldset class="form form-horizontal">
                    {{ form_rest(form) }}
                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                    </div>
                </fieldset>
            {{ form_end(form) }}
            {{ oro_form_js_validation(form) }}
        </div>
    {% endif %}
</div>
