{% if entity is defined and entity %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% set currentRoute = app.request.attributes.get('_route') %}
    {% set currentParams = app.request.attributes.get('_route_params') %}
    {% set queryParams = app.request.query.all %}
    {% set scope = constant('Oro\\Bundle\\EntityPaginationBundle\\Manager\\EntityPaginationManager::VIEW_SCOPE') %}
    {% set allParams = {'entityName': oro_entity_pagination_name(entity), 'scope': scope, 'routeName': currentRoute} %}
    {% set allParams = allParams|merge(currentParams) %}
    {% set allParams = allParams|merge(queryParams) %}

    {% set pager = oro_entity_pagination_pager(entity) %}
    {% if pager %}
        <li>
            {% if pager.current != 1 %}
                <a href="{{ path('oro_entity_pagination_first', allParams) }}">{{ 'oro.entity_pagination.first'|trans }}</a>
                <a href="{{ path('oro_entity_pagination_previous', allParams) }}">{{ 'oro.entity_pagination.previous'|trans }}</a>
            {% endif %}

            {{ 'oro.entity_pagination.pager_%current%_of_%total%'|trans({'%current%': pager.current, '%total%': pager.total}) }}

            {% if pager.current != pager.total %}
                <a href="{{ path('oro_entity_pagination_next', allParams) }}">{{ 'oro.entity_pagination.next'|trans }}</a>
                <a href="{{ path('oro_entity_pagination_last', allParams) }}">{{ 'oro.entity_pagination.last'|trans }}</a>
            {% endif %}
        </li>
    {% endif %}
{% endif %}
