{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    {% apply spaceless %}
        <div class="control-group{% if attr.class is defined %} {{ attr.class }}{% endif %}{% if block_prefixes is defined %} control-group-{{ block_prefixes[1] }}{% endif %}{% if group_attr.class is defined %} {{ group_attr.class }}{% endif %}"{% if group_attr is defined %}{{ block('group_attributes') }}{% endif %}>
            {% if hint|default() and hint_position|default() == 'above' %}
                <div{{ block('hint_attributes') }}>{{ hint|raw }}</div>
            {% endif %}
            {% if label is not same as(false) %}
                <div class="control-label wrap">
                    {{ form_label(form, '' , { label_attr: label_attr}) }}
                </div>
            {% endif %}
            <div class="controls{% if errors|length > 0 %} validation-error{% endif %}">
                {{ form_widget(form) }}
                {% if hint|default() and hint_position|default() == 'after_input' %}
                    <div{{ block('hint_attributes') }}>{{ hint|raw }}</div>
                {% endif %}
                {{ form_errors(form) }}
            </div>
            {% if hint|default() and hint_position|default() == 'below' %}
                <div{{ block('hint_attributes') }}>{{ hint|raw }}</div>
            {% endif %}
        </div>
    {% endapply %}
{% endblock form_row %}

{% block group_attributes %}
    {%- for n, v in group_attr %}
        {%- if v is same as(true) %} {{ n }}="{{ n }}"
        {%- elseif n is not same as('class') and v is not same as(false) %} {{ n }}="{{ v }}"
        {%- endif %}
    {%- endfor -%}
{% endblock group_attributes %}

{% block hint_attributes %}
    {%- for n, v in hint_attr %}
        {%- if v is same as(true) %} {{ n }}="{{ n }}"
        {%- elseif v is not same as(false) %} {{ n }}="{{ v }}"
        {%- endif %}
    {%- endfor -%}
{% endblock hint_attributes %}

{% block widget_attributes %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' error' : 'error'}) %}
    {% endif %}
    {{ parent() }}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' error' : 'error'}) %}
    {% endif %}
    {{ parent() }}
{% endblock widget_container_attributes %}

{% block form_errors %}
    {%- apply spaceless -%}
        {% if errors|length > 0 %}
            {% if form.parent %}
                {% set combinedError = '' %}
                {% set newErrors = [] %}
                {% for error in errors %}
                    {% if error.message not in newErrors %}
                        {% set newErrors = newErrors|merge([error.message]) %}
                    {% endif %}
                {% endfor %}
                {% set combinedError = newErrors|join('; ') %}
                <span class="validation-failed"><span><span>{{ combinedError }}</span></span></span>
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endif %}
    {% endapply %}
{% endblock form_errors %}

{% block date_widget %}
    {% apply spaceless %}
        {% set type = 'text' %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple')|raw }}
        {% else %}
            <div {{ block('widget_container_attributes') }}>
                {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year),
                '{{ month }}': form_widget(form.month),
                '{{ day }}':   form_widget(form.day),
                })|raw }}
            </div>
        {% endif %}
    {% endapply %}
{% endblock date_widget %}

{% block choice_widget_expanded %}
    {% apply spaceless %}
        {% set attr = attr|merge({'class': attr.class is defined ? attr.class ~ ' horizontal choice-widget-expanded' : 'horizontal choice-widget-expanded'}) %}
        {% set attr = attr|merge({'class': attr.class ~ ' validate-group'}) %}
        {% set attr = attr|merge({'class': attr.class|split(' ')|array_unique|join(' ')}) %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <div class="choice-widget-expanded__item">
                    {{ form_widget(child) }}
                    {{ form_label(child, null, {'raw_label' : raw_label is defined ? raw_label : false, 'translatable_label' : translatable_options is defined ? translatable_options : true }) }}
                </div>
            {% endfor %}
        </div>
    {% endapply %}
{% endblock choice_widget_expanded %}

{% block choice_widget_options %}
    {% apply spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ translatable_groups is defined and not translatable_groups ? group_label : group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                {% set label = translatable_options is defined and not translatable_options ? choice.label : choice.label|trans({}, translation_domain) %}
                <option {{ block('choice_widget_option_attributes') }} value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{% if (configs.is_safe is defined and configs.is_safe) %}{{ label|raw }}{% else %}{{ label }}{% endif %}</option>
            {% endif %}
        {% endfor %}
    {% endapply %}
{% endblock choice_widget_options %}

{% block choice_widget_option_attributes %}
{% apply spaceless %}
    {% if choice.attr is defined and choice.attr|length > 0 %}
        {% for attrname, attrvalue in choice.attr %}{{ attrname }}="{{ attrvalue }}" {% endfor %}
    {% endif %}
{% endapply %}
{% endblock choice_widget_option_attributes %}

{% block collection_render %}
    {% apply spaceless %}
        {% from '@OroUI/macros.html.twig' import collection_prototype as collection  %}
        <div class="row-oro">
            <div class="collection-fields-list" data-prototype="{{ collection(subform)|escape }}">
                {% for field in subform.children %}
                    {{ collection(field) }}
                {% endfor %}
            </div>
            <a class="btn add-list-item" href="#"><i class="fa-plus"></i>{{ 'Add'|trans }}</a>
        </div>
    {% endapply %}
{% endblock %}

{% block _oro_entity_config_config_field_type_widget %}
    {% for field in form.children %}
        {{ form_widget(field) }}
    {% endfor %}
{% endblock %}
