{% extends '@OroUI/Form/fields.html.twig' %}

{% block form_row %}
    {% apply spaceless %}
        {% if hint|default() %}
            <div{{ block('hint_attributes') }}>{{ hint|raw }}</div>
        {% endif %}
        <div class="control-group{% if errors|length > 0 %} error{% endif %}">
            <label class="control-label">{{ form_label(form, '') }}</label>
            <div class="controls">
                {{ form_widget(form) }}
            </div>
        </div>
        {{ form_errors(form) }}
    {% endapply %}
{% endblock form_row %}

{# Errors #}

{% block form_errors %}
    {%- apply spaceless -%}
        {% if form.parent %}
            {{ parent() }}
        {% else %}
                {%- for error in errors -%}
                    <div>{{ error.message }}</div>
                {%- endfor -%}
        {% endif %}
    {% endapply %}
{% endblock form_errors %}

{% block form_label %}
    {% apply spaceless %}
        {{ label|trans({}, translation_domain) }}
    {% endapply %}
{% endblock form_label %}
