{% block head_widget %}
    <head{{ block('block_attributes') }}>
        <title>{% trans %}Loading...{% endtrans %}</title>
        <script id="page-title" type="text/html">{{ title|replace(title_parameters) }}</script>
        {{ block_widget(block) }}
    </head>
{% endblock %}

{% block _page_title_widget %}
    <div class="pull-left pull-left-extra">
        <div class="pull-left">
            <h1 class="oro-subtitle">{{ block_widget(block) }}</h1>
        </div>
    </div>
{% endblock %}

{% block placeholder_widget %}
    {{ placeholder(placeholder_name, placeholder_parameters) }}
{% endblock %}
