{%- import '@OroDataAudit/macros.html.twig' as dataAudit -%}

<ul>
    {%- for fieldKey, fieldValue in value -%}
        {%- if fieldKey == 'auditData' -%}
            {%- if fieldValue.new|length -%}
                {%- for collKey, collValue in fieldValue.new -%}
                    <li>
                        <b>{{- oro_field_config_value(record.getValue('objectClass'), collKey, 'label')|default(collKey)|trans -}}&nbsp;</b>
                        {{- collValue -}}
                    </li>
                {%- endfor -%}
            {%- endif -%}
        {%- elseif fieldValue.collectionDiffs is defined and fieldValue.collectionDiffs is not empty -%}
            <li>
                <b>{{- dataAudit.renderFieldName(record.getValue('objectClass'), fieldKey, fieldValue) -}}&nbsp;</b>
                {{- dataAudit.renderCollection(record.getValue('objectClass'), fieldKey, fieldValue, ['added', 'changed']) -}}
            </li>
        {%- else -%}
            <li>
                <b>{{- dataAudit.renderFieldName(record.getValue('objectClass'), fieldKey, fieldValue) -}}&nbsp;</b>
                {{- dataAudit.renderFieldValue(fieldValue.new, fieldValue) -}}
            </li>
        {%- endif -%}
    {%- endfor -%}
</ul>
