{# Chart variables format:

    "options":
        "name": "chart_name",
        "data_schema" => array(
            "label" => array("field_name" => "name", "label" => "First Name", "type" => "string"),
            "value" => array("field_name" => "salary", "label" => "Salary", "type" => "money"),
        ),
        "settings" => array(
            "foo" => "bar"
        ),
    "config": { /** Chart config from in format of oro/chart.yml */ }
    "data": [
        {"label": "In progress", "value": 1000},
        {"label": "Lost", "value": 500},
        {"label": "Won", "value": 10000},
    ]

#}
{% if data|length>0  %}
    {% set containerId = "chart-container-" ~ random() %}
    <div class="chart-container">
        <div class="clearfix">
            <div id="{{ containerId }}-chart" class="bar-chart chart pull-left"></div>
        </div>
    </div>
    <script type="text/javascript">
        require(['jquery', 'orochart/js/charts/bar_chart'], function($){
            var options = {
                containerId: '{{ containerId }}',
                data: {{ data|json_encode|raw }},
                colors: {{ config.default_settings.chartColors|json_encode|raw }},
                fontColors: {{ options.settings.chartFontColor|json_encode|raw }},
                fontSize: {{ options.settings.chartFontSize|json_encode|raw }},
                {% if options.data_schema.value.formatter is defined %}
                formatter: '{{ options.data_schema.value.formatter }}',
                {% endif %}
                {% if options.settings.xNoTicks is defined %}
                noTicks: {{ options.settings.xNoTicks|json_encode|raw }}
                {% endif %}
            };
            $.orochart.barChart(options, $('#{{ containerId }}-chart'));
        });
    </script>
{% else %}
    <div class="container-fluid grid-container-parent">
        <div class="grid-container">
            <div class="clearfix no-data">
                <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
            </div>
        </div>
    </div>
{% endif %}
