{% if data|length>0  %}
    {% set widgetId = random() %}
    <div class="chart-container">
        <div class="clearfix">
            <div id="{{ widgetId }}-chart" class="bar-chart chart pull-left"></div>
        </div>
    </div>
    {% if isDesktopVersion() %}
        {# for desktop version #}
        <script type="text/javascript">
            require(['jquery', 'underscore', 'oroui/js/layout', 'flotr2',
                'orolocale/js/formatter/number', 'oroui/js/flotr2/funnel'],
                    function($, _, layout, Flotr, numberFormatter){
                        var formatter = numberFormatter;
                        $(function () {
                            var $chart = $('#{{ widgetId }}-chart');
                            var $widgetContent = $chart.parents('.chart-container').parent();
                            var setChartSize = function () {
                                var chartWidth = Math.round($widgetContent.width() * 0.9);
                                if (chartWidth != $chart.width()) {
                                    $chart.width(chartWidth);
                                    $chart.height(Math.min(Math.round(chartWidth * 0.4), 350));
                                    return true;
                                }
                                return false;
                            };
                            var setChartContainerSize = function () {
                                $chart.closest('.clearfix').width($chart.width());
                            };
                            var drawChart = function () {
                                if (!$chart.get(0).clientWidth) {
                                    return;
                                }
                                var data = {{ data|json_encode|raw }};
                                var chartData = {};
                                var nozzleSteps = [];
                                _.each(data, function(value, key) {
                                    if (value.value <= 0) {
                                        data[key].value = 0.0001;
                                    }
                                    chartData[value.label] = value.value;
                                    if (value.isNozzle) {
                                        nozzleSteps.push(value.label);
                                    }
                                });
                                console.log(chartData);
                                console.log(nozzleSteps);
                                Flotr.draw(
                                        $chart.get(0),
                                        new Array(chartData),
                                        {
                                            funnel : {
                                                show : true,
                                                formatter: formatter.formatCurrency,
                                                nozzleSteps: nozzleSteps,
                                                colors: {{ config.default_settings.chartColors|json_encode|raw }},
                                                tickFormatter: function (label, value) {
                                                    return label + ': ' + formatter.formatCurrency(value);
                                                },
                                                nozzleFormatter: function (label, value) {
                                                    return label
                                                            + ' ({{ 'from'|trans }} {{ options.settings.quarterDate|oro_format_date }}): '
                                                            + formatter.formatCurrency(value);
                                                }
                                            },
                                            mouse: {
                                                track: true,
                                                relative: true
                                            },
                                            grid: {
                                                outlineWidth: 0
                                            }
                                        }
                                );
                            };

                            layout.onPageRendered(function () {
                                setChartSize();
                                drawChart();
                                setChartContainerSize();
                            });

                            $(window).resize(function () {
                                if (setChartSize()) {
                                    drawChart();
                                    setChartContainerSize();
                                }
                            });
                        });
                    });
        </script>
    {% else %}
        {# for mobile version #}
        <div class="funnel-data">
            <ul>
                {% for item in data %}
                    {% if item.isNozzle %}
                        <li>{{ item.label }}: <b>{{ item.value|oro_format_currency }}</b></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h5>{{ 'from'|trans }} {{ options.settings.quarterDate|oro_format_date }}</h5>
            <ul>
                {% for item in data %}
                    {% if item.isNozzle %}
                        <li>{{ item.label }}: <b>{{ item.value|oro_format_currency }}</b></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% else %}
    <div class="clearfix no-data">
        <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
    </div>
{% endif %}
