{# Chart variables format:

    "options":
        "name": "chart_name",
        "data_schema" => array(
            "label" => array("field_name" => "name", "label" => "First Name", "frontend_type" => "string"),
            "value" => array("field_name" => "salary", "label" => "Salary", "frontend_type" => "money"),
        ),
        "settings" => array(
            "foo" => "bar"
        ),
    "config": { /** Chart config from in format of oro/chart.yml */ }
    "data": [
        {"label": "In progress", "value": 1000},
        {"label": "Lost", "value": 500},
        {"label": "Won", "value": 10000},
    ]

#}
{% if data|length>0  %}
{% set widgetId = random() %}
<div class="chart-container">
    <div class="clearfix">
        <div id="{{ widgetId }}-chart" class="bar-chart chart pull-left"></div>
    </div>
</div>

<script type="text/javascript">
    require(['jquery', 'oroui/js/layout', 'flotr2', 'oro/chart/data_formatter'],
            function($, layout, Flotr, dataFormatter){
                $(function () {
                    var $chart = $('#{{ widgetId }}-chart');
                    var $widgetContent = $chart.parents('.chart-container').parent();
                    var setChartSize = function () {
                        var chartWidth = Math.round($widgetContent.width() * 0.9);
                        if (chartWidth != $chart.width()) {
                            $chart.width(chartWidth);
                            $chart.height(Math.min(Math.round(chartWidth * 0.4), 350));
                            return true;
                        }
                        return false;
                    };
                    var setChartContainerSize = function () {
                        $chart.closest('.clearfix').width($chart.width());
                    };
                    var drawChart = function () {
                        var xFormat = {{ options.data_schema.label.frontend_type|json_encode|raw }};
                        var yFormat = {{ options.data_schema.value.frontend_type|json_encode|raw }};

                        if (!$chart.get(0).clientWidth) {
                            return;
                        }
                        var rawData = {{ data|json_encode|raw }}
                        var connectDots = {{ options.settings.connect_dots_with_line|json_encode|raw }};
                        var colors = {{ config.default_settings.chartColors|json_encode|raw }};
                        var chartData = [];
                        var yMax = null;
                        var yMin = null;
                        var xMax = null;
                        var xMin = null;
                        for(var i in rawData){
                            var yValue = dataFormatter.clearValue(rawData[i]['value'], yFormat);
                            yValue = yValue === null ? parseInt(i) : yValue;
                            var xValue = dataFormatter.clearValue(rawData[i]['label'], xFormat);
                            xValue = xValue === null ? parseInt(i) : xValue;
                            if(xMax === null){
                                xMax = xValue;
                                yMax = yValue;
                                yMin = yValue;
                                xMin = xValue;
                            }
                            xMax = xMax < xValue ? xValue : xMax;
                            xMin = xMin > xValue ? xValue : xMin;
                            yMax = yMax < yValue ? yValue : yMax;
                            yMin = yMin > yValue ? yValue : yMin;

                            var item = [xValue, yValue];
                            chartData.push(item);
                        }
                        xMax += (xMax - xMin)/10;
                        yMax += (yMax - yMin)/10;
                        var chart = {
                            data: chartData,
                            color: colors[0],
                            markers: {
                                show: true,
                                position: 'ct',
                                labelFormatter: function (pointData) {
                                    console.log(pointData);

                                    var label = dataFormatter.formatLabel(pointData.y, yFormat);
                                    if (label === null) {
                                        label = rawData[pointData.y]['value'];
                                    }
                                    return label;
                                }
                            },
                            points: {
                                show: !connectDots
                            }
                        };
                        Flotr.draw(
                                $chart.get(0),
                                [chart],
                                {
                                    colors: {{ options.settings.chartColors|json_encode|raw }},
                                    fontColor: {{ options.settings.chartFontColor|json_encode|raw }},
                                    fontSize: {{ options.settings.chartFontSize|json_encode|raw }},
                                    lines : {
                                        show : connectDots
                                    },
                                    mouse : {
                                        track : true,
                                        relative : true,
                                        trackFormatter: function (pointData) {
                                            return  dataFormatter.formatLabel(pointData.x, xFormat)+
                                                    ': ' + dataFormatter.formatLabel(pointData.y, yFormat);
                                        }
                                    },
                                    yaxis: {
                                        max: yMax,
                                        tickFormatter: function (y) {
                                            var label = dataFormatter.formatLabel(y, yFormat);
                                            if (label === null) {
                                                label = rawData[parseInt(y)]['value'];
                                            }
                                            return label;
                                        }
                                    },
                                    xaxis: {
                                        max: xMax,
                                        tickFormatter: function (x) {
                                            var label = dataFormatter.formatLabel(x, xFormat);
                                            if (label === null) {
                                                label = rawData[parseInt(x)]['value'];
                                            }
                                            return label;
                                        }
                                    },
                                    grid: {
                                        verticalLines : false
                                    }
                                }
                        );
                    };

                    layout.onPageRendered(function () {
                        setChartSize();
                        drawChart();
                        setChartContainerSize();
                    });

                    $(window).resize(function () {
                        if (setChartSize()) {
                            drawChart();
                            setChartContainerSize();
                        }
                    });
                });
            });
</script>
{% else %}
    <div class="clearfix no-data">
        <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
    </div>
{% endif %}
