{# Chart variables format:

    "options":
        "name": "chart_name",
        "data_schema" => array(
            "label" => array("field_name" => "name", "label" => "First Name", "type" => "string"),
            "value" => array("field_name" => "salary", "label" => "Salary", "type" => "money"),
        ),
        "settings" => array(
            "foo" => "bar"
        ),
    "config": { /** Chart config from in format of oro/chart.yml */ }
    "data": [
        {"label": "In progress", "value": 100, "fraction": 0.1},
        {"label": "Lost", "value": 500, "fraction": 0.5},
        {"label": "Won", "value": 400, "fraction": 0.4},
    ]

#}
{% if data|length>0  %}
{% set containerId = "chart-container-" ~ random() %}

<div class="chart-container">
    <div class="clearfix">
        <div id="{{ containerId }}-chart" class="pie-chart chart pull-left"></div>
        <div id="{{ containerId }}-legend" class="pie-chart-legend chart-legend pull-left"></div>
    </div>
</div>

<script type="text/javascript">
    require(['jquery', 'orochart/js/charts/pie_chart'], function($){
        var options = {
            containerId: '{{ containerId }}',
            rawData: {{ data|json_encode|raw }},
            colors: {{ config.default_settings.chartColors|json_encode|raw }},
            fontColors: {{ options.settings.chartFontColor|json_encode|raw }},
            lineColor: {{ options.settings.chartHighlightColor|json_encode|raw }},
            chartFontColor: {{ options.settings.chartFontColor|json_encode|raw }},
            fontSize: {{ options.settings.chartFontSize|json_encode|raw }},
            ratio: {{  isMobileVersion() ? '0.8' : '0.35' }},
            {% if options.data_schema.value.formatter is defined %}
            formatter: '{{ options.data_schema.value.formatter }}',
            {% endif %}
            {% if options.settings.xNoTicks is defined %}
            noTicks: {{ options.settings.xNoTicks|json_encode|raw }}
            {% endif %}
        };
        $.orochart.pieChart(options, $('#{{ containerId }}-chart'));
    });
</script>
{% else %}
    <div class="container-fluid grid-container-parent">
        <div class="grid-container">
            <div class="clearfix no-data">
                <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
            </div>
        </div>
    </div>
{% endif %}
