{% block oro_segment_filter_builder_row %}
    {% if form.name is defined %}
        {{ form_row(form.name, {
            'attr': {'class': 'control-group-oro_segment_filter_builder_segment_name'}
        }) }}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_row(form) }}
    </div>
{% endblock %}

{% block oro_segment_filter_builder_widget %}
    {% import 'OroSegmentBundle::macros.html.twig' as segmentQD %}
    {% import 'OroQueryDesignerBundle::macros.html.twig' as QD %}

    {% set segment = form.vars.value %}
    {% set id = form.vars.id %}
    {% set coditionBuilderId = id ~ '-condition-builder' %}
    {% set entityChoiceId = form.entity.vars.attr['data-ftid'] %}
    {% set definitionId = form.definition.vars.attr['data-ftid'] %}
    {% set metadata = oro_query_filter_metadata() %}
    {% set column_chain_template_id = 'column-chain-template-' ~ id %}

    {{ form_widget(form.entity) }}
    {{ form_widget(form.definition) }}
    {{ QD.query_designer_column_chain_template(column_chain_template_id) }}
    {{ segmentQD.query_designer_condition_builder({
        'id': coditionBuilderId,
        'currentSegmentId': segment.id|default(null),
        'page_limit': constant('\\Oro\\Bundle\\SegmentBundle\\Entity\\Manager\\SegmentManager::PER_PAGE'),
        'conditionBuilderOptions': condition_builder_options,
        'metadata': metadata,
        'column_chain_template_selector': '#' ~ column_chain_template_id
    }) }}

    {% set widgetOptions = {
        valueSource:                '[data-ftid=' ~ definitionId ~ ']',
        entityChoice:               '[data-ftid=' ~ entityChoiceId ~ ']',
        entityChangeConfirmMessage: 'oro.segment.condition_builder.confirm_message'|trans,
        metadata:                   metadata,
        initEntityChangeEvents:     false,
        select2FieldChoiceTemplate: '#' ~ column_chain_template_id,
    } %}

    {% set widgetOptions = update_segment_widget_options(widgetOptions, id) %}
    <div data-page-component-module="orosegment/js/app/components/segment-component"
         data-page-component-options="{{ widgetOptions|json_encode }}">
    </div>
{% endblock %}
