{% block block_widget %}
{% endblock %}

{% block block_attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- ' ' ~ attrname }}="{{ attrvalue }}"
    {%- endfor -%}
{%- endblock %}

{% block root_widget -%}
<!DOCTYPE html>
<html>
    {% for child in block if child.vars.visible %}{{ block_widget(child) }}{% endfor %}
</html>
{%- endblock %}

{% block head_widget %}
<head></head>
{% endblock %}

{% block body_widget %}
    <body>
        {% for child in block if child.vars.visible %}{{ block_widget(child) }}{% endfor %}
    </body>
{% endblock %}

{% block container_widget -%}
    <div{{ block("block_attributes") }}>
    {% for child in block if child.vars.visible %}
        {{ block_widget(child) }}
    {%- endfor %}
    </div>
{% endblock %}