<h4>Output</h4>
<table class='fullwidth'>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>
    </thead>
        <tbody>
        {% for name, infos in data %}
            <tr>
                <td>{{ name }}</td>
                <td>
                    {% if infos.dataType is defined %}
                        {% if infos.isCollection is defined and infos.isCollection and infos.dataType not in ['array', 'scalar'] %}
                            array of
                        {% endif %}
                        {% if infos.isRelation is defined and infos.isRelation %}
                            <a href="#get--api-{{ infos.dataType }}" onclick="return gotoResource('get--api-{{ infos.dataType }}');">{{ infos.dataType }}</a>
                        {% else %}
                            {{ infos.dataType }}
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ infos.description|extra_markdown }}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
