<div class="widget-content"
     data-page-component-module="oroworkflow/js/app/components/activate-form-widget-component"
     data-page-component-options="{{ {
         '_wid': app.request.get('_wid'),
         'workflow': workflow,
         'success': savedId is defined,
         'deactivated': deactivated is defined ? deactivated|join(', ') : null,
         'selectors': {
             'form': '#' ~ form.vars.id
         },
         'buttonName': 'activate',
         'error': error is defined ? error : null
     }|json_encode }}">

    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-error">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="alert workflow-deactivation-message">
        <div class="message">
            {% if workflowsToDeactivation %}
                <p>
                    {{ 'oro.workflow.workflowdefinition.form.workflow_to_deactivation_message'|trans }}
                    <ul>
                        {% for workflowToDeactivation in workflowsToDeactivation %}
                            <li>
                                <a href="{{ path('oro_workflow_definition_view', {name: workflowToDeactivation.name}) }}">{{ workflowToDeactivation.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% endif %}
            <p>{{ 'oro.workflow.workflowdefinition.form.replace_message'|trans }}</p>
        </div>
    </div>

    <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ app.request.uri }}" {{ form_enctype(form) }}
          method="{{ form.vars.method }}" data-collect="true" class="form-dialog">
        <fieldset class="form-horizontal">
            {{ form_row(form) }}
        </fieldset>

        <div class="hidden">
            {{ form_rest(form) }}
        </div>

        <div class="widget-actions">
            <button type="reset" class="btn">{{ 'Cancel'|trans }}</button>
            <button type="button" data-action-name="activate" class="btn btn-success">{{ 'oro.workflow.workflowdefinition.datagrid.activate'|trans }}</button>
        </div>
    </form>
    {{ oro_form_js_validation(form) }}
</div>
