@name = calendar_invitation_tentative
@entityName = Oro\Bundle\CalendarBundle\Entity\CalendarEvent
@subject = Tentative: {{ entity.title }}
@isSystem = 1
@isEditable = 1

<p><b>{{ entity.calendar.owner|oro_format_name|default('N/A') }} has changed invitation state to tentative.</b></p>
<h1>{{ entity.title }}</h1>
<div>
    <p><i>Start date:</i> {{ entity.start|date('F j, Y, g:i A') }}</p>
    <p><i>End date:</i> {{ entity.end|date('F j, Y, g:i A') }}</p>
    <p><i>Description:</i>{{ entity.description }}</p>
</div>
