@name = calendar_invitation_update
@entityName = Oro\Bundle\CalendarBundle\Entity\CalendarEvent
@subject = Update: {{ entity.title }}
@isSystem = 1
@isEditable = 1

<p><b>{{ entity.calendar.owner|oro_format_name|default('N/A') }} updated the event {{ entity.title }}.</b></p>
<h1>{{ entity.title }}</h1>
<div>
    <p><i>Start date:</i> {{ entity.start|oro_format_datetime_organization({'organization': entity.calendar.organization}) }}</p>
    <p><i>End date:</i> {{ entity.end|oro_format_datetime_organization({'organization': entity.calendar.organization}) }}</p>
    <p><i>Description:</i>{{ entity.description }}</p>
</div>
