{% import "OroEmailBundle::actions.html.twig" as Actions %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEmailBundle::macros.html.twig' as EA %}

{#
  variables:
    email - an Oro\Bundle\EmailBundle\Entity\Email
    emailCollapsed - bool, flag to show full email or collapsed, by default it is false (full email)
#}

{% set emailCollapsed = emailCollapsed is defined ? emailCollapsed : false %}
<div class="email-info{{ emailCollapsed ? '': ' in'}}">
    <div class="email-short">
        <div class="email-view-toggle">
            <div class="pull-right">
                <span class="email-sent-date">
                    <span class="comment-count" style="display:none" title="{{ 'oro.comment.quantity_label'|trans }}">
                        <i class="icon icon-comment"></i><span class="count"></span>
                    </span>
                    {% if email.emailBody and email.emailBody.hasAttachments %}
                        <i class="icon-paper-clip email-has-attachment"></i>
                    {% endif %}
                    {{ EA.date_smart_format(email.sentAt) }}
                </span>
            </div>
            <div class="email-participants">
                <span class="email-author">{{ EA.email_participant_name_or_me(email.fromEmailAddress, email.fromName, true) }}</span>
                <span class="email-recipients">{{ 'To'|trans|lower }} {{ EA.email_participants_name(email.recipients, true, false) }}</span>
            </div>
            <div class="email-body">
                {% if email.emailBody %}
                    {{ EA.email_short_body(email.emailBody, 200) }}
                {% else %}
                    {{ 'oro.email.body_is_unavailable'|trans }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="email-full">
        <div class="email-view-toggle">
            {% set actionParameters = routeParameters is defined ? {
            routeParameters: routeParameters
            } : {} %}
            {% set buttonsHtml %}
                {% if defaultReplyButton is not defined or defaultReplyButton == 1 %}
                    {{ Actions.replyButton(email, actionParameters) }}
                    {{ Actions.replyAllButton(email, actionParameters) }}
                {% else %}
                    {{ Actions.replyAllButton(email, actionParameters) }}
                    {{ Actions.replyButton(email, actionParameters) }}
                {% endif %}
                {{ Actions.forwardButton(email, actionParameters ) }}
            {% endset %}
            <div class="pull-right">
                {% if isDesktopVersion() %}
                    {{ UI.pinnedDropdownButton({'html': buttonsHtml}) }}
                {% endif %}
                <div class="email-sent-date">
                    <span class="comment-count" style="display:none" title="{{ 'oro.comment.quantity_label'|trans }}">
                        <i class="icon icon-comment"></i><span class="count"></span>
                    </span>
                    {% if email.emailBody and email.emailBody.hasAttachments %}
                        <i class="icon-paper-clip email-has-attachment"></i>
                    {% endif %}
                    {{ EA.date_smart_format(email.sentAt) }}<br />
                </div>
            </div>
            <div class="email-participants">
                <div class="email-author">{{ EA.email_participant_name_or_me(email.fromEmailAddress, email.fromName, true) }}</div>
                <span class="email-recipients">{{ 'To'|trans }}: {{ EA.email_participants_name(email.recipients, true) }}</span>
                <div class="email-detailed-info-table dropdown">
                    <span class="dropdown-toggle" data-toggle="dropdown" title="{{ 'oro.email.show_details.tooltip'|trans }}">
                        <i class="fa fa-caret-square-o-down"></i>
                    </span>
                    <div class="dropdown-menu" role="menu">
                        {{ EA.email_detailed_info_table(email) }}
                    </div>
                </div>
            </div>
            {% if isMobileVersion() %}
                <div class="email-actions clearfix">{{ buttonsHtml }}</div>
            {% endif %}
        </div>
        <div class="email-content clearfix">
            <div class="email-body responsive-cell">
                {% if email.emailBody %}
                    {% if email.emailBody.bodyIsText %}
                        {{ email.emailBody.bodyContent|nl2br }}
                    {% else %}
                        {% set emailBodyViewOptions = {
                            name: 'email-body',
                            view: 'oroemail/js/app/views/email-body-view',
                            bodyContent: email.emailBody.bodyContent,
                            styles: [
                                asset('bundles/oroform/css/wysiwyg-editor.css'),
                                asset('bundles/oroemail/css/email-body.css')
                            ]
                        } %}
                        <iframe data-page-component-module="oroui/js/app/components/view-component"
                                data-page-component-options="{{ emailBodyViewOptions|json_encode }}"></iframe>
                    {% endif %}
                {% else %}
                    {{ 'oro.email.body_is_unavailable'|trans }}
                {% endif %}
                {% if email.emailBody %}
                    {% set aCount = email.emailBody.attachments|length %}
                    {% set previewLimit = oro_config_value('oro_email.attachment_preview_limit') %}
                    {% if aCount %}
                        <div class="email-attachments-list-cont">
                            <h6 class="pull-left">{{ aCount }} {{ aCount > 1 ? 'oro.attachment.entity_plural_label'|trans : 'oro.attachment.entity_label'|trans }}</h6>
                            <a class="pull-left no-hash" href="{{ path('oro_email_body_attachments', {id: email.emailBody.id}) }}">{{ 'oro.email.attachment.download_all'|trans }}</a>
                            <ul class="email-attachments-list thumbnails {{ aCount > previewLimit ? 'name-only' : ''  }}">
                                {{ EA.attachments(email.emailBody.attachments, target, hasGrantReattach) }}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
            {%- set commentsData -%}
            {% placeholder view_content_data_comments with {entity: email} %}
            {%- endset -%}
            {% if commentsData is not empty %}
                <div class="responsive-cell">
                    {{ commentsData }}
                </div>
            {% endif  %}
        </div>
    </div>
</div>
