{% extends "OroUIBundle:actions:view.html.twig" %}
{% import "OroActivityBundle::macros.html.twig" as AC %}
{% import "OroEmailBundle::actions.html.twig" as Actions %}

{% oro_title_set({params : {"%subject%": entity.subject|oro_html_strip_tags} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_email_user_emails'),
        'indexLabel':  'oro.email.entity_plural_label'|trans,
        'entityTitle': entity.subject|oro_html_strip_tags,
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block pageActions %}
    <div class="pull-right email-thread-action-panel"></div>
{% endblock pageActions %}

{% block navButtons %}
    {% set buttonsHtml %}
        {# Button for add context on the activity list item view page #}
        {{ AC.addContextButton(entity) }}
        {{ Actions.addMarkUnreadButton(entity) }}
    {% endset %}
    {{ UI.pinnedDropdownButton({
        'html': buttonsHtml
    }) }}
{% endblock navButtons %}

{% block breadcrumb %}
    {% set breadcrumbs = [
        {'label': 'oro.email.menu.user_emails'|trans }
    ] %}
    {% include 'OroNavigationBundle:Menu:breadcrumbs.html.twig' %}
{% endblock breadcrumb %}

{% block stats %}
    {# Display contexts targets in the activity view page #}
    <li class="context-data activity-context-activity-block">
        {{ AC.activity_contexts(entity) }}
    </li>
{% endblock %}

{% block content_data %}
    <div class="container-fluid">
        <div class="responsive-section">
            {{ oro_widget_render({
                'widgetType': 'block',
                'wid': 'thread-view',
                'url': path('oro_email_thread_widget', {'id': entity.id, 'renderContexts': false,
                    'showSingleEmail': not oro_config_value('oro_email.threads_grouping')}),
                'alias': 'thread-view',
                'contextsRendered': true
            }) }}
        </div>
        <div class="widget-content email-activity-widget">
            <h4 class="scrollspy-title">{{ 'oro.activity.sections.activities'|trans }}</h4>
            <div class="scrollspy-nav-target"></div>
            <div class="responsive-section">
                {% placeholder view_content_data_activities with {entity: entity} %}
            </div>
        </div>
    </div>
{% endblock content_data %}
