{% extends "@OroUI/actions/view.html.twig" %}
{% import "@OroActivity/macros.html.twig" as AC %}
{% import "@OroEmail/actions.html.twig" as Actions %}

{% oro_title_set({params : {"%subject%": entity.subject|oro_html_strip_tags} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity':      entity,
        'indexPath':   path('oro_email_user_emails'),
        'indexLabel':  'oro.email.entity_plural_label'|trans,
        'entityTitle': entity.subject|oro_html_strip_tags,
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block pageActions %}
    <li class="pull-right email-thread-action-panel"></li>
{% endblock pageActions %}

{% block navButtons %}
    {% import '@OroActivity/macros.html.twig' as AC %}
    {% import "@OroEmail/actions.html.twig" as Actions %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% set buttonsHtml %}
        {# Button for add context on the activity list item view page #}
        {{ AC.addContextButton(entity) }}
        {{ Actions.addMarkUnreadButton(entity) }}
    {% endset %}
    {{ UI.pinnedDropdownButton({
        'html': buttonsHtml
    }) }}
{% endblock navButtons %}

{% block breadcrumb %}
    {% set breadcrumbs = [
        {'label': 'oro.email.menu.user_emails'|trans }
    ] %}
    {% include '@OroNavigation/Menu/breadcrumbs.html.twig' %}
{% endblock breadcrumb %}

{% block stats %}
    {% import '@OroActivity/macros.html.twig' as AC %}

    {# Display contexts targets in the activity view page #}
    <li class="context-data activity-context-activity-block">
        {{ AC.activity_contexts(entity) }}
    </li>
{% endblock %}

{% block content_data %}
    {% import '@OroUI/macros.html.twig' as UI %}

    {% set emailInfoWidget %}
        {{ oro_widget_render({
            'widgetType': 'block',
            'wid': 'thread-view',
            'url': path('oro_email_thread_widget', {'id': entity.id, 'renderContexts': false,
                'showSingleEmail': not oro_config_value('oro_email.threads_grouping')}),
            'alias': 'thread-view',
            'contextsRendered': true
        }) }}
    {% endset %}

    {% set activitiesData %}
        {% placeholder view_content_data_activities with {entity: entity} %}
    {% endset %}

    {% set dataBlocks = [
        {
            'title': 'General Information'|trans,
            'class': 'active',
            'subblocks': [{
            'data' : [emailInfoWidget]
        }]
        },
        {
            'title': 'oro.activity.sections.activities'|trans,
            'subblocks': [{
            'spanClass': 'widget-content email-activity-widget',
            'data' : [activitiesData]
        }]
        }
    ] %}

    {% set data = {'dataBlocks': dataBlocks} %}
    {% set id = 'threadEmails' %}
    {{ UI.scrollData(id, data, entity) }}
{% endblock content_data %}
