{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% block title %}{% trans %}Shortcut Actions List{% endtrans %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="clearfix">
        <h3>{% trans %}Shortcut Actions List{% endtrans %}</h3>

        {% if actionsList|length > 0 %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}Action Name{% endtrans %}</th>
                        <th>{% trans %}Description{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for action in actionsList if action.url %}
                    <tr>
                        {% if action.dialog_config is defined %}
                            <td>
                                {{
                                    UI.clientLink({
                                        'dataUrl': path(action.dialog_config.dataUrl),
                                        'aCss': action.dialog_config.aCss,
                                        'iCss': action.dialog_config.iCss,
                                        'label' : action.dialog_config.label|trans,
                                        'widget' : {
                                            'type' : action.dialog_config.widget.type,
                                            'multiple' : action.dialog_config.widget.multiple,
                                            'refresh-widget-alias': action.dialog_config.widget.refreshWidgetAlias,
                                            'options' : {
                                                'alias': action.dialog_config.widget.options.alias,
                                                'dialogOptions' : {
                                                    'title' : action.dialog_config.widget.options.dialogOptions.title|trans,
                                                    'allowMaximize': action.dialog_config.widget.options.dialogOptions.allowMaximize,
                                                    'allowMinimize': action.dialog_config.widget.options.dialogOptions.allowMinimize,
                                                    'dblclick': action.dialog_config.widget.options.dialogOptions.dblclick,
                                                    'maximizedHeightDecreaseBy': action.dialog_config.widget.options.dialogOptions.maximizedHeightDecreaseBy,
                                                    'width': action.dialog_config.widget.options.dialogOptions.width
                                                }
                                            }
                                        }
                                    })
                                }}
                            </td>
                            <td>{{ action.description|trans }}</td>
                        {% else %}
                            <td><a href="{{ action.url }}" target="_blank">{{ action.label|trans }}</a></td>
                            <td>{{ action.description|trans }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>{% trans %}Sorry, you don't have any action{% endtrans %}</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
