{% extends bap.layout %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroNavigationBundle::macros.html.twig' as Navigation %}

{% block title %}{% trans %}Shortcut Actions List{% endtrans %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="clearfix">
        <h3>{% trans %}Shortcut Actions List{% endtrans %}</h3>

        {% if actionsList|length > 0 %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{% trans %}Action Name{% endtrans %}</th>
                        <th>{% trans %}Description{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for action in actionsList if action.url %}
                    <tr>
                        {% if action.dialog is defined and action.dialog %}
                            <td>
                                {{ Navigation.renderClientLink(action.dialog_config, {
                                    entityClass: oro_class_name(app.user, true),
                                    entityId: app.user.id
                                }) }}
                            </td>
                            <td>{{ action.description|trans }}</td>
                        {% else %}
                            <td><a href="{{ action.url }}" target="_blank">{{ action.label|trans }}</a></td>
                            <td>{{ action.description|trans }}</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>{% trans %}Sorry, you don't have any action{% endtrans %}</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
