<fieldset class="form-horizontal">
    {% if form.imapAccountType.userEmailOrigin is defined %}
        <div {{ block('widget_container_attributes') }}>
            {%- if form.imapAccountType.userEmailOrigin.parent is empty -%}
                {{ form_errors(form.imapAccountType.userEmailOrigin) }}
            {%- endif -%}

            {% if form.imapAccountType.userEmailOrigin.check is defined %}
                <div class="control-group">
                    <div class="controls">
                        {{ form_widget(form.imapAccountType.userEmailOrigin.check) }}
                    </div>
                </div>
            {% endif %}

            {% if form.imapAccountType.userEmailOrigin.checkFolder is defined %}
                <div class="control-group">
                    <div class="controls">
                        {{ form_widget(form.imapAccountType.userEmailOrigin.checkFolder) }}
                    </div>
                </div>
            {% endif %}

            <div class="control-group">
                <div class="controls">
                    <div class="google-alert google-connection-status alert alert-error" style="display: none"></div>
                </div>
            </div>

            {{- form_rest(form.imapAccountType.userEmailOrigin) -}}
        </div>
    {% endif %}
</fieldset>
