{% block oro_imap_configuration_check_widget %}
    {% set data = form.parent.parent.vars.value %}
    {% if data and data.username is defined %}
        {% set forEntity = 'user' %}
    {% else %}
        {% set forEntity = 'mailbox' %}
    {% endif %}
    {% set options = form.vars.options|default({})|merge({
        elementNamePrototype: full_name,
        id: form.parent.vars.value and form.parent.vars.value.id is defined ? form.parent.vars.value.id : null,
        forEntity: forEntity,
        organization: data and data.organization is defined and data.organization ? data.organization.id : null,
        parentElementSelector: 'fieldset'
    }) %}
    {% set attr = attr|merge({
        'data-role': 'check-connection-btn',
        'data-page-component-module':  'oroimap/js/app/components/check-connection-component',
        'data-page-component-options': options|json_encode|raw,
    }) %}
    <div class="control-group">
        <div class="controls">
            {{ form_widget(form, {'attr': attr }) }}
            <div class="check-connection-messages"></div>
        </div>
    </div>
    <div class="container-config-group"
         data-page-component-module="oroimap/js/app/components/check-config-settings"
         data-page-component-options="">
    </div>`
{% endblock %}

{% block oro_imap_choice_account_type_widget %}

    {% set options = {
        'url' :  path("oro_imap_change_account_type"),
        'formSelector': '#'~formSelector|default(form.vars.id)
    } %}

    <div class="container-change-account-type"
        data-page-component-module="oroimap/js/app/components/account-type-component"
        data-page-component-options="{{ options|json_encode }}">
        {{- block('form_widget') -}}
    </div>
{% endblock %}

{% block oro_imap_configuration_gmail_widget %}

    {% set options = {
        'url' :  path("oro_imap_change_account_type"),
        'formSelector': '#'~formSelector|default(form.vars.id)
    } %}

    <div class="container-imap-gmail-container"
         data-page-component-module="oroimap/js/app/components/imap-gmail-component"
         data-page-component-options="{{ options|json_encode }}">
        {{- block('form_widget') -}}
    </div>
{% endblock %}
