{% block oro_imap_configuration_check_widget %}
    {% set data = form.parent.parent.vars.value %}
    {% if data and data.username is defined %}
        {% set forEntity = 'user' %}
    {% else %}
        {% set forEntity = 'mailbox' %}
    {% endif %}
    {% set options = form.vars.options|default({})|merge({
        elementNamePrototype: full_name,
        id: form.parent.vars.value and form.parent.vars.value.id is defined ? form.parent.vars.value.id : null,
        forEntity: forEntity,
        organization: data and data.organization is defined and data.organization ? data.organization.id : null,
        parentElementSelector: 'fieldset'
    }) %}
    {% set attr = attr|merge({
        'data-role': 'check-connection-btn',
        'data-page-component-module':  'oroimap/js/app/components/check-connection-component',
        'data-page-component-options': options|json_encode|raw,
    }) %}
    <div class="control-group">
        <div class="controls">
            {{ form_widget(form, {'attr': attr }) }}
            <div class="check-connection-messages"></div>
        </div>
    </div>
    <div class="container-config-group"
         data-page-component-module="oroimap/js/app/components/check-config-settings"
         data-page-component-options="">
    </div>`
{% endblock %}

{% block oro_imap_choice_account_type_widget %}

    {% set options = {
        'url' :  path("oro_imap_change_account_type"),
        'formSelector': '#'~formSelector|default(form.vars.id),
        'formParentName' : form.parent.vars.name
    } %}

    <div class="container-change-account-type"
        data-page-component-module="oroimap/js/app/components/account-type-component"
        data-page-component-options="{{ options|json_encode }}">
        <div {{ block('widget_container_attributes') }}>
            {%- if form.parent is empty -%}
                {{ form_errors(form) }}
            {%- endif -%}

            {% if (form.accountType is defined) %}
                {{ form_row(form.accountType) }}
            {% endif %}

            {% if (form.disconnect is defined) %}
                <div class="control-group">
                    <div class="controls">
                        {{ form_row(form.disconnect) }}
                    </div>
                </div>
            {% endif %}

            {% if form.userEmailOrigin is defined %}
                {{ form_widget(form.userEmailOrigin) }}
            {% endif %}

            {{- form_rest(form) -}}
        </div>
    </div>
{% endblock %}

{% block oro_imap_configuration_gmail_widget %}

    {% set options = {
        'url' :  path("oro_imap_change_account_type"),
        'urlGetFolders': path("oro_imap_gmail_connection_check"),
        'formSelector': '#'~formSelector|default(form.vars.id)
    } %}

    <div class="container-imap-gmail-container"
         data-page-component-module="oroimap/js/app/components/imap-gmail-component"
         data-page-component-options="{{ options|json_encode }}">
        <div {{ block('widget_container_attributes') }}>
            {%- if form.parent is empty -%}
                {{ form_errors(form) }}
            {%- endif -%}

            {% if form.check is defined %}
                <div class="control-group">
                    <div class="controls">
                        {{ form_widget(form.check) }}
                    </div>
                </div>
            {% endif %}

            {% if form.checkFolder is defined %}
                <div class="control-group">
                    <div class="controls">
                        {{ form_widget(form.checkFolder) }}
                    </div>
                </div>
            {% endif %}

            {{- form_rest(form) -}}
        </div>
    </div>
{% endblock %}

{% block oro_config_google_imap_sync_checkbox_widget %}
    {% set options = {
        errorMessage: '.default-alert',
        successMessage: '.alert-success',
        googleErrorMessage: '.google-alert'
    } %}
    <div data-page-component-module="oroimap/js/app/components/google-sync-checkbox-component"
        data-page-component-options="{{ options|json_encode }}" style="margin-top: 3px">
        {{ block('checkbox_widget') }}
        <div class="google-alert connection-status alert alert-error" style="display: none">

        </div>
        <div class="default-alert connection-status alert alert-error" style="display: none">
            {{ 'oro.imap.system_configuration.fields.enable_google_imap.error.label'|trans }}
        </div>
        <div class="alert connection-status alert-success" style="display: none">
            {{ 'oro.imap.system_configuration.fields.enable_google_imap.success.label'|trans }}
        </div>
    </div>
{% endblock %}

{% block oro_pro_ews_check_button_row %}
    {{ block('checkbox_row') }}
{% endblock %}

