<fieldset class="form-horizontal">
    {{ form_row(form.imapAccountType.accountType) }}

    {% if form.imapAccountType.imapConfiguration is defined %}
        {{ form_widget(form.imapAccountType.imapConfiguration) }}
    {% endif %}

    {% if form.imapAccountType.imapGmailConfiguration is defined %}
        {#{% if  form.imapAccountType.imapGmailConfiguration.check is defined %}#}
            {#<div class="control-group">#}
                {#<div class="controls">#}
                    {#{{ form_widget(form.imapAccountType.imapGmailConfiguration.check) }}#}
                {#</div>#}
            {#</div>#}
        {#{% endif %}#}
        {#{{ form_widget(form.imapAccountType.imapGmailConfiguration.accessToken) }}#}
        {{ form_widget(form.imapAccountType.imapGmailConfiguration) }}
    {% endif %}
</fieldset>
