{% extends 'OroUserBundle::layout.html.twig' %}

{% block bodyClass %}login-page{% endblock %}

{% block content %}
<div class="container">

    <form id="login-form" action="{{ path('oro_user_security_check') }}" method="post" class="form-signin">
        <div class="title-box">
            {% if oro_theme_logo() %}
            <h1 class="oro-title logo-{{ oro_theme_logo() ? 'image' : 'text' }}">
                <img src="{{ asset(oro_theme_logo()) }}">
            </h1>
            <span class="divider-vertical"></span>
            {% endif %}
            <h2 class="title">{{ 'Login'|trans }}</h2>
        </div>
        <fieldset>
            <script type="text/javascript">
                require(['jquery'], function ($) {
                    var $form = $('#login-form');
                    $form.on('submit', function () {
                        $form.find('button').attr('disabled', 'disabled');
                    });
                });
            </script>
            {% if error %}
                <div class="alert alert-error">
                    <div>{{ error|trans }}</div>
                </div>
            {% endif %}
            {%- set usernameLabel = 'Username'|trans %}
            {%- set passwordLabel = 'Password'|trans %}
            {%- set organizationLabel = 'Organization'|trans %}
            {%- set showLabels = (usernameLabel|length <= 9) and (passwordLabel|trans <= 9) %}
            <div class="input-prepend">
                {% if showLabels %}
                <span class="add-on">{{ usernameLabel }}</span>
                {% endif %}
                <input type="text" id="prependedInput" class="span2" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'Username or Email'|trans }}" autofocus/>
            </div>
            <div class="input-prepend">
                {% if showLabels %}
                <span class="add-on">{{ passwordLabel }}</span>
                {% endif %}
                <input type="password" id="prependedInput2" class="span2" name="_password" required="required" placeholder="{{ 'Password'|trans }}" autocomplete="off" />
            </div>
            <label class="checkbox oro-remember-me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'Remember me on this computer'|trans }}
            </label>
            <div class="control-group form-row">
                <a href="{{ path('oro_user_reset_request') }}">{{ 'Forgot your password?'|trans }}</a>
                <button type="submit" class="btn btn-large  btn-primary pull-right" id="_submit" name="_submit">{{ 'Log in'|trans }}</button>
            </div>
            {% if oro_config_value('oro_user.enable_google_sso') %}
                {{ 'oro.user.login.alternative.label'|trans }}
                {% for owner in hwi_oauth_resource_owners() %}
                    <a href="{{ hwi_oauth_authorization_url(owner) }}">{{ owner|trans({}, 'HWIOAuthBundle') }}</a>
                {% endfor %}
            {% endif %}
        </fieldset>
        <input type="hidden" name="_target_path" value="" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    </form>
</div>
{% endblock content %}
